Repository Vault-Overseers/nuclear-14, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Peptide90, @Partmedia, @Cheackraze, @Just-a-Unity-Dev, @Chief-Engineer, @moonheart08, @PaulRitter, @DrSmugleaf, @EmoGarbage404, @mirrorcult, @Emisse, @ElectroJr, @ficcialfaint, @RemieRichards, @PJB3005

with a linter fix roll it up
  Resources/Prototypes/Guidebook/antagonist.yml
  Resources/Prototypes/Guidebook/botany.yml
  Resources/Prototypes/Guidebook/cargo.yml
  Resources/Prototypes/Guidebook/engineering.yml
  Resources/Prototypes/Guidebook/medical.yml
  Resources/Prototypes/Guidebook/salvage.yml
  Resources/Prototypes/Guidebook/science.yml
  Resources/Prototypes/Guidebook/security.yml
  Resources/Prototypes/Guidebook/shiftandcrew.yml
  Resources/Prototypes/Guidebook/ss14.yml
Owners: none

oops
  Resources/Prototypes/Guidebook/medical.yml
Owners: none

Revert "oops"
  Resources/Prototypes/Guidebook/medical.yml
Owners: none

Revert "with a linter fix roll it up"
  Resources/Prototypes/Guidebook/antagonist.yml
  Resources/Prototypes/Guidebook/botany.yml
  Resources/Prototypes/Guidebook/cargo.yml
  Resources/Prototypes/Guidebook/engineering.yml
  Resources/Prototypes/Guidebook/medical.yml
  Resources/Prototypes/Guidebook/salvage.yml
  Resources/Prototypes/Guidebook/science.yml
  Resources/Prototypes/Guidebook/security.yml
  Resources/Prototypes/Guidebook/shiftandcrew.yml
  Resources/Prototypes/Guidebook/ss14.yml
Owners: none

ranged_mobs (#103)
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Projectiles/creature.yml
  Resources/Prototypes/Nuclear14/Mobs/NPCs/animals.yml
Owners: none

Speed up the wave defense timers (#104)
  Content.Server/GameTicking/Rules/Components/WaveDefenseRuleComponent.cs
Owners: @moonheart08, @EmoGarbage404

cvars and a few default updates
  Content.Shared/CCVar/CCVars.cs
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Maps/Pools/default.yml
Owners: @moonheart08, @Emisse

map and junk
  Resources/Maps/N14/wave1.yml
  Resources/Prototypes/Nuclear14/Entities/Structures/Decoration/junk_piles.yml
Owners: none

Set default cvars (#106)
  Content.Shared/CCVar/CCVars.cs
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Maps/Pools/default.yml
Owners: @moonheart08, @Emisse

ui
  Resources/Prototypes/Nuclear14/Entities/Structures/Decoration/junk_piles.yml
Owners: none

map_v.9 (#107)
  Resources/Maps/N14/wave1.yml
  Resources/Prototypes/Nuclear14/Entities/Structures/Decoration/junk_piles.yml
Owners: none

Update Rules.txt
  Resources/ServerInfo/Rules.txt
Owners: @moonheart08, @Chief-Engineer

Update RP_Rules.txt
  Resources/ServerInfo/RP_Rules.txt
Owners: @moonheart08, @Chief-Engineer

updates logo / icons
  Resources/Textures/Logo/icon/icon-128x128.png
  Resources/Textures/Logo/icon/icon-16x16.png
  Resources/Textures/Logo/icon/icon-24x24.png
  Resources/Textures/Logo/icon/icon-256x256.png
  Resources/Textures/Logo/icon/icon-32x32.png
  Resources/Textures/Logo/icon/icon-48x48.png
  Resources/Textures/Logo/icon/icon-64x64.png
  Resources/Textures/Logo/logo.png
  Resources/Textures/Logo/logo.svg
Owners: none

lower bloatfly fire rate
  Resources/Prototypes/Nuclear14/Mobs/NPCs/animals.yml
Owners: none

reduce yao guai speed
  Resources/Prototypes/Nuclear14/Mobs/NPCs/animals.yml
Owners: none

disable new upstream jobs from preferences
  Resources/Prototypes/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/boxer.yml
Owners: none

disable upstream species
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/dwarf.yml
  Resources/Prototypes/Species/moth.yml
Owners: none

make stimpaks heal airloss for now
  Resources/Prototypes/Nuclear14/Reagents/medicine.yml
Owners: none

adds barricade crafting back in
  Resources/Prototypes/Recipes/Construction/structures.yml
Owners: none

attempt to fix pill visuals
  Resources/Prototypes/Nuclear14/Entities/Objects/Specific/fallout_pills.yml
Owners: none

fix stimpak airloss
  Resources/Prototypes/Nuclear14/Reagents/medicine.yml
Owners: none

comments out remaining upstream cargo entries
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Catalog/Cargo/cargo_shuttle.yml
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
Owners: none

attempt to fix pill error
  Resources/Prototypes/Nuclear14/Entities/Objects/Specific/fallout_pills.yml
  Resources/Textures/Nuclear14/Objects/Specific/Medical/pills.rsi/meta.json
  Resources/Textures/Nuclear14/Objects/Specific/Medical/pills.rsi/pill1.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/pills.rsi/pill2.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/pills.rsi/pill3.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/pills.rsi/pill4.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/pills.rsi/pill5.png
Owners: none

wave balance
  Content.Server/GameTicking/Rules/Components/WaveDefenseRuleComponent.cs
  Content.Server/GameTicking/Rules/WaveDefenseRuleSystem.cs
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Projectiles/creature.yml
  Resources/Prototypes/Nuclear14/Mobs/NPCs/wavedefencemobs.yml
Owners: @moonheart08, @EmoGarbage404

add wavemob ghost role
  Resources/Prototypes/Nuclear14/Mobs/NPCs/basemob.yml
Owners: none

its set to easy mode so
  Content.Server/GameTicking/Rules/WaveDefenseRuleSystem.cs
Owners: @moonheart08, @EmoGarbage404

wave_defense_august (#108)
  Content.Server/GameTicking/Rules/Components/WaveDefenseRuleComponent.cs
  Content.Server/GameTicking/Rules/WaveDefenseRuleSystem.cs
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Projectiles/creature.yml
  Resources/Prototypes/Nuclear14/Mobs/NPCs/wavedefencemobs.yml
Owners: @moonheart08, @EmoGarbage404

fixes gate animation not playing
  Resources/Prototypes/Nuclear14/Entities/Structures/Doors/gates.yml
Owners: none

fix combat mode on mobs
  Resources/Prototypes/Nuclear14/Mobs/NPCs/basemob.yml
Owners: none

change bloatfly bullet physics a little
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Projectiles/creature.yml
Owners: none

Merge pull request #109
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Projectiles/creature.yml
Owners: none

Update antidote.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/fallout2.rsi/antidote.png
Owners: none

Update medicine.yml
  Resources/Prototypes/Nuclear14/Reagents/medicine.yml
Owners: none

Improve flares
  Resources/Prototypes/Entities/Objects/Tools/flare.yml
  Resources/Prototypes/Nuclear14/Catalog/Fills/Boxes/cargo.yml
  Resources/Prototypes/Nuclear14/Catalog/Fills/Boxes/general.yml
Owners: none

Adjust some random spawners
  Resources/Prototypes/Nuclear14/Markers/Spawners/Conditional/wavedefence_items.yml
Owners: none

Replace some guns with gun spawners
  Resources/Maps/N14/wave1.yml
Owners: none

Update medicine.yml (#110)
  Resources/Prototypes/Nuclear14/Reagents/medicine.yml
Owners: none

Update tags.yml
  Resources/Prototypes/Nuclear14/tags.yml
Owners: @Peptide90, @Just-a-Unity-Dev

Fix workflow repository commit specifier
  .github/workflows/rsi-diff.yml
Owners: @Partmedia

.github/CODEOWNERS:

/Content.*/Nuclear14/* @Peptide90 @Partmedia @Cheackraze
/.github/ @Partmedia

/Resources/Prototypes/Nuclear14/* @Peptide90 @Just-a-Unity-Dev
/Resources/Textures/Nuclear14/* @Peptide90

# Sorting by path instead of by who added it one day :(
/Resources/ConfigPresets/WizardsDen/  @Chief-Engineer

# Moony's Gargantuan List Of Things She Cares About, or MGLOTSCA for short.
# You need to add your name to these entries, not make a new one, if you care about them.
/Content.*/Bql/ @moonheart08
/Content.*/Administration/ @moonheart08 @PaulRitter @DrSmugleaf @Chief-Engineer
/Content.*/Station/ @moonheart08
/Content.*/Maps/ @moonheart08
/Content.*/GameTicking/ @moonheart08 @EmoGarbage404
/Resources/ServerInfo/ @moonheart08 @Chief-Engineer
/Resources/ServerInfo/Guidebook/ @moonheart08 @EmoGarbage404
/Resources/engineCommandPerms.yml @moonheart08 @Chief-Engineer
/Resources/clientCommandPerms.yml @moonheart08 @Chief-Engineer
/Resources/Prototypes/species.yml @moonheart08
/Resources/Prototypes/Body/ @moonheart08 @mirrorcult @DrSmugleaf # suffering
/Resources/Prototypes/Maps/ @moonheart08 @Emisse
/Resources/Prototypes/Entities/Mobs/Player/ @moonheart08 @mirrorcult @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @moonheart08 @mirrorcult @DrSmugleaf

/Content.*/Body/ @mirrorcult @DrSmugleaf
/Content.*/Chemistry/ @mirrorcult
/Content.*/StatusEffect/ @mirrorcult
/Content.*/Whitelist/ @mirrorcult
/Resources/Prototypes/Reagents/ @mirrorcult
/Resources/Prototypes/Recipes/Reactions @mirrorcult
/Resources/Prototypes/Chemistry @mirrorcult

/Content.*/Verbs/ @ElectroJr
/Content.Client/ContextMenu/ @ElectroJr
/Content.Shared/Damage/ @ElectroJr @DrSmugleaf
/Content.Shared/Containers/ItemSlot/ @ElectroJr
/Content.*/PowerCell/ @ElectroJr
/Content.*/Doors/ @ElectroJr
/Content.*/Interaction/ @ElectroJr
/Content.*/Hands/ @ElectroJr
/Content.*/Actions/ @ElectroJr
/Content.*/Explosion/ @ElectroJr

/Content.*/Anomaly/ @EmoGarbage404
/Content.*/Lathe/ @EmoGarbage404
/Content.*/Materials/ @EmoGarbage404
/Content.*/Mech/ @EmoGarbage404
/Content.*/Research/ @EmoGarbage404
/Content.*/Stack/ @EmoGarbage404
/Content.*/Xenoarchaeology/ @EmoGarbage404
/Content.*/Zombies/ @EmoGarbage404
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @EmoGarbage404
/Resources/Prototypes/Research/ @EmoGarbage404

/Content.*/Forensics/ @ficcialfaint

/Content.YAMLLinter @PaulRitter @DrSmugleaf
/Content.*/Inventory @PaulRitter
/Content.*/Arcade @PaulRitter
/Content.*/Conveyor @PaulRitter
/Content.*/Decals @PaulRitter
/Content.*/Objectives @PaulRitter
/Content.*/MachineLinking @PaulRitter
/Content.*/Crayon @PaulRitter
/Content.*/Clothing @PaulRitter

# Be they Fluent translations or Freemarker templates, I know them both!
*.ftl @RemieRichards

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @Chief-Engineer
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005
