Repository Vault-Overseers/nuclear-14, pull requests merged in 2022-08, with the labels that each got.

#23 CDN Shenanigans
  .github/workflows/publish.yml
  Tools/gen_build_info.py
Labels: No C#

#21 Decorative branch
  Resources/Prototypes/Nuclear14/Entities/Structures/Wallmount/adverts.yml
  Resources/Textures/Nuclear14/Structures/Wallmounts/adverts.rsi/meta.json
  Resources/Textures/Nuclear14/Structures/Wallmounts/adverts.rsi/mrhandy-damaged.png
  Resources/Textures/Nuclear14/Structures/Wallmounts/adverts.rsi/mrhandy-damaged2.png
  Resources/Textures/Nuclear14/Structures/Wallmounts/adverts.rsi/mrhandy-worn.png
  Resources/Textures/Nuclear14/Structures/Wallmounts/adverts.rsi/mrhandy-worn2.png
  Resources/Textures/Nuclear14/Structures/Wallmounts/adverts.rsi/mrhandy.png
  Resources/Textures/Nuclear14/Structures/Wallmounts/adverts.rsi/vaulttec-damaged.png
  Resources/Textures/Nuclear14/Structures/Wallmounts/adverts.rsi/vaulttec-worn.png
  Resources/Textures/Nuclear14/Structures/Wallmounts/adverts.rsi/vaulttec-worn2.png
  Resources/Textures/Nuclear14/Structures/Wallmounts/adverts.rsi/vaulttec.png
Labels: No C#, Changes: Sprites

#26 The unupstream PT1
  Resources/Locale/en-US/job/job-supervisors.ftl
  Resources/Prototypes/Nuclear14/Roles/Jobs/Brotherhood Washington/elder.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Brotherhood Washington/initiate.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Brotherhood Washington/knight.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Caravan Company/caravan_leader.yml
  Resources/Prototypes/Roles/Antags/Suspicion/suspicion_traitor.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
  Resources/Prototypes/Roles/Antags/zombie.yml
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/botanist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/psychologist.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
  Resources/Prototypes/species.yml
Labels: No C#, Status: Needs Review

#32 More guns
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Rifles/r91.rsi/inhand-left.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Rifles/r91.rsi/inhand-right.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Shotguns/combat_shotgun.rsi/base.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Shotguns/combat_shotgun.rsi/icon.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Shotguns/combat_shotgun.rsi/inhand-left.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Shotguns/combat_shotgun.rsi/inhand-right.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Shotguns/combat_shotgun.rsi/mag-0.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Shotguns/combat_shotgun.rsi/meta.json
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Shotguns/double_shotgun.rsi/icon.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Shotguns/double_shotgun.rsi/inhand-left.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Shotguns/double_shotgun.rsi/inhand-right.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Shotguns/double_shotgun.rsi/meta.json
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Shotguns/pump.rsi/icon.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Shotguns/pump.rsi/inhand-left.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Shotguns/pump.rsi/inhand-right.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Shotguns/pump.rsi/meta.json
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Snipers/hunting.rsi/base.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Snipers/hunting.rsi/inhand-left.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Snipers/hunting.rsi/inhand-right.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Snipers/hunting.rsi/meta.json
Labels: No C#, Changes: Sprites
