Repository Vault-Overseers/nuclear-14, pull requests merged in 2022-07, with the labels that each got.

#1 Nukmer Coler
  Resources/Prototypes/Nuclear14/Catalog/VendingMachines/Inventories/nuka.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Nuclear14/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Reagents/Consumable/Drink/soda.yml
  Resources/Textures/Nuclear14/Objects/Consumable/Drinks/nuka_cola.rsi/icon.png
  Resources/Textures/Nuclear14/Objects/Consumable/Drinks/nuka_cola.rsi/meta.json
  Resources/Textures/Nuclear14/Objects/Consumable/Drinks/nuka_cola.rsi/nuka_empty.png
  Resources/Textures/Nuclear14/Structures/Machines/VendingMachines/nukacola.rsi/broken.png
  Resources/Textures/Nuclear14/Structures/Machines/VendingMachines/nukacola.rsi/deny-unshaded.png
  Resources/Textures/Nuclear14/Structures/Machines/VendingMachines/nukacola.rsi/meta.json
  Resources/Textures/Nuclear14/Structures/Machines/VendingMachines/nukacola.rsi/normal-unshaded.png
  Resources/Textures/Nuclear14/Structures/Machines/VendingMachines/nukacola.rsi/off.png
  Resources/Textures/Nuclear14/Structures/Machines/VendingMachines/nukacola.rsi/panel.png
Labels: No C#, Changes: Sprites

#14 T-51 and T-45 Power Armor suits
  Resources/Prototypes/Nuclear14/Clothing/Head/powerarmorhelmet.yml
  Resources/Prototypes/Nuclear14/Clothing/OuterClothing/powerarmor.yml
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t45.rsi/equipped-HELMET-unshaded.png
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t45.rsi/icon-flash.png
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t45.rsi/icon-unshaded.png
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t45.rsi/icon.png
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t45.rsi/light-overlay.png
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t45.rsi/meta.json
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t45.rsi/off-equipped-HELMET.png
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t45.rsi/off-inhand-left-unshaded.png
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t45.rsi/off-inhand-left.png
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t45.rsi/off-inhand-right-unshaded.png
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t45.rsi/off-inhand-right.png
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t45.rsi/on-equipped-HELMET.png
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t45.rsi/on-inhand-left-unshaded.png
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t45.rsi/on-inhand-left.png
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t45.rsi/on-inhand-right-unshaded.png
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t45.rsi/on-inhand-right.png
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t51.rsi/equipped-HELMET-unshaded.png
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t51.rsi/icon-flash.png
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t51.rsi/icon-unshaded.png
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t51.rsi/icon.png
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t51.rsi/light-overlay.png
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t51.rsi/meta.json
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t51.rsi/off-equipped-HELMET.png
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t51.rsi/off-inhand-left-unshaded.png
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t51.rsi/off-inhand-left.png
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t51.rsi/off-inhand-right-unshaded.png
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t51.rsi/off-inhand-right.png
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t51.rsi/on-equipped-HELMET.png
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t51.rsi/on-inhand-left-unshaded.png
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t51.rsi/on-inhand-left.png
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t51.rsi/on-inhand-right-unshaded.png
  Resources/Textures/Nuclear14/Clothing/Head/PowerArmorHelmets/t51.rsi/on-inhand-right.png
  Resources/Textures/Nuclear14/Clothing/OuterClothing/PowerArmor/t45.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nuclear14/Clothing/OuterClothing/PowerArmor/t45.rsi/icon.png
  Resources/Textures/Nuclear14/Clothing/OuterClothing/PowerArmor/t45.rsi/inhand-left.png
  Resources/Textures/Nuclear14/Clothing/OuterClothing/PowerArmor/t45.rsi/inhand-right.png
  Resources/Textures/Nuclear14/Clothing/OuterClothing/PowerArmor/t45.rsi/meta.json
  Resources/Textures/Nuclear14/Clothing/OuterClothing/PowerArmor/t45d/README.txt
  Resources/Textures/Nuclear14/Clothing/OuterClothing/PowerArmor/t45d/equipped-OUTERCLOTHING.png
  Resources/Textures/Nuclear14/Clothing/OuterClothing/PowerArmor/t45d/icon.png
  Resources/Textures/Nuclear14/Clothing/OuterClothing/PowerArmor/t45d/meta.json
  Resources/Textures/Nuclear14/Clothing/OuterClothing/PowerArmor/t51.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nuclear14/Clothing/OuterClothing/PowerArmor/t51.rsi/icon.png
  Resources/Textures/Nuclear14/Clothing/OuterClothing/PowerArmor/t51.rsi/inhand-left.png
  Resources/Textures/Nuclear14/Clothing/OuterClothing/PowerArmor/t51.rsi/inhand-right.png
  Resources/Textures/Nuclear14/Clothing/OuterClothing/PowerArmor/t51.rsi/meta.json
  Resources/Textures/Nuclear14/Clothing/OuterClothing/PowerArmor/t51d/README.txt
  Resources/Textures/Nuclear14/Clothing/OuterClothing/PowerArmor/t51d/equipped-OUTERCLOTHING.png
  Resources/Textures/Nuclear14/Clothing/OuterClothing/PowerArmor/t51d/icon.png
  Resources/Textures/Nuclear14/Clothing/OuterClothing/PowerArmor/t51d/meta.json
Labels: No C#, Changes: Sprites

#13 Roles part 1
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Locale/en-US/job/job-supervisors.ftl
  Resources/Maps/fallout.yml
  Resources/Prototypes/Access/caravan.yml
  Resources/Prototypes/Access/midwestbos.yml
  Resources/Prototypes/Access/ncr.yml
  Resources/Prototypes/Access/tribal.yml
  Resources/Prototypes/Access/vault.yml
  Resources/Prototypes/Access/washingtonbos.yml
  Resources/Prototypes/Nuclear14/Maps/fallout.yml
  Resources/Prototypes/Nuclear14/Markers/Spawners/jobs.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Brotherhood Midwest/knight_commander.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Brotherhood Midwest/scribe.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Brotherhood Washington/elder.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Brotherhood Washington/initiate.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Brotherhood Washington/knight.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Brotherhood Washington/paladin.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Brotherhood Washington/scribe.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Caravan Company/caravan_leader.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Caravan Company/caravan_trader.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/ncr_cadet.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/ncr_nco.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/ncr_officer.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/ncr_soldier.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Tribal/tribal.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Tribal/tribalelder.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Tribal/tribalfarmer.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Tribal/tribalhealer.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Vault Dwellers/overseer.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Vault Dwellers/vaultdoctor.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Vault Dwellers/vaultdweller.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Vault Dwellers/vaultengineer.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Vault Dwellers/vaultsecurity.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Wastelanders/bartender.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Wastelanders/chaplain.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Wastelanders/farmer.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Wastelanders/musician.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Wastelanders/reporter.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Wastelanders/scavenger.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Wastelanders/wastelander.yml
Labels: No C#, Changes: Map

#16 Fallout floors pack 1
  Resources/Prototypes/Nuclear14/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Nuclear14/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/Nuclear14/Tiles/floors.yml
  Resources/Textures/Tiles/Nuclear14/carpet.png
  Resources/Textures/Tiles/Nuclear14/housebase.png
  Resources/Textures/Tiles/Nuclear14/maple.png
  Resources/Textures/Tiles/Nuclear14/oak.png
  Resources/Textures/Tiles/Nuclear14/oakbroken.png
  Resources/Textures/Tiles/Nuclear14/woodburnt.png
  Resources/Textures/Tiles/Nuclear14/woodburntbroken.png
  Resources/Textures/Tiles/Nuclear14/woodhouse.png
  Resources/Textures/Tiles/Nuclear14/woodhousebroken.png
Labels: No C#

#18 nuka cola girl signs by luckass
  Resources/Prototypes/Nuclear14/Entities/Structures/Wallmount/adverts.yml
  Resources/Textures/Nuclear14/Structures/Wallmounts/adverts.rsi/meta.json
  Resources/Textures/Nuclear14/Structures/Wallmounts/adverts.rsi/nukagirl-damaged.png
  Resources/Textures/Nuclear14/Structures/Wallmounts/adverts.rsi/nukagirl-worn.png
  Resources/Textures/Nuclear14/Structures/Wallmounts/adverts.rsi/nukagirl.png
Labels: No C#, Changes: Sprites

#17 First fallout guns
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Pistols/10mm.rsi/base.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Pistols/10mm.rsi/icon.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Pistols/10mm.rsi/inhand-left.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Pistols/10mm.rsi/inhand-right.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Pistols/10mm.rsi/mag-0.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Pistols/10mm.rsi/meta.json
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Pistols/12mm.rsi/base.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Pistols/12mm.rsi/icon.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Pistols/12mm.rsi/inhand-left.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Pistols/12mm.rsi/inhand-right.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Pistols/12mm.rsi/mag-0.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Pistols/12mm.rsi/meta.json
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Rifles/r91.rsi/base.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Rifles/r91.rsi/icon.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Rifles/r91.rsi/inhand-left.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Rifles/r91.rsi/inhand-right.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Rifles/r91.rsi/mag-0.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Rifles/r91.rsi/meta.json
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/SMGs/10mmSMG.rsi/base.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/SMGs/10mmSMG.rsi/icon.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/SMGs/10mmSMG.rsi/inhand-left.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/SMGs/10mmSMG.rsi/inhand-right.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/SMGs/10mmSMG.rsi/mag-0.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/SMGs/10mmSMG.rsi/meta.json
Labels: No C#, Changes: Sprites
