Repository Vault-Overseers/nuclear-14, pull requests merged in 2022-09, with the labels that each got.

#34 Fixes upstream merge errors (visualisers etc)
  Resources/Prototypes/Nuclear14/Catalog/VendingMachines/Inventories/nuka.yml
  Resources/Prototypes/Nuclear14/Entities/Structures/Machines/vending_machines.yml
Labels: No C#

#33 Playtime Tracking + Tile Fixes
  Resources/Locale/en-US/job/department.ftl
  Resources/Maps/fallout.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Nuclear14/Entities/Structures/Doors/FalloutDoors/airlocks.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Brotherhood Midwest/knight_commander.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Brotherhood Midwest/scribe.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Brotherhood Washington/elder.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Brotherhood Washington/initiate.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Brotherhood Washington/knight.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Brotherhood Washington/paladin.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Brotherhood Washington/scribe.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Caravan Company/caravan_leader.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Caravan Company/caravan_trader.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/ncr_cadet.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/ncr_nco.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/ncr_officer.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/ncr_soldier.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Tribal/tribal.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Tribal/tribalelder.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Tribal/tribalfarmer.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Tribal/tribalhealer.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Vault Dwellers/overseer.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Vault Dwellers/vaultdoctor.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Vault Dwellers/vaultdweller.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Vault Dwellers/vaultengineer.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Vault Dwellers/vaultsecurity.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Wastelanders/bartender.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Wastelanders/chaplain.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Wastelanders/farmer.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Wastelanders/musician.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Wastelanders/reporter.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Wastelanders/scavenger.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Wastelanders/wastelander.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/factions.yml
  Resources/Prototypes/Nuclear14/Roles/playtime_trackers.yml
  Resources/Prototypes/Nuclear14/Tiles/floors.yml
  Resources/Textures/Nuclear14/Tiles/attributions.yml
  Resources/Textures/Nuclear14/Tiles/carpet.png
  Resources/Textures/Nuclear14/Tiles/housebase.png
  Resources/Textures/Nuclear14/Tiles/maple.png
  Resources/Textures/Nuclear14/Tiles/oak.png
  Resources/Textures/Nuclear14/Tiles/oakbroken.png
  Resources/Textures/Nuclear14/Tiles/woodburnt.png
  Resources/Textures/Nuclear14/Tiles/woodburntbroken.png
  Resources/Textures/Nuclear14/Tiles/woodhouse.png
  Resources/Textures/Nuclear14/Tiles/woodhousebroken.png
  Resources/Textures/Tiles/attributions.yml
Labels: No C#, Changes: Map, Status: Needs Review

#35 adds fallout 2, 3 and 4 title soundtracks / music (PT1)
  Resources/Audio/Lobby/a_kiss_to_build_a_dream_on.ogg
  Resources/Audio/Lobby/attributions.yml
  Resources/Audio/Lobby/fallout_3_title.ogg
  Resources/Audio/Lobby/fallout_4_commonwealth.ogg
  Resources/Audio/Lobby/fallout_4_title.ogg
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: No C#

#36 Role Fix and Logo / Clean up stuff
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Server Info/Intro.txt
  Resources/Textures/Logo/icon.ico
  Resources/Textures/Logo/icon/icon-128x128.png
  Resources/Textures/Logo/icon/icon-16x16.png
  Resources/Textures/Logo/icon/icon-24x24.png
  Resources/Textures/Logo/icon/icon-256x256.png
  Resources/Textures/Logo/icon/icon-32x32.png
  Resources/Textures/Logo/icon/icon-48x48.png
  Resources/Textures/Logo/icon/icon-64x64.png
  Resources/Textures/Logo/logo.png
  Resources/Textures/Logo/logo.svg
  Resources/manifest.yml
Labels: No C#

#39 Attribution info for PR #31
  Resources/Textures/LobbyScreens/attributions.yml
Labels: No C#

#38 Some more guns
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/laser_pistol.rsi/base.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/laser_pistol.rsi/icon.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/laser_pistol.rsi/inhand-left.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/laser_pistol.rsi/inhand-right.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/laser_pistol.rsi/mag-unshaded-1.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/laser_pistol.rsi/mag-unshaded-2.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/laser_pistol.rsi/mag-unshaded-3.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/laser_pistol.rsi/mag-unshaded-4.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/laser_pistol.rsi/meta.json
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/laser_rifle.rsi/base.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/laser_rifle.rsi/icon.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/laser_rifle.rsi/inhand-left.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/laser_rifle.rsi/inhand-right.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/laser_rifle.rsi/mag-unshaded-1.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/laser_rifle.rsi/mag-unshaded-2.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/laser_rifle.rsi/mag-unshaded-3.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/laser_rifle.rsi/mag-unshaded-4.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/laser_rifle.rsi/meta.json
Labels: No C#, Changes: Sprites
