Repository Vault-Overseers/nuclear-14, pull requests merged in 2022-12, with the labels that each got.

#60 adds overseer spawn to map to fix tests
  Resources/Maps/fallout.yml
Labels: No C#, Changes: Map

#57 12mm SMG
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/SMGs/12mmSMG.rsi/base.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/SMGs/12mmSMG.rsi/icon.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/SMGs/12mmSMG.rsi/inhand-left.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/SMGs/12mmSMG.rsi/inhand-right.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/SMGs/12mmSMG.rsi/mag-0.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/SMGs/12mmSMG.rsi/meta.json
Labels: No C#, Changes: Sprites

#58 Adds barrels sprited by Mithrandalf
  Resources/Prototypes/Nuclear14/Entities/Structures/Storage/barrels.yml
  Resources/Textures/Nuclear14/Structures/Storage/barrels.rsi/black-closed.png
  Resources/Textures/Nuclear14/Structures/Storage/barrels.rsi/black-full.png
  Resources/Textures/Nuclear14/Structures/Storage/barrels.rsi/black-open.png
  Resources/Textures/Nuclear14/Structures/Storage/barrels.rsi/blue-closed.png
  Resources/Textures/Nuclear14/Structures/Storage/barrels.rsi/blue-open.png
  Resources/Textures/Nuclear14/Structures/Storage/barrels.rsi/meta.json
  Resources/Textures/Nuclear14/Structures/Storage/barrels.rsi/red-closed.png
  Resources/Textures/Nuclear14/Structures/Storage/barrels.rsi/red-full.png
  Resources/Textures/Nuclear14/Structures/Storage/barrels.rsi/red-open.png
  Resources/Textures/Nuclear14/Structures/Storage/barrels.rsi/yellow-closed.png
  Resources/Textures/Nuclear14/Structures/Storage/barrels.rsi/yellow-full.png
  Resources/Textures/Nuclear14/Structures/Storage/barrels.rsi/yellow-open.png
  Resources/Textures/Nuclear14/Structures/Storage/burningbarrel.rsi/burnbarrel.png
  Resources/Textures/Nuclear14/Structures/Storage/burningbarrel.rsi/burnbarrel_lit.png
  Resources/Textures/Nuclear14/Structures/Storage/burningbarrel.rsi/meta.json
Labels: No C#, Changes: Sprites

#55 Injectable Chems PR take 2
  Resources/Locale/en-US/reagents/meta/chemicals.ftl
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Prototypes/Nuclear14/Entities/Objects/Specific/Medical/chemicals.yml
  Resources/Prototypes/Nuclear14/Reagents/Consumable/Drink/soda.yml
  Resources/Prototypes/Nuclear14/Reagents/chems.yml
  Resources/Prototypes/Nuclear14/Reagents/medicine.yml
  Resources/Prototypes/Reagents/Consumable/Drink/soda.yml
  Resources/Textures/Nuclear14/Objects/Specific/Medical/bloodbags.rsi/fev.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/bloodbags.rsi/fev_empty.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/bloodbags.rsi/meta.json
  Resources/Textures/Nuclear14/Objects/Specific/Medical/bloodbags.rsi/radaway.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/bloodbags.rsi/radaway_empty.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/drugs.rsi/berserkerpowder.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/drugs.rsi/bitterdrink.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/drugs.rsi/bottle_primitive.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/drugs.rsi/healingpoultice.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/drugs.rsi/healingpowder.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/drugs.rsi/hydra.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/drugs.rsi/hydra0.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/drugs.rsi/jet.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/drugs.rsi/medx.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/drugs.rsi/medx0.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/drugs.rsi/meta.json
  Resources/Textures/Nuclear14/Objects/Specific/Medical/drugs.rsi/mourningpoultice.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/drugs.rsi/psycho.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/drugs.rsi/psycho0.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/drugs.rsi/stimpak.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/drugs.rsi/stimpak0.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/drugs.rsi/superstimpak.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/drugs.rsi/superstimpak0.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/drugs.rsi/traumapack.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/drugs.rsi/turbo.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/drugs.rsi/ultrastimpak.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/drugs.rsi/ultrastimpak0.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#61 Structure Pack 1 (Ladders, Desks, Chair, Closet & Fusion Generator)
  Resources/Prototypes/Nuclear14/Entities/Structures/Furniture/bookshelf.yml
  Resources/Prototypes/Nuclear14/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/Nuclear14/Entities/Structures/Furniture/table.yml
  Resources/Prototypes/Nuclear14/Entities/Structures/Misc/ladders.yml
  Resources/Prototypes/Nuclear14/Entities/Structures/Power/generators.yml
  Resources/Prototypes/Nuclear14/Entities/Structures/Storage/closets.yml
  Resources/Textures/Nuclear14/Structures/Furniture/bookshelf.rsi/book-0.png
  Resources/Textures/Nuclear14/Structures/Furniture/bookshelf.rsi/book-1.png
  Resources/Textures/Nuclear14/Structures/Furniture/bookshelf.rsi/book-2.png
  Resources/Textures/Nuclear14/Structures/Furniture/bookshelf.rsi/book-3.png
  Resources/Textures/Nuclear14/Structures/Furniture/bookshelf.rsi/book-4.png
  Resources/Textures/Nuclear14/Structures/Furniture/bookshelf.rsi/book-5.png
  Resources/Textures/Nuclear14/Structures/Furniture/bookshelf.rsi/bookshelf_1.png
  Resources/Textures/Nuclear14/Structures/Furniture/bookshelf.rsi/bookshelf_2.png
  Resources/Textures/Nuclear14/Structures/Furniture/bookshelf.rsi/bookshelf_3.png
  Resources/Textures/Nuclear14/Structures/Furniture/bookshelf.rsi/meta.json
  Resources/Textures/Nuclear14/Structures/Furniture/desks.rsi/desk_metal.png
  Resources/Textures/Nuclear14/Structures/Furniture/desks.rsi/desk_wood.png
  Resources/Textures/Nuclear14/Structures/Furniture/desks.rsi/meta.json
  Resources/Textures/Nuclear14/Structures/Furniture/schoolchair.rsi/chair.png
  Resources/Textures/Nuclear14/Structures/Furniture/schoolchair.rsi/meta.json
  Resources/Textures/Nuclear14/Structures/Furniture/schooldesk.rsi/desk_1.png
  Resources/Textures/Nuclear14/Structures/Furniture/schooldesk.rsi/desk_2.png
  Resources/Textures/Nuclear14/Structures/Furniture/schooldesk.rsi/meta.json
  Resources/Textures/Nuclear14/Structures/Misc/ladder.rsi/b_metal.png
  Resources/Textures/Nuclear14/Structures/Misc/ladder.rsi/b_metal_damaged.png
  Resources/Textures/Nuclear14/Structures/Misc/ladder.rsi/b_paint_1.png
  Resources/Textures/Nuclear14/Structures/Misc/ladder.rsi/b_paint_2.png
  Resources/Textures/Nuclear14/Structures/Misc/ladder.rsi/b_paint_3.png
  Resources/Textures/Nuclear14/Structures/Misc/ladder.rsi/b_rope.png
  Resources/Textures/Nuclear14/Structures/Misc/ladder.rsi/b_rope_damaged.png
  Resources/Textures/Nuclear14/Structures/Misc/ladder.rsi/b_rust.png
  Resources/Textures/Nuclear14/Structures/Misc/ladder.rsi/meta.json
  Resources/Textures/Nuclear14/Structures/Misc/ladder.rsi/metal.png
  Resources/Textures/Nuclear14/Structures/Misc/ladder.rsi/metal_damaged.png
  Resources/Textures/Nuclear14/Structures/Misc/ladder.rsi/paint_1.png
  Resources/Textures/Nuclear14/Structures/Misc/ladder.rsi/paint_2.png
  Resources/Textures/Nuclear14/Structures/Misc/ladder.rsi/paint_3.png
  Resources/Textures/Nuclear14/Structures/Misc/ladder.rsi/rope.png
  Resources/Textures/Nuclear14/Structures/Misc/ladder.rsi/rust.png
  Resources/Textures/Nuclear14/Structures/Misc/ladderss13.rsi/ladder_bottom.png
  Resources/Textures/Nuclear14/Structures/Misc/ladderss13.rsi/ladder_top.png
  Resources/Textures/Nuclear14/Structures/Misc/ladderss13.rsi/meta.json
  Resources/Textures/Nuclear14/Structures/Power/fusion_generator.rsi/fusion_generator.png
  Resources/Textures/Nuclear14/Structures/Power/fusion_generator.rsi/fusion_generator_buttons.png
  Resources/Textures/Nuclear14/Structures/Power/fusion_generator.rsi/fusion_generator_core.png
  Resources/Textures/Nuclear14/Structures/Power/fusion_generator.rsi/meta.json
  Resources/Textures/Nuclear14/Structures/Storage/closet.rsi/closet.png
  Resources/Textures/Nuclear14/Structures/Storage/closet.rsi/closet_door.png
  Resources/Textures/Nuclear14/Structures/Storage/closet.rsi/closet_open.png
  Resources/Textures/Nuclear14/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/Nuclear14/Structures/Storage/closet.rsi/welded.png
Labels: No C#, Changes: Sprites
