Repository Vault-Overseers/nuclear-14, pull requests merged in 2022-10, with the labels that each got.

#42 attribution formatting
  Resources/Audio/Lobby/attributions.yml
Labels: No C#

#43 Store Walls
  Resources/Prototypes/Nuclear14/Entities/Structures/Walls/walls.yml
  Resources/Textures/Nuclear14/Structures/Walls/store.rsi/full.png
  Resources/Textures/Nuclear14/Structures/Walls/store.rsi/meta.json
  Resources/Textures/Nuclear14/Structures/Walls/store.rsi/store0.png
  Resources/Textures/Nuclear14/Structures/Walls/store.rsi/store1.png
  Resources/Textures/Nuclear14/Structures/Walls/store.rsi/store2.png
  Resources/Textures/Nuclear14/Structures/Walls/store.rsi/store3.png
  Resources/Textures/Nuclear14/Structures/Walls/store.rsi/store4.png
  Resources/Textures/Nuclear14/Structures/Walls/store.rsi/store5.png
  Resources/Textures/Nuclear14/Structures/Walls/store.rsi/store6.png
  Resources/Textures/Nuclear14/Structures/Walls/store.rsi/store7.png
  Resources/Textures/Nuclear14/Structures/Walls/superstore.rsi/full.png
  Resources/Textures/Nuclear14/Structures/Walls/superstore.rsi/meta.json
  Resources/Textures/Nuclear14/Structures/Walls/superstore.rsi/store0.png
  Resources/Textures/Nuclear14/Structures/Walls/superstore.rsi/store1.png
  Resources/Textures/Nuclear14/Structures/Walls/superstore.rsi/store2.png
  Resources/Textures/Nuclear14/Structures/Walls/superstore.rsi/store3.png
  Resources/Textures/Nuclear14/Structures/Walls/superstore.rsi/store4.png
  Resources/Textures/Nuclear14/Structures/Walls/superstore.rsi/store5.png
  Resources/Textures/Nuclear14/Structures/Walls/superstore.rsi/store6.png
  Resources/Textures/Nuclear14/Structures/Walls/superstore.rsi/store7.png
Labels: No C#, Changes: Sprites

#46 Metal / Vault Floors Pack (#44)
  Resources/Prototypes/Nuclear14/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Nuclear14/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/Nuclear14/Tiles/floors.yml
  Resources/Textures/Nuclear14/Objects/Consumable/Food/pre-war.rsi/sugarbombs-chocolate.png
  Resources/Textures/Nuclear14/Objects/Consumable/Food/pre-war.rsi/sugarbombs-cinnamon.png
  Resources/Textures/Nuclear14/Tiles/attributions.yml
  Resources/Textures/Nuclear14/Tiles/metalblue.png
  Resources/Textures/Nuclear14/Tiles/metalbluesolid.png
  Resources/Textures/Nuclear14/Tiles/metalfreezer.png
  Resources/Textures/Nuclear14/Tiles/metalgreen.png
  Resources/Textures/Nuclear14/Tiles/metalgreensolid.png
  Resources/Textures/Nuclear14/Tiles/metalgrey.png
  Resources/Textures/Nuclear14/Tiles/metalgreydark.png
  Resources/Textures/Nuclear14/Tiles/metalgreydarksolid.png
  Resources/Textures/Nuclear14/Tiles/metalgreysolid.png
  Resources/Textures/Nuclear14/Tiles/metalpurple.png
  Resources/Textures/Nuclear14/Tiles/metalpurplesolid.png
  Resources/Textures/Nuclear14/Tiles/metalred.png
  Resources/Textures/Nuclear14/Tiles/metalredsolid.png
  Resources/Textures/Nuclear14/Tiles/metalteal.png
  Resources/Textures/Nuclear14/Tiles/metaltealsolid.png
  Resources/Textures/Nuclear14/Tiles/metalwhite.png
  Resources/Textures/Nuclear14/Tiles/metalwhitesolid.png
  Resources/Textures/Nuclear14/Tiles/metalyellow.png
  Resources/Textures/Nuclear14/Tiles/metalyellowsolid.png
  Resources/Textures/Nuclear14/Tiles/rubble.png
  Resources/Textures/Nuclear14/Tiles/wasteland.png
Labels: No C#, Changes: Sprites

#50 Adds missing spawn points - needs icons
  Resources/Prototypes/Nuclear14/Markers/Spawners/jobs.yml
Labels: No C#

#51 Map update (Fix tests, new floors and ladders)
  Resources/Maps/fallout.yml
  Resources/Prototypes/Nuclear14/Markers/Spawners/jobs.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Wastelanders/farmer.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/factions.yml
Labels: No C#, Changes: Map

#54 Hide upstream lobby art
  Resources/Prototypes/lobbyscreens.yml
Labels: No C#
