Repository Vault-Overseers/nuclear-14, pull requests merged in 2023-08, with the labels that each got.

#96 Plasma weapons
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/plasma_pistol.rsi/base.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/plasma_pistol.rsi/icon.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/plasma_pistol.rsi/inhand-left.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/plasma_pistol.rsi/inhand-right.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/plasma_pistol.rsi/mag-unshaded-1.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/plasma_pistol.rsi/mag-unshaded-2.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/plasma_pistol.rsi/mag-unshaded-3.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/plasma_pistol.rsi/mag-unshaded-4.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/plasma_pistol.rsi/meta.json
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/plasma_rifle.rsi/base.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/plasma_rifle.rsi/icon.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/plasma_rifle.rsi/inhand-left.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/plasma_rifle.rsi/inhand-right.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/plasma_rifle.rsi/mag-unshaded-1.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/plasma_rifle.rsi/mag-unshaded-2.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/plasma_rifle.rsi/mag-unshaded-3.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/plasma_rifle.rsi/mag-unshaded-4.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Battery/plasma_rifle.rsi/meta.json
Labels: No C#, Changes: Sprites

#102 Antidote
  Resources/Locale/en-US/Nuclear14/reagents.ftl
  Resources/Prototypes/Nuclear14/Catalog/Cargo/cargo_wavesurvival.yml
  Resources/Prototypes/Nuclear14/Catalog/Fills/storage_fills.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Specific/Medical/chemicals.yml
  Resources/Prototypes/Nuclear14/Reagents/medicine.yml
  Resources/Textures/Nuclear14/Objects/Specific/Medical/fallout2.rsi/antidote.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/fallout2.rsi/meta.json
Labels: No C#, Changes: Sprites

#103 ranged_mobs
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Projectiles/creature.yml
  Resources/Prototypes/Nuclear14/Mobs/NPCs/animals.yml
Labels: No C#

#105 Grey UI
  Content.Client/Administration/UI/BanList/BanListControl.xaml
  Content.Client/Administration/UI/BanList/BanListIdsPopup.xaml
  Content.Client/Administration/UI/CustomControls/PlayerListControl.xaml.cs
  Content.Client/Administration/UI/Logs/AdminLogsControl.xaml
  Content.Client/Administration/UI/Notes/AdminNotesControl.xaml
  Content.Client/Administration/UI/Notes/AdminNotesLinePopup.xaml
  Content.Client/Arcade/BlockGameMenu.cs
  Content.Client/Atmos/Monitor/UI/AirAlarmWindow.xaml
  Content.Client/Cargo/UI/CargoProductRow.xaml
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml
  Content.Client/Chemistry/UI/ReagentDispenserWindow.xaml
  Content.Client/Configurable/UI/ConfigurationMenu.cs
  Content.Client/Mech/Ui/MechMenu.xaml
  Content.Client/PDA/PdaNavigationButton.xaml.cs
  Content.Client/PDA/PdaProgramItem.xaml.cs
  Content.Client/PDA/PdaSettingsButton.xaml.cs
  Content.Client/ParticleAccelerator/UI/ParticleAcceleratorControlMenu.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Stylesheets/StyleBase.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/Stylesheets/StyleSpace.cs
  Content.Client/UserInterface/Controls/MenuButton.cs
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml
  Content.Client/UserInterface/Systems/Atmos/GasTank/GasTankWindow.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterButton.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml
  Content.Client/Wires/UI/WiresMenu.cs
  Resources/Textures/Interface/Default/left_arrow.svg.192dpi.png
  Resources/Textures/Interface/Default/right_arrow.svg.192dpi.png
  Resources/Textures/Interface/Nano/chat_sub_background.png
  Resources/Textures/Interface/Nano/checkbox_checked.svg.96dpi.png
  Resources/Textures/Interface/Nano/checkbox_unchecked.svg.96dpi.png
  Resources/Textures/Interface/Nano/gear.svg.192dpi.png
  Resources/Textures/Interface/Nano/item_status_left.svg.96dpi.png
  Resources/Textures/Interface/Nano/item_status_middle.svg.96dpi.png
  Resources/Textures/Interface/Nano/item_status_right.svg.96dpi.png
  Resources/Textures/Interface/Nano/light_panel_background_bordered.png
  Resources/Textures/Interface/Nano/lineedit.png
  Resources/Textures/Interface/Nano/lock.svg.192dpi.png
  Resources/Textures/Interface/Nano/lock_open.svg.192dpi.png
  Resources/Textures/Interface/Nano/stripeback.svg.96dpi.png
  Resources/Textures/Interface/Nano/tabcontainer_panel.png
  Resources/Textures/Interface/Nano/tooltip.png
  Resources/Textures/Interface/Nano/transparent_window_background_bordered.png
  Resources/Textures/Interface/Nano/window_background.png
  Resources/Textures/Interface/Nano/window_background_bordered.png
  Resources/Textures/Interface/Nano/window_header.png
  Resources/Textures/Interface/Nano/window_header_alert.png
  Resources/Textures/Interface/VerbIcons/sentient.svg.192dpi.png
Labels: Changes: UI

#109 bloat_bullet
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Projectiles/creature.yml
Labels: No C#

#110 Update medicine.yml
  Resources/Prototypes/Nuclear14/Reagents/medicine.yml
Labels: No C#

#111 Fix workflow repository commit specifier
  .github/workflows/rsi-diff.yml
Labels: No C#

#112 Update animals.yml
  Resources/Prototypes/Nuclear14/Mobs/NPCs/animals.yml
Labels: No C#

#113 Ammo Cleanup and Loot Pools
  Resources/Prototypes/Nuclear14/Catalog/Fills/storage_fills.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/10mm.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/12.7.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/12gauge.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/20gauge.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/22lr.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/308.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/44.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/45..yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/5.56.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/7.62.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/9mm.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/10mm.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/12.7.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/12gauge.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/20gauge.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/22lr.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/45.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/5.56.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/7.62.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/9mm.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Nuclear14/tags.yml
Labels: No C#, Status: Needs Review

#114 bloat_balance
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Projectiles/creature.yml
  Resources/Prototypes/Nuclear14/Mobs/NPCs/animals.yml
  Resources/Prototypes/Nuclear14/Mobs/NPCs/basemob.yml
Labels: No C#

#115 adds cazadors and radroaches
  Resources/Prototypes/Nuclear14/Mobs/NPCs/animals.yml
  Resources/Prototypes/Nuclear14/Mobs/NPCs/basemob.yml
  Resources/Prototypes/Nuclear14/Mobs/NPCs/wavedefencemobs.yml
  Resources/Textures/Nuclear14/Mobs/Animals/Insects/cazador.rsi/cazador.png
  Resources/Textures/Nuclear14/Mobs/Animals/Insects/cazador.rsi/dead.png
  Resources/Textures/Nuclear14/Mobs/Animals/Insects/cazador.rsi/meta.json
  Resources/Textures/Nuclear14/Mobs/Animals/Insects/radroach.rsi/dead.png
  Resources/Textures/Nuclear14/Mobs/Animals/Insects/radroach.rsi/gib.png
  Resources/Textures/Nuclear14/Mobs/Animals/Insects/radroach.rsi/meta.json
  Resources/Textures/Nuclear14/Mobs/Animals/Insects/radroach.rsi/radroach.png
Labels: No C#, Changes: Sprites

#116 More concrete and dirt tiles
  Resources/Prototypes/Nuclear14/Entities/Clothing/OuterClothing/powerarmor.yml
  Resources/Prototypes/Nuclear14/Mobs/NPCs/animals.yml
  Resources/Prototypes/Nuclear14/Tiles/floors.yml
  Resources/Textures/Nuclear14/Tiles/attributions.yml
  Resources/Textures/Nuclear14/Tiles/concrete-bay.png
  Resources/Textures/Nuclear14/Tiles/concrete-goon.png
  Resources/Textures/Nuclear14/Tiles/dirt.png
  Resources/Textures/Nuclear14/Tiles/hexacrete.png
  Resources/Textures/Nuclear14/Tiles/hexacrete_dark.png
Labels: No C#

#119 moves broc flower and xander root to gatherable system
  Resources/Prototypes/Nuclear14/Entities/Objects/Consumable/Flora/wastelandflora.yml
  Resources/Prototypes/Nuclear14/gatherable.yml
Labels: No C#, Status: Needs Review

#117 Big Mob Pack (Deathclaws and Passive Mobs)
  Resources/Locale/en-US/Nuclear14/reagents.ftl
  Resources/Prototypes/Nuclear14/Damage/modifier_sets.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Nuclear14/Markers/Spawners/mobs.yml
  Resources/Prototypes/Nuclear14/Mobs/NPCs/animals.yml
  Resources/Prototypes/Nuclear14/Mobs/NPCs/basemob.yml
  Resources/Prototypes/Nuclear14/Mobs/NPCs/insects.yml
  Resources/Prototypes/Nuclear14/Mobs/NPCs/wavedefencemobs.yml
  Resources/Prototypes/Nuclear14/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Nuclear14/Recipes/Crafting/steak.yml
  Resources/Prototypes/Nuclear14/tags.yml
  Resources/Textures/Nuclear14/Mobs/Animals/deathclaw.rsi/crit.png
  Resources/Textures/Nuclear14/Mobs/Animals/deathclaw.rsi/dead.png
  Resources/Textures/Nuclear14/Mobs/Animals/deathclaw.rsi/deathclaw.png
  Resources/Textures/Nuclear14/Mobs/Animals/deathclaw.rsi/gib.png
  Resources/Textures/Nuclear14/Mobs/Animals/deathclaw.rsi/meta.json
  Resources/Textures/Nuclear14/Mobs/Animals/deathclawalbino.rsi/dead.png
  Resources/Textures/Nuclear14/Mobs/Animals/deathclawalbino.rsi/deathclawalbino.png
  Resources/Textures/Nuclear14/Mobs/Animals/deathclawalbino.rsi/meta.json
  Resources/Textures/Nuclear14/Mobs/Animals/deathclawmetal.rsi/crit.png
  Resources/Textures/Nuclear14/Mobs/Animals/deathclawmetal.rsi/dead.png
  Resources/Textures/Nuclear14/Mobs/Animals/deathclawmetal.rsi/deathclawmetal.png
  Resources/Textures/Nuclear14/Mobs/Animals/deathclawmetal.rsi/meta.json
  Resources/Textures/Nuclear14/Mobs/Insects/bloatfly.rsi/bloatfly.png
  Resources/Textures/Nuclear14/Mobs/Insects/bloatfly.rsi/dead.png
  Resources/Textures/Nuclear14/Mobs/Insects/bloatfly.rsi/meta.json
  Resources/Textures/Nuclear14/Mobs/Insects/cazador.rsi/cazador.png
  Resources/Textures/Nuclear14/Mobs/Insects/cazador.rsi/dead.png
  Resources/Textures/Nuclear14/Mobs/Insects/cazador.rsi/meta.json
  Resources/Textures/Nuclear14/Mobs/Insects/fireant.rsi/dead.png
  Resources/Textures/Nuclear14/Mobs/Insects/fireant.rsi/fireant.png
  Resources/Textures/Nuclear14/Mobs/Insects/fireant.rsi/meta.json
  Resources/Textures/Nuclear14/Mobs/Insects/giantant.rsi/dead.png
  Resources/Textures/Nuclear14/Mobs/Insects/giantant.rsi/giantant.png
  Resources/Textures/Nuclear14/Mobs/Insects/giantant.rsi/meta.json
  Resources/Textures/Nuclear14/Mobs/Insects/radroach.rsi/dead.png
  Resources/Textures/Nuclear14/Mobs/Insects/radroach.rsi/gib.png
  Resources/Textures/Nuclear14/Mobs/Insects/radroach.rsi/meta.json
  Resources/Textures/Nuclear14/Mobs/Insects/radroach.rsi/radroach.png
Labels: No C#, Changes: Sprites, Status: Needs Review
