Repository Vault-Overseers/nuclear-14, pull requests merged in 2023-09, with the labels that each got.

#123 New gatherable plants and produce
  Content.Server/Gatherable/Components/GatherableComponent.cs
  Content.Server/Gatherable/GatherableSystem.Projectile.cs
  Content.Server/Gatherable/GatherableSystem.cs
  Content.Shared/Gatherable/GatherableDoAfterEvent.cs
  Resources/Maps/N14/wave1.yml
  Resources/Prototypes/Nuclear14/Catalog/Fills/gatherables.yml
  Resources/Prototypes/Nuclear14/Catalog/Fills/storage_fills.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Consumable/Flora/wastelandflora.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Nuclear14/Hydroponics/seeds.yml
  Resources/Prototypes/Nuclear14/Stacks/consumable_stacks.yml
  Resources/Prototypes/Nuclear14/gatherable.yml
  Resources/Textures/Nuclear14/Objects/Consumable/Flora/wastelandflora.rsi/BananaYucca.png
  Resources/Textures/Nuclear14/Objects/Consumable/Flora/wastelandflora.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#122 antidote injector texture
  Resources/Textures/Nuclear14/Objects/Specific/Medical/antidote-injector.rsi/icon.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/antidote-injector.rsi/inhand-left.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/antidote-injector.rsi/inhand-right.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/antidote-injector.rsi/meta.json
  Resources/Textures/Nuclear14/Objects/Specific/Medical/antidote-injector.rsi/used.png
Labels: No C#, Changes: Sprites

#127 Adds new antitoxin / antidote injector
  Resources/Locale/en-US/Nuclear14/reagents.ftl
  Resources/Prototypes/Nuclear14/Catalog/Cargo/cargo_wavesurvival.yml
  Resources/Prototypes/Nuclear14/Catalog/Fills/storage_fills.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Specific/Medical/chemicals.yml
  Resources/Prototypes/Nuclear14/Reagents/medicine.yml
Labels: No C#

#133 Bolt open corrections for most guns
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Pistols/10mm.rsi/bolt-open.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Pistols/10mmPIPEpistol.rsi/bolt-open.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Pistols/12mm.rsi/bolt-open.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Pistols/9mm.rsi/bolt-open.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Pistols/colt.rsi/bolt-open.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Revolvers/hunt_revolver.rsi/bolt-open.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Revolvers/magnum.rsi/bolt-open.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Revolvers/small_revolver.rsi/bolt-open.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Rifles/assaultcarbine.rsi/bolt-open.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Rifles/chineserifle.rsi/bolt-open.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Rifles/marksman.rsi/bolt-open.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Rifles/r91.rsi/bolt-open.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/SMGs/10mmPIPE.rsi/bolt-open.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/SMGs/10mmSMG.rsi/bolt-open.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/SMGs/12mmPIPE.rsi/bolt-open.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/SMGs/12mmSMG.rsi/bolt-open.png
Labels: No C#, Changes: Sprites

#132 Planter Box Sprite
  Resources/Textures/Nuclear14/Structures/Hydroponics/planterbox.rsi/blueflag.png
  Resources/Textures/Nuclear14/Structures/Hydroponics/planterbox.rsi/greenflag.png
  Resources/Textures/Nuclear14/Structures/Hydroponics/planterbox.rsi/icon.png
  Resources/Textures/Nuclear14/Structures/Hydroponics/planterbox.rsi/meta.json
  Resources/Textures/Nuclear14/Structures/Hydroponics/planterbox.rsi/redflag.png
  Resources/Textures/Nuclear14/Structures/Hydroponics/planterbox.rsi/weeds.png
  Resources/Textures/Nuclear14/Structures/Hydroponics/planterbox.rsi/yellowflag.png
Labels: No C#, Changes: Sprites
