Repository Vault-Overseers/nuclear-14, pull requests merged in 2024-09, with the labels that each got.

#493 Update battery_guns.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Changes: YML

#495 The Zomegerega update
  Resources/Prototypes/Entities/Objects/Decoration/flora.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/basemob.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/insects.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/Species/ghouls.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/axes.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Doors/doors.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Storage/barrels.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_nco.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/republic_ranger.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/republic_ranger_veteran.yml
Labels: Changes: YML

#492 Tribal, shopkeeper, and mayor loadouts updates.
  Resources/ConfigPresets/Build/development.toml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/Townshopkeeper.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/townmayor.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Tribal/tribal.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Tribal/tribalelder.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Tribal/tribalfarmer.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Tribal/tribalhealer.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/VaultDwellers/vaultsecurity.yml
Labels: Changes: YML, Changes: Config

#489 NCR have a pins!
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Neck/pins.yml
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_ncr.yml
  Resources/Textures/_Nuclear14/Clothing/Neck/Misc/pins.rsi/captain.png
  Resources/Textures/_Nuclear14/Clothing/Neck/Misc/pins.rsi/chiefphysician.png
  Resources/Textures/_Nuclear14/Clothing/Neck/Misc/pins.rsi/corporal.png
  Resources/Textures/_Nuclear14/Clothing/Neck/Misc/pins.rsi/doctor.png
  Resources/Textures/_Nuclear14/Clothing/Neck/Misc/pins.rsi/empty-equipped.png
  Resources/Textures/_Nuclear14/Clothing/Neck/Misc/pins.rsi/firstlieutenant.png
  Resources/Textures/_Nuclear14/Clothing/Neck/Misc/pins.rsi/gold-equipped.png
  Resources/Textures/_Nuclear14/Clothing/Neck/Misc/pins.rsi/major.png
  Resources/Textures/_Nuclear14/Clothing/Neck/Misc/pins.rsi/mastersergeant.png
  Resources/Textures/_Nuclear14/Clothing/Neck/Misc/pins.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/Neck/Misc/pins.rsi/private.png
  Resources/Textures/_Nuclear14/Clothing/Neck/Misc/pins.rsi/private1st.png
  Resources/Textures/_Nuclear14/Clothing/Neck/Misc/pins.rsi/recruit.png
  Resources/Textures/_Nuclear14/Clothing/Neck/Misc/pins.rsi/red-equipped.png
  Resources/Textures/_Nuclear14/Clothing/Neck/Misc/pins.rsi/secondlieutenant.png
  Resources/Textures/_Nuclear14/Clothing/Neck/Misc/pins.rsi/sergeant.png
  Resources/Textures/_Nuclear14/Clothing/Neck/Misc/pins.rsi/sergeant1st.png
  Resources/Textures/_Nuclear14/Clothing/Neck/Misc/pins.rsi/sergeantmajor.png
  Resources/Textures/_Nuclear14/Clothing/Neck/Misc/pins.rsi/silver-equipped.png
  Resources/Textures/_Nuclear14/Clothing/Neck/Misc/pins.rsi/specialist.png
Labels: Changes: Sprite, Changes: YML

#500 Some robot fixes
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/robots.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/Robots/base_borg_chassis.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/Robots/borg_chassis.yml
  Resources/Textures/_Nuclear14/Mobs/Robots/ms13robots.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#200 Weather
  Content.Client/Overlays/StencilOverlay.Weather.cs
  Content.Client/Overlays/StencilOverlay.cs
  Content.Client/Weather/WeatherSystem.cs
  Content.Server/Weather/WeatherSystem.cs
  Content.Shared/Weather/SharedWeatherSystem.cs
  Content.Shared/Weather/WeatherComponent.cs
  Content.Shared/Weather/WeatherPrototype.cs
  Resources/Locale/en-US/Nuclear14/Special/reagent-effects.ftl
  Resources/Locale/en-US/Nuclear14/Special/special-character-screen-description.ftl
  Resources/Locale/en-US/Nuclear14/Special/special-character-screen.ftl
  Resources/Locale/en-US/Nuclear14/Special/special.ftl
  Resources/Locale/en-US/_Nuclear14/respawn/respawn-system.ftl
  Resources/Locale/en-US/_Nuclear14/weather.ftl
  Resources/Locale/en-US/weather/weather.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_Nuclear14/Tiles/floors.yml
  Resources/Prototypes/_Nuclear14/weather.yml
  Resources/Prototypes/weather.yml
Labels: Changes: YML, Changes: C#, Changes: Localization

#499 Aiming system
  Content.Client/_NC/CameraFollow/CameraFollowSystem.cs
  Content.Shared/Camera/GetEyeOffsetEvent.cs
  Content.Shared/Camera/SharedCameraRecoilSystem.cs
  Content.Shared/_NC/CameraFollow/Components/CameraFollowComponent.cs
  Content.Shared/_NC/CameraFollow/EntitySystems/CameraActionsSystem.cs
  Content.Shared/_NC/CameraFollow/Events/ToggleCameraEvent.cs
  Content.Shared/_NC/FollowDistance/Components/FollowDistanceComponent.cs
  Content.Shared/_NC/FollowDistance/FollowDistanceSystem.cs
  Resources/Locale/en-US/_Nuclear14/zoom.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_Nuclear14/Actions/zoom.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Flamers/Flamers.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Heavy/launcher.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Heavy/minigun.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Heavy/missile.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/LMGs/LMGs.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Textures/_Nuclear14/Interface/Actions/aim_mode/aimmode.png
Labels: Changes: YML, Changes: C#, Changes: Localization

#502 add weather blocking marker
  Resources/Prototypes/_Nuclear14/Entities/Markers/environmental.yml
  Resources/Textures/_Nuclear14/Markers/environment.rsi/meta.json
  Resources/Textures/_Nuclear14/Markers/environment.rsi/weather.png
Labels: Changes: Sprite, Changes: YML

#507 Adding more recipes tables
  Resources/Prototypes/_Nuclear14/Entities/Structures/Furniture/table.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/Graphs/tables.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/furniture.yml
Labels: Changes: YML

#512 Jet recipe tweak
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/_Nuclear14/Recipes/Reactions/chems.yml
Labels: Changes: YML

#515 brahmin dung fix
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/animals.yml
Labels: Changes: YML

#518 Fix 125 Toolshed Commands Being Unusable for Anyone without +HOST (#572)
  Content.Server/Administration/Managers/AdminManager.cs
  Resources/toolshedEngineCommandPerms.yml
Labels: Changes: YML, Changes: C#

#509 Sawed Off Shotgun
  Resources/Locale/en-US/_Nuclear14/undecidedloadout.ftl
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Hydroponics/equipment.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/UndecidedLoadout.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/kits.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/12gauge.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/45-70.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/Graphs/weapons.yml
  Resources/Prototypes/_Nuclear14/Recipes/Crafting/storage.yml
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Shotguns/sawed_off.rsi/base.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Shotguns/sawed_off.rsi/bolt-open.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Shotguns/sawed_off.rsi/equipped-BELT.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Shotguns/sawed_off.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Shotguns/sawed_off.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Shotguns/sawed_off.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Shotguns/sawed_off.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Changes: Localization

#523 Added weapon recipes and minor fixes
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/junk.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Furniture/table.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/Graphs/tables.yml
  Resources/Prototypes/_Nuclear14/Recipes/Crafting/gun.yml
  Resources/Prototypes/_Nuclear14/Recipes/Crafting/guns.yml
  Resources/Prototypes/_Nuclear14/tags.yml
Labels: Changes: YML

#534 Loadout expansion
  Resources/Prototypes/_Nuclear14/Loadouts/items.yml
  Resources/Prototypes/_Nuclear14/Loadouts/shoes.yml
Labels: Changes: YML

#532 Adds new lobby music from FNV and moves all N14 music to subfolder
  Resources/Audio/Lobby/attributions.yml
  Resources/Audio/_Nuclear14/Lobby/MUS_Aint_That_A_Kick_In_the_Head.ogg
  Resources/Audio/_Nuclear14/Lobby/MUS_American_Swing.ogg
  Resources/Audio/_Nuclear14/Lobby/MUS_Big_Iron.ogg
  Resources/Audio/_Nuclear14/Lobby/MUS_Jingle_Jangle_Jingle.ogg
  Resources/Audio/_Nuclear14/Lobby/MUS_Joe_Cool_CAS.ogg
  Resources/Audio/_Nuclear14/Lobby/MUS_Johnny_Guitar.ogg
  Resources/Audio/_Nuclear14/Lobby/MUS_Somethings_Gotta_Give.ogg
  Resources/Audio/_Nuclear14/Lobby/a_kiss_to_build_a_dream_on.ogg
  Resources/Audio/_Nuclear14/Lobby/attributions.yml
  Resources/Audio/_Nuclear14/Lobby/fallout_3_title.ogg
  Resources/Audio/_Nuclear14/Lobby/fallout_4_commonwealth.ogg
  Resources/Audio/_Nuclear14/Lobby/fallout_4_title.ogg
  Resources/Audio/_Nuclear14/Lobby/maintitle.ogg
  Resources/Audio/_Nuclear14/Music/attributions.yml
  Resources/Audio/_Nuclear14/Music/mus_hailchief.ogg
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Prototypes/_Nuclear14/SoundCollections/lobby.yml
Labels: Changes: YML, Changes: Audio

#535 addictions for jet and psycho
  Resources/Prototypes/_Nuclear14/Mood/drugs.yml
  Resources/Prototypes/_Nuclear14/Reagents/chems.yml
Labels: Changes: YML

#536 the rest of the craftible chems
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Medical/chemicals.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/craftingbenches.yml
  Resources/Prototypes/_Nuclear14/Reagents/chems.yml
  Resources/Prototypes/_Nuclear14/Recipes/Lathes/chemistry.yml
  Resources/Prototypes/_Nuclear14/Recipes/Reactions/chems.yml
Labels: Changes: YML

#538 fixed plant display names
  Resources/Locale/en-US/_Nuclear14/seeds.ftl
  Resources/Prototypes/_Nuclear14/Hydroponics/seeds.yml
Labels: Changes: YML, Changes: Localization

#539 Variations and dungeons fix
  Resources/IgnoredPrototypes/ignoredPrototypes.yml
  Resources/Prototypes/DeltaV/GameRules/events.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/variation.yml
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
  Resources/Prototypes/game_presets.yml
Labels: Changes: YML

#540 F3 songs + Jukebox
  Resources/Audio/_Nuclear14/Music/Fallout3/attributions.yml
  Resources/Audio/_Nuclear14/Music/Fallout3/mus_billieholiday_crazy_mono.ogg
  Resources/Audio/_Nuclear14/Music/Fallout3/mus_billieholiday_easy_mono.ogg
  Resources/Audio/_Nuclear14/Music/Fallout3/mus_bobcrosby_happy_mono.ogg
  Resources/Audio/_Nuclear14/Music/Fallout3/mus_bobcrosby_way_mono.ogg
  Resources/Audio/_Nuclear14/Music/Fallout3/mus_coleporter_anything_mono.ogg
  Resources/Audio/_Nuclear14/Music/Fallout3/mus_dannykaye_civilization_mono.ogg
  Resources/Audio/_Nuclear14/Music/Fallout3/mus_generic_boogie_mono.ogg
  Resources/Audio/_Nuclear14/Music/Fallout3/mus_generic_fox_mono.ogg
  Resources/Audio/_Nuclear14/Music/Fallout3/mus_generic_jazzy_mono.ogg
  Resources/Audio/_Nuclear14/Music/Fallout3/mus_generic_sunning_mono.ogg
  Resources/Audio/_Nuclear14/Music/Fallout3/mus_generic_swing_mono.ogg
  Resources/Audio/_Nuclear14/Music/Fallout3/mus_inkspots_idont_mono.ogg
  Resources/Audio/_Nuclear14/Music/Fallout3/mus_roybrown_butcher_mono.ogg
  Resources/Audio/_Nuclear14/Music/Fallout3/mus_roybrown_mighty_mono.ogg
  Resources/Audio/_Nuclear14/Music/Fallout3/mus_texbeneke_guy_mono.ogg
  Resources/IgnoredPrototypes/ignoredPrototypes.yml
  Resources/Prototypes/_Nuclear14/Catalog/Jukebox/Standard.yml
Labels: Changes: YML, Changes: Audio

#543 MercerIsland hotfix
  Resources/Maps/N14/MercerIslandSurface.yml
Labels: Changes: Map

#550 Weapon ID Standardisation
  Resources/Migrations/N14Migrations.yml
  Resources/Prototypes/_Nuclear14/Catalog/Cargo/cargo_wavesurvival.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Belts/belt.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/storage_fills_rp.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/storage_fills_timed.yml
  Resources/Prototypes/_Nuclear14/Entities/Markers/Spawners/Conditional/wavedefence_items.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/weapons_incomplete.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/kits.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Flamers/Flamers.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Heavy/minigun.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/LMGs/LMGs.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_Nuclear14/Loadouts/items.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/Graphs/weapons.yml
  Resources/Prototypes/_Nuclear14/Recipes/Crafting/Graphs/guns.yml
  Resources/Prototypes/_Nuclear14/Recipes/Crafting/guns.yml
  Resources/Prototypes/_Nuclear14/Recipes/Lathes/weapons.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/CaravanCompany/caravan_guard.yml
Labels: Changes: YML

#547 Half wall, wood frame, and "infinite wood" fix
  Resources/Prototypes/_Nuclear14/Recipes/Construction/Graphs/Structures/halfwall.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/Graphs/Structures/woodwall.yml
Labels: Changes: YML

#544 better welding fuel generator
  Resources/Prototypes/_Nuclear14/Entities/Objects/Devices/machine_parts.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/craftingbenches.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Power/generators.yml
  Resources/Prototypes/_Nuclear14/Recipes/Lathes/machine_parts.yml
Labels: Changes: YML

#552 fix ranger whitelist requirement
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Rangers/ranger.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Rangers/ranger_chief.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Rangers/ranger_recruit.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Rangers/ranger_veteran.yml
Labels: Changes: YML

#545 New Materials
  Resources/Locale/en-US/_Nuclear14/reagents.ftl
  Resources/Maps/N14/MercerIslandSewers.yml
  Resources/Maps/N14/MercerIslandSurface.yml
  Resources/Maps/N14/SunnyvaleUnderground.yml
  Resources/Maps/N14/wave1.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/Entities/Objects/Materials/ingots.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Materials/metals.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/junk.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Doors/doors.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Doors/slanteddoors.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Doors/talldoors.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Furniture/junk.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Machines/machinepanels.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Machines/terminals.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/craftingbenches.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/wrecks.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Power/substation.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Storage/closets.yml
  Resources/Prototypes/_Nuclear14/Reagents/materials.yml
  Resources/Prototypes/_Nuclear14/Reagents/ores.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/Graphs/Structures/doors.yml
  Resources/Prototypes/_Nuclear14/Recipes/Crafting/guns.yml
  Resources/Prototypes/_Nuclear14/Recipes/Lathes/armor.yml
  Resources/Prototypes/_Nuclear14/Recipes/Lathes/materials.yml
  Resources/Prototypes/_Nuclear14/Recipes/Lathes/weapons.yml
  Resources/Prototypes/_Nuclear14/Stacks/material_stacks.yml
  Resources/Prototypes/_Nuclear14/gatherable.yml
  Resources/Prototypes/_Nuclear14/tags.yml
  Resources/ServerInfo/_Nuclear14/Guidebooks/Crafting/Materials.xml
  Resources/Textures/_Nuclear14/Objects/Misc/materials.rsi/ingot_iron.png
  Resources/Textures/_Nuclear14/Objects/Misc/materials.rsi/ingot_steel.png
  Resources/Textures/_Nuclear14/Objects/Misc/materials.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Weapons/Melee/brass_knife.rsi/equipped-BELT.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Melee/brass_knife.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Melee/brass_knife.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Melee/brass_knife.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Melee/brass_knife.rsi/meta.json
Labels: Changes: Map, Status: Merge Conflict, Changes: Sprite, Changes: Localization, Changes: Documentation

#553 Junk liquid containers and radio crafting
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/craftingmaterials.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/junk.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/craftingbenches.yml
  Resources/Prototypes/_Nuclear14/Recipes/Lathes/tools.yml
Labels: Changes: YML

#554 fix sprite
  Resources/Textures/_Nuclear14/Structures/Furniture/schoolchair.rsi/chair.png
Labels: Changes: Sprite

#555 Add Essentials to NCR MP Starting Kit
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/kits.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_mp.yml
Labels: Changes: YML
