Repository Vault-Overseers/nuclear-14, pull requests merged in 2024-06, with the labels that each got.

#199 Meat Recipes
  Resources/Prototypes/Nuclear14/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Nuclear14/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Nuclear14/Objects/Consumable/Food/meat.rsi/barkscorpionmeat.png
  Resources/Textures/Nuclear14/Objects/Consumable/Food/meat.rsi/barkscorpionmeat_roasted.png
  Resources/Textures/Nuclear14/Objects/Consumable/Food/meat.rsi/bighornermeat.png
  Resources/Textures/Nuclear14/Objects/Consumable/Food/meat.rsi/bighornermeat_roasted.png
  Resources/Textures/Nuclear14/Objects/Consumable/Food/meat.rsi/brahminmeat.png
  Resources/Textures/Nuclear14/Objects/Consumable/Food/meat.rsi/brahminmeat_roasted.png
  Resources/Textures/Nuclear14/Objects/Consumable/Food/meat.rsi/glowroachmeat.png
  Resources/Textures/Nuclear14/Objects/Consumable/Food/meat.rsi/glowroachmeat_roasted.png
  Resources/Textures/Nuclear14/Objects/Consumable/Food/meat.rsi/goldengeckomeat.png
  Resources/Textures/Nuclear14/Objects/Consumable/Food/meat.rsi/goldengeckomeat_roasted.png
  Resources/Textures/Nuclear14/Objects/Consumable/Food/meat.rsi/icegeckomeat.png
  Resources/Textures/Nuclear14/Objects/Consumable/Food/meat.rsi/icegeckomeat_roasted.png
  Resources/Textures/Nuclear14/Objects/Consumable/Food/meat.rsi/meta.json
  Resources/Textures/Nuclear14/Objects/Consumable/Food/meat.rsi/mirelurkclaw.png
  Resources/Textures/Nuclear14/Objects/Consumable/Food/meat.rsi/mirelurkclaw_roasted.png
  Resources/Textures/Nuclear14/Objects/Consumable/Food/meat.rsi/radlurkclaw.png
  Resources/Textures/Nuclear14/Objects/Consumable/Food/meat.rsi/radlurkclaw_roasted.png
  Resources/Textures/Nuclear14/Objects/Consumable/Food/meat.rsi/radroachfillet.png
  Resources/Textures/Nuclear14/Objects/Consumable/Food/meat.rsi/radroachfillet_roasted.png
  Resources/Textures/Nuclear14/Objects/Consumable/Food/meat.rsi/radscorpionmeat.png
  Resources/Textures/Nuclear14/Objects/Consumable/Food/meat.rsi/radscorpionmeat_roasted.png
  Resources/Textures/Nuclear14/Objects/Consumable/Food/meat.rsi/radstagmeat.png
  Resources/Textures/Nuclear14/Objects/Consumable/Food/meat.rsi/radstagmeat_roasted.png
  Resources/Textures/Nuclear14/Objects/Consumable/Food/meat.rsi/silvergeckomeat.png
  Resources/Textures/Nuclear14/Objects/Consumable/Food/meat.rsi/silvergeckomeat_roasted.png
Labels: Changes: Sprite, Changes: YML

#201 mob spawners
  Resources/Prototypes/Nuclear14/Markers/Spawners/mobs.yml
Labels: Changes: YML

#211 MS13 Tanks, Workbenches and TVs
  Resources/Prototypes/Nuclear14/Entities/Structures/Furniture/other_furniture.yml
  Resources/Prototypes/Nuclear14/Entities/Structures/Machines/terminals.yml
  Resources/Prototypes/Nuclear14/Entities/Structures/Misc/craftingbenches.yml
  Resources/Prototypes/Nuclear14/Entities/Structures/Storage/tanks.yml
  Resources/Textures/Nuclear14/Structures/Furniture/televisions.rsi/cabinet_tv.png
  Resources/Textures/Nuclear14/Structures/Furniture/televisions.rsi/cabinet_tv1.png
  Resources/Textures/Nuclear14/Structures/Furniture/televisions.rsi/meta.json
  Resources/Textures/Nuclear14/Structures/Furniture/televisions.rsi/radking_tv.png
  Resources/Textures/Nuclear14/Structures/Furniture/televisions.rsi/redwood_tv.png
  Resources/Textures/Nuclear14/Structures/Furniture/televisions.rsi/redwood_tv1.png
  Resources/Textures/Nuclear14/Structures/Furniture/televisions.rsi/small_tv.png
  Resources/Textures/Nuclear14/Structures/Furniture/televisions.rsi/small_tv1.png
  Resources/Textures/Nuclear14/Structures/Furniture/televisions.rsi/tiny_tv.png
  Resources/Textures/Nuclear14/Structures/Furniture/televisions.rsi/tiny_tv1.png
  Resources/Textures/Nuclear14/Structures/Furniture/televisions.rsi/tube_tv.png
  Resources/Textures/Nuclear14/Structures/Furniture/televisions.rsi/tube_tv1.png
  Resources/Textures/Nuclear14/Structures/Furniture/televisions.rsi/wood_tv.png
  Resources/Textures/Nuclear14/Structures/Furniture/televisions.rsi/wood_tv1.png
  Resources/Textures/Nuclear14/Structures/Misc/workbenches.rsi/ammobench.png
  Resources/Textures/Nuclear14/Structures/Misc/workbenches.rsi/armorbench.png
  Resources/Textures/Nuclear14/Structures/Misc/workbenches.rsi/chemicalset.png
  Resources/Textures/Nuclear14/Structures/Misc/workbenches.rsi/meta.json
  Resources/Textures/Nuclear14/Structures/Misc/workbenches.rsi/tinkerbench.png
  Resources/Textures/Nuclear14/Structures/Misc/workbenches.rsi/weaponbench.png
  Resources/Textures/Nuclear14/Structures/Misc/workbenches.rsi/workbench.png
  Resources/Textures/Nuclear14/Structures/Storage/tanks.rsi/chemical_container.png
  Resources/Textures/Nuclear14/Structures/Storage/tanks.rsi/chemical_container_broken.png
  Resources/Textures/Nuclear14/Structures/Storage/tanks.rsi/largetank.png
  Resources/Textures/Nuclear14/Structures/Storage/tanks.rsi/largetank_chemical.png
  Resources/Textures/Nuclear14/Structures/Storage/tanks.rsi/largetank_chemical_huge.png
  Resources/Textures/Nuclear14/Structures/Storage/tanks.rsi/largetank_pipe.png
  Resources/Textures/Nuclear14/Structures/Storage/tanks.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#209 Crafting and Reactions PR
  Resources/IgnoredPrototypes/ignoredPrototypes.yml
  Resources/Locale/en-US/Nuclear14/construction.ftl
  Resources/Locale/en-US/Nuclear14/reagents.ftl
  Resources/Prototypes/Nuclear14/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Nuclear14/Entities/Mobs/NPCs/basemob.yml
  Resources/Prototypes/Nuclear14/Entities/Mobs/NPCs/insects.yml
  Resources/Prototypes/Nuclear14/Entities/Mobs/NPCs/wavedefencemobs.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Consumable/Food/pre-warfood.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Materials/metals.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Specific/Hydroponics/equipment.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Specific/Medical/chemicals.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Specific/Medical/fallout_pill_canisters.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Specific/Medical/fallout_pills.yml
  Resources/Prototypes/Nuclear14/Entities/Structures/Misc/craftingbenches.yml
  Resources/Prototypes/Nuclear14/Entities/Structures/Walls/rock.yml
  Resources/Prototypes/Nuclear14/Reagents/biological.yml
  Resources/Prototypes/Nuclear14/Reagents/materials.yml
  Resources/Prototypes/Nuclear14/Reagents/medicine.yml
  Resources/Prototypes/Nuclear14/Reagents/ores.yml
  Resources/Prototypes/Nuclear14/Recipes/Construction/structures.yml
  Resources/Prototypes/Nuclear14/Recipes/Crafting/medical.yml
  Resources/Prototypes/Nuclear14/Recipes/Crafting/storage.yml
  Resources/Prototypes/Nuclear14/Recipes/Lathes/ammo.yml
  Resources/Prototypes/Nuclear14/Recipes/Lathes/categories.yml
  Resources/Prototypes/Nuclear14/Recipes/Lathes/chemistry.yml
  Resources/Prototypes/Nuclear14/Recipes/Lathes/cooking.yml
  Resources/Prototypes/Nuclear14/Recipes/Lathes/janitorial.yml
  Resources/Prototypes/Nuclear14/Recipes/Lathes/tools.yml
  Resources/Prototypes/Nuclear14/Recipes/Reactions/materials.yml
  Resources/Prototypes/Nuclear14/Recipes/Reactions/medicine.yml
  Resources/Prototypes/Nuclear14/Recipes/Reactions/ores.yml
  Resources/Prototypes/Nuclear14/Stacks/material_stacks.yml
  Resources/Prototypes/Nuclear14/gatherable.yml
  Resources/Prototypes/ore.yml
  Resources/Textures/Nuclear14/Objects/Misc/crafting_material.rsi/meta.json
  Resources/Textures/Nuclear14/Objects/Misc/crafting_material.rsi/ore_fertilizer.png
Labels: Changes: Sprite, Changes: YML, Changes: Localization

#221 Loot table update
  Resources/Prototypes/Nuclear14/Catalog/Fills/storage_fills.yml
Labels: Changes: YML

#224 More loot table changes
  Resources/Prototypes/Nuclear14/Catalog/Fills/storage_fills.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Misc/junk.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
Labels: Changes: YML

#227 balance changes
  Resources/Prototypes/Nuclear14/Entities/Clothing/OuterClothing/falloutarmor.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/12gauge.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: Changes: YML

#229 Update shotguns.yml
  Resources/Audio/Weapons/Guns/EmptyAlarm/smg_empty_alarm.ogg
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: Changes: YML, Changes: Audio

#226 Minor fixes and miscellaneous stuff
  Resources/Locale/en-US/Nuclear14/reagents.ftl
  Resources/Prototypes/Nuclear14/Entities/Objects/Consumable/Flora/wastelandflora.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Misc/craftingmaterials.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Misc/junk.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Specific/Medical/chemicals.yml
  Resources/Prototypes/Nuclear14/Entities/Structures/Misc/craftingbenches.yml
  Resources/Prototypes/Nuclear14/Reagents/Consumable/extracts.yml
  Resources/Prototypes/Nuclear14/Reagents/products.yml
  Resources/Prototypes/Nuclear14/Recipes/Lathes/chemistry.yml
  Resources/Prototypes/Nuclear14/Recipes/Reactions/medicine.yml
Labels: Changes: YML, Changes: Localization

#231 Adds more medicine, chems and reagents
  Resources/Locale/en-US/Nuclear14/reagents.ftl
  Resources/Prototypes/Nuclear14/Entities/Objects/Specific/Medical/chemicals.yml
  Resources/Prototypes/Nuclear14/Reagents/medicine.yml
  Resources/Textures/Nuclear14/Objects/Specific/Medical/drugs.rsi/meta.json
  Resources/Textures/Nuclear14/Objects/Specific/Medical/drugs.rsi/smellingsalts.png
  Resources/Textures/Nuclear14/Objects/Specific/Medical/drugs.rsi/smellingsalts0.png
Labels: Changes: Sprite, Changes: YML, Changes: Localization

#232 Disable Psionics
  Content.Shared/CCVar/CCVars.cs
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/familiars.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/glimmer_creatures.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Player/harpy.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Player/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Player/diona.yml
  Resources/Prototypes/Entities/Mobs/Player/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Player/familiars.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Mobs/Player/moth.yml
  Resources/Prototypes/Entities/Mobs/Player/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Player/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Player/slime.yml
  Resources/Prototypes/Entities/Mobs/Player/vox.yml
  Resources/Prototypes/Entities/Mobs/Species/golem.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/item_artifacts.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/structure_artifacts.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/factions.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/psionic_clothing.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/mutants.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/Oni.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/felinid.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/special.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Research/crystals.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/metempsychoticMachine.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/glimmer_prober.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/oracle.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/sophicscribe.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensicmantis.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: Changes: YML, Changes: C#

#236 Prevent Radroaches From Killing Fusion Core
  Resources/Prototypes/Nuclear14/Entities/Structures/Power/generators.yml
Labels: Changes: YML

#235 Fix Nav Smash For Boss Enemies
  Resources/Prototypes/Nuclear14/Entities/Mobs/NPCs/animals.yml
Labels: Changes: YML

#237 Roles tweaks
  Resources/Prototypes/Nuclear14/Catalog/Fills/Belts/belt.yml
  Resources/Prototypes/Nuclear14/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Nuclear14/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Specific/Kits/kits.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Nuclear14/Loadouts/Roles/loadouts_ncr.yml
  Resources/Prototypes/Nuclear14/Loadouts/Roles/loadouts_ranger.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/BrotherhoodMidwest/knight.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/BrotherhoodMidwest/paladin-commander.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/BrotherhoodMidwest/paladin.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/BrotherhoodMidwest/scribe.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/BrotherhoodMidwest/squire.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/BrotherhoodWashington/captain.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/BrotherhoodWashington/commander.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/BrotherhoodWashington/recruit.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/BrotherhoodWashington/researcher.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/BrotherhoodWashington/soldier.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/ncr_cadet.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/ncr_nco.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/ncr_officer.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/ncr_soldier.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/republic_ranger.yml
  Resources/Textures/Nuclear14/Clothing/Head/FalloutHats/brotherhoodhat.rsi/equipped-HELMET.png
  Resources/Textures/Nuclear14/Clothing/Head/FalloutHats/brotherhoodhat.rsi/icon.png
  Resources/Textures/Nuclear14/Clothing/Head/FalloutHats/brotherhoodhat.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#239 tweaks
  Resources/Locale/en-US/Nuclear14/job-names.ftl
  Resources/Prototypes/Nuclear14/Catalog/Fills/Belts/belt.yml
  Resources/Prototypes/Nuclear14/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Nuclear14/Entities/Clothing/Mask/gasmasks.yml
  Resources/Prototypes/Nuclear14/Entities/Clothing/OuterClothing/falloutarmor.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Specific/Kits/kits.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Melee/axes.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Rangers/ranger.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Rangers/ranger_recruit.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Rangers/ranger_veteran.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/factions.yml
  Resources/Textures/Clothing/Belt/medical.rsi/equipped-BELT.png
  Resources/Textures/Clothing/Belt/medical.rsi/icon.png
  Resources/Textures/Clothing/Belt/medical.rsi/inhand-left.png
  Resources/Textures/Clothing/Belt/medical.rsi/inhand-right.png
  Resources/Textures/Nuclear14/Clothing/Head/FalloutHats/armycap.rsi/equipped-HELMET.png
  Resources/Textures/Nuclear14/Clothing/Head/FalloutHelmets/enclavehelmet.rsi/equipped-HELMET.png
  Resources/Textures/Nuclear14/Clothing/Head/FalloutHelmets/rangerhelmet.rsi/equipped-HELMET.png
  Resources/Textures/Nuclear14/Clothing/Head/FalloutHelmets/rangerhelmet.rsi/icon.png
  Resources/Textures/Nuclear14/Clothing/Head/FalloutHelmets/rangerhelmetdesert.rsi/equipped-HELMET.png
  Resources/Textures/Nuclear14/Clothing/Head/FalloutHelmets/rangerhelmetelite.rsi/equipped-HELMET.png
  Resources/Textures/Nuclear14/Clothing/Head/FalloutHelmets/rangerhelmetelite.rsi/icon.png
  Resources/Textures/Nuclear14/Clothing/OuterClothing/Armor/falloutrangercoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nuclear14/Clothing/OuterClothing/Armor/falloutrangercoat.rsi/icon.png
  Resources/Textures/Nuclear14/Clothing/OuterClothing/Armor/falloutrangercombat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nuclear14/Clothing/OuterClothing/Armor/falloutrangerdesertcombat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nuclear14/Clothing/OuterClothing/Armor/falloutrangerelite.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nuclear14/Clothing/OuterClothing/Armor/falloutrangersuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nuclear14/Clothing/OuterClothing/Armor/falloutrangervest.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nuclear14/Clothing/OuterClothing/Armor/fallouttribal.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nuclear14/Clothing/OuterClothing/Armor/fallouttribal.rsi/icon.png
  Resources/Textures/Nuclear14/Objects/Weapons/Melee/javelin.rsi/equipped-BACKPACK.png
  Resources/Textures/Nuclear14/Objects/Weapons/Melee/javelin.rsi/inhand-left.png
  Resources/Textures/Nuclear14/Objects/Weapons/Melee/javelin.rsi/inhand-right.png
  Resources/Textures/Nuclear14/Objects/Weapons/Melee/javelin.rsi/meta.json
  Resources/Textures/Nuclear14/Objects/Weapons/Melee/javelin.rsi/spear.png
  Resources/Textures/Nuclear14/Objects/Weapons/Melee/javelin.rsi/spear1.png
  Resources/Textures/Nuclear14/Objects/Weapons/Melee/spear.rsi/inhand-left.png
  Resources/Textures/Nuclear14/Objects/Weapons/Melee/spear.rsi/inhand-right.png
  Resources/Textures/Nuclear14/Objects/Weapons/Melee/tribalhatchet.rsi/icon.png
  Resources/Textures/Nuclear14/Objects/Weapons/Melee/tribalhatchet.rsi/inhand-left.png
  Resources/Textures/Nuclear14/Objects/Weapons/Melee/tribalhatchet.rsi/inhand-right.png
  Resources/Textures/Nuclear14/Objects/Weapons/Melee/tribalhatchet.rsi/meta.json
  Resources/Textures/Nuclear14/Objects/Weapons/Melee/tribalknife.rsi/equipped-BELT.png
  Resources/Textures/Nuclear14/Objects/Weapons/Melee/tribalknife.rsi/icon.png
  Resources/Textures/Nuclear14/Objects/Weapons/Melee/tribalknife.rsi/inhand-left.png
  Resources/Textures/Nuclear14/Objects/Weapons/Melee/tribalknife.rsi/inhand-right.png
  Resources/Textures/Nuclear14/Objects/Weapons/Melee/tribalknife.rsi/meta.json
  Resources/Textures/Nuclear14/Objects/Weapons/Melee/tribalspear.rsi/equipped-BACKPACK.png
  Resources/Textures/Nuclear14/Objects/Weapons/Melee/tribalspear.rsi/inhand-left.png
  Resources/Textures/Nuclear14/Objects/Weapons/Melee/tribalspear.rsi/inhand-right.png
  Resources/Textures/Nuclear14/Objects/Weapons/Melee/tribalspear.rsi/meta.json
  Resources/Textures/Nuclear14/Objects/Weapons/Melee/tribalspear.rsi/spear.png
  Resources/Textures/Nuclear14/Objects/Weapons/Melee/tribalspear.rsi/spear1.png
  Resources/Textures/Nuclear14/Objects/Weapons/Melee/tribalspear.rsi/wielded-inhand-left.png
  Resources/Textures/Nuclear14/Objects/Weapons/Melee/tribalspear.rsi/wielded-inhand-right.png
Labels: Changes: Sprite, Changes: YML, Changes: Localization

#238 Add DayNight Cycle
  Content.Shared/_NC/DayNightCycle/DayNightCycleComponent.cs
  Content.Shared/_NC/DayNightCycle/DayNightCycleSystem.cs
  Resources/Maps/N14/wave1.yml
Labels: Changes: Map, Changes: C#

#241 adds bed crafting
  Resources/Prototypes/Nuclear14/Entities/Objects/Materials/containers.yml
  Resources/Prototypes/Nuclear14/Entities/Structures/Furniture/beds.yml
  Resources/Prototypes/Nuclear14/Recipes/Construction/Graphs/furniture.yml
  Resources/Prototypes/Nuclear14/Recipes/Construction/furniture.yml
  Resources/Prototypes/Nuclear14/Recipes/Crafting/items.yml
  Resources/Prototypes/Nuclear14/tags.yml
Labels: Changes: YML

#240 Ore and Material adjustments
  Resources/Prototypes/Nuclear14/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/Nuclear14/Entities/Structures/Walls/rock.yml
  Resources/Prototypes/Nuclear14/gatherable.yml
Labels: Changes: YML
