Repository Vault-Overseers/nuclear-14, pull requests merged in 2024-11, with the labels that each got.

#650 Job Fixes
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/knight.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/paladin-commander.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/paladin.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/scribe.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/squire.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_lt.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_medic.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_sgt.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_soldier.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_ws.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/republic_ranger.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/towndeputy.yml
Labels: Changes: YML

#645 Update respawn-system.ftl
  Resources/Locale/en-US/_Nuclear14/respawn/respawn-system.ftl
Labels: Changes: Localization

#641 Tree Fix Finale
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/floradesert.yml
Labels: Changes: YML

#644 Waterline shrinkage
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Nuclear14/Tiles/water.yml
Labels: Changes: YML

#651 Update N14Migrations.yml
  Resources/Migrations/N14Migrations.yml
Labels: Changes: YML

#652 Tile Additions
  Resources/Prototypes/_Nuclear14/Tiles/floors.yml
  Resources/Textures/_Nuclear14/Tiles/attributions.yml
  Resources/Textures/_Nuclear14/Tiles/roadinnermiddlewithtop.png
  Resources/Textures/_Nuclear14/Tiles/roadouterturnstop.png
  Resources/Textures/_Nuclear14/Tiles/roadouterturnwtop.png
  Resources/Textures/_Nuclear14/Tiles/swampland.png
Labels: Changes: YML

#642 added pets.yaml, added Pets texture folder, added Shopkeepers cat
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/pets.yml
  Resources/Textures/_Nuclear14/Mobs/Pets/cathaggis.rsi/cathaggis.png
  Resources/Textures/_Nuclear14/Mobs/Pets/cathaggis.rsi/cathaggis_dead.png
  Resources/Textures/_Nuclear14/Mobs/Pets/cathaggis.rsi/cathaggis_rest.png
  Resources/Textures/_Nuclear14/Mobs/Pets/cathaggis.rsi/cathaggis_sit.png
  Resources/Textures/_Nuclear14/Mobs/Pets/cathaggis.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#654 Update N14Migrations.yml
  Resources/Migrations/N14Migrations.yml
Labels: Changes: YML

#655 sprite fixes
  Resources/Textures/_Nuclear14/Structures/Decoration/world.rsi/toilet.png
  Resources/Textures/_Nuclear14/Structures/Wallmounts/noticeboard.rsi/noticeboard.png
Labels: Changes: Sprite

#658 Fix Brotherhood door IDs
  Resources/Migrations/N14Migrations.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Doors/access.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Doors/access_tall.yml
Labels: Changes: YML

#660 actually adding a spawner for haggis
  Resources/Prototypes/Datasets/Names/N14shopkeep_cat.yml
  Resources/Prototypes/_Nuclear14/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/pets.yml
Labels: Changes: YML

#656 added bunk beds
  Resources/Prototypes/_Nuclear14/Entities/Structures/Furniture/beds.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/shelter.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Storage/closets.yml
  Resources/Textures/_Nuclear14/Structures/Furniture/bedsandchairs.rsi/bed_bunk.png
  Resources/Textures/_Nuclear14/Structures/Furniture/bedsandchairs.rsi/bed_wood_bunk.png
  Resources/Textures/_Nuclear14/Structures/Furniture/bedsandchairs.rsi/meta.json
  Resources/Textures/_Nuclear14/Structures/Misc/shelternew.rsi/closing.png
  Resources/Textures/_Nuclear14/Structures/Misc/shelternew.rsi/meta.json
  Resources/Textures/_Nuclear14/Structures/Misc/shelternew.rsi/opening.png
  Resources/Textures/_Nuclear14/Structures/Misc/shelternew.rsi/shelternewclosedempty.png
  Resources/Textures/_Nuclear14/Structures/Misc/shelternew.rsi/shelternewclosedoccupied.png
  Resources/Textures/_Nuclear14/Structures/Misc/shelternew.rsi/shelternewopen.png
  Resources/Textures/_Nuclear14/Structures/Misc/shelterworn.rsi/closing.png
  Resources/Textures/_Nuclear14/Structures/Misc/shelterworn.rsi/meta.json
  Resources/Textures/_Nuclear14/Structures/Misc/shelterworn.rsi/opening.png
  Resources/Textures/_Nuclear14/Structures/Misc/shelterworn.rsi/shelterwornclosedempty.png
  Resources/Textures/_Nuclear14/Structures/Misc/shelterworn.rsi/shelterwornclosedoccupied.png
  Resources/Textures/_Nuclear14/Structures/Misc/shelterworn.rsi/shelterwornopen.png
  Resources/Textures/_Nuclear14/Structures/Storage/Closets/fridgewidedirty.rsi/closet.png
  Resources/Textures/_Nuclear14/Structures/Storage/Closets/fridgewidedirty.rsi/closet_door.png
  Resources/Textures/_Nuclear14/Structures/Storage/Closets/fridgewidedirty.rsi/closet_open.png
  Resources/Textures/_Nuclear14/Structures/Storage/Closets/fridgewidedirty.rsi/meta.json
  Resources/Textures/_Nuclear14/Structures/Storage/Closets/fridgewidedirty.rsi/welded.png
Labels: Changes: Sprite, Changes: YML

#665 balance change for recon stats and fixing the field scribes kit
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/falloutarmor.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/kits.yml
Labels: Changes: YML

#662 Update shelter.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/shelter.yml
Labels: Changes: YML

#663 More hunger update
  Content.Server/Chemistry/ReagentEffects/SatiateHunger.cs
  Content.Shared/Nutrition/Components/HungerComponent.cs
Labels: Changes: C#

#661 Hazy Food Tweaks Patch
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_meal.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/Baked/donkpocket.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/Baked/donut.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/crackers.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/egg.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/noodles.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/taco.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Tools/cooking.yml
  Resources/Prototypes/_Nuclear14/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_Nuclear14/Recipes/Reactions/food.yml
Labels: Changes: YML

#668 First attempt at pushing Washington changes, adding Loadouts, changing textures, adding some outer clothing options
  Resources/Locale/en-US/_Nuclear14/undecidedloadout.ftl
  Resources/Prototypes/Maps/N14/sunnyvale.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/coats_and_outer.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/falloutarmor.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Uniform/falloutjumpsuits.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/UndecidedLoadout.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/kits.yml
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_bos_washington.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/commander.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/initiate.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/knight.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/paladin.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/scribe.yml
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/brotherhoodhelmet.rsi/equipped-HELMET.png
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/brotherhoodhelmetmk2.rsi/equipped-HELMET.png
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/brotherhoodhelmetmk3.rsi/equipped-HELMET.png
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/brotherhoodhelmetmk3.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/brotherhoodhelmetmk3.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/brotherhoodhelmetmk3.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/brotherhoodhelmetmk3.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutbosarmor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutbosarmor.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutbosknight.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutbosmk2armor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutbosmk2armor.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutbosmk3armor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutbosmk3armor.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutbosmk3armor.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutbosmk3armor.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutbosmk3armor.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Coats/brotherhoodmedicalscribe.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Coats/brotherhoodmedicalscribe.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Coats/brotherhoodmedicalscribe.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Coats/brotherhoodmedicalscribe.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Coats/brotherhoodmedicalscribe.rsi/meta.json
Labels: Changes: Map, Changes: Sprite, Changes: Localization

#671 Update WBOS numbers
  Resources/Prototypes/Maps/N14/sunnyvale.yml
Labels: Changes: Map

#673 Fix BoS Washington loadout
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/coats_and_outer.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/UndecidedLoadout.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/commander.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/initiate.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/scribe.yml
Labels: Changes: YML

#672 Sprite additions and fix
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/forklifts.yml
  Resources/Textures/_Nuclear14/Structures/Misc/forklifts.rsi/meta.json
  Resources/Textures/_Nuclear14/Structures/Misc/forklifts.rsi/yellowforklift.png
  Resources/Textures/_Nuclear14/Tiles/wasteswampbottomrightcorner.png
Labels: Changes: Sprite, Changes: YML

#669 New Vet Ranger Loadout Options
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/falloutarmor.yml
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_ranger.yml
Labels: Changes: YML

#676 Hazy Food Patch
  Resources/Migrations/N14Migrations.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_meal.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/Baked/donkpocket.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/Baked/donut.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/crackers.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/egg.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/noodles.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/taco.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Tools/cooking.yml
  Resources/Prototypes/_Nuclear14/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_Nuclear14/Recipes/Reactions/food.yml
Labels: Changes: YML

#675 W bo s fix
  Resources/Prototypes/Maps/N14/sunnyvale.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/commander.yml
Labels: Changes: Map

#674 Radio station
  Content.Server/Radio/Components/RadioSpeakerComponent.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Resources/Audio/_Nuclear14/Effects/button_press.ogg
  Resources/Locale/en-US/_Nuclear14/headset-component.ftl
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/radio.yml
  Resources/Prototypes/_Nuclear14/radio_channels.yml
  Resources/Textures/_Nuclear14/Structures/Misc/radiostation/microphones.rsi/base.png
  Resources/Textures/_Nuclear14/Structures/Misc/radiostation/microphones.rsi/meta.json
  Resources/Textures/_Nuclear14/Structures/Misc/radiostation/microphones.rsi/off.png
  Resources/Textures/_Nuclear14/Structures/Misc/radiostation/microphones.rsi/on.png
  Resources/Textures/_Nuclear14/Structures/Misc/radiostation/radioonair.rsi/base.png
  Resources/Textures/_Nuclear14/Structures/Misc/radiostation/radioonair.rsi/meta.json
  Resources/Textures/_Nuclear14/Structures/Misc/radiostation/radioonair.rsi/off.png
  Resources/Textures/_Nuclear14/Structures/Misc/radiostation/radioonair.rsi/on.png
  Resources/Textures/_Nuclear14/Structures/Misc/radiostation/standmicrophones.rsi/base.png
  Resources/Textures/_Nuclear14/Structures/Misc/radiostation/standmicrophones.rsi/meta.json
  Resources/Textures/_Nuclear14/Structures/Misc/radiostation/standmicrophones.rsi/off.png
  Resources/Textures/_Nuclear14/Structures/Misc/radiostation/standmicrophones.rsi/on.png
  Resources/Textures/_Nuclear14/Structures/Misc/radiostation/tableradio.rsi/base.png
  Resources/Textures/_Nuclear14/Structures/Misc/radiostation/tableradio.rsi/icon.png
  Resources/Textures/_Nuclear14/Structures/Misc/radiostation/tableradio.rsi/meta.json
  Resources/Textures/_Nuclear14/Structures/Misc/radiostation/tableradio.rsi/off.png
  Resources/Textures/_Nuclear14/Structures/Misc/radiostation/tableradio.rsi/on.png
  Resources/Textures/_Nuclear14/Structures/Misc/radiostation/tableradio.rsi/radioon.png
Labels: Changes: Sprite, Changes: YML, Changes: C#, Changes: Localization, Changes: Audio

#678 moved draw depth of new sprites to overmob, bumped offset for mic and…
  Resources/Prototypes/_Nuclear14/Entities/Structures/Furniture/beds.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/radio.yml
Labels: Changes: YML

#691 Update Patrons, Fix Migrations on doors
  Resources/Credits/Patrons.yml
  Resources/Migrations/N14Migrations.yml
Labels: Changes: YML

#690 Hazy food mapperfix
  Resources/Prototypes/_Nuclear14/Recipes/Cooking/meal_recipes.yml
Labels: Changes: YML

#684 bitterdrink
  Resources/Prototypes/_Nuclear14/Recipes/Reactions/medicine.yml
Labels: Changes: YML

#695 Update radio_channels.yml
  Resources/Prototypes/_Nuclear14/radio_channels.yml
Labels: Changes: YML

#683 MAKING RANGED RAIDERS NOT A PAIN
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/raiders_ranged.yml
Labels: Changes: YML

#670 Spore Plant
  Resources/Prototypes/_Nuclear14/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/plants.yml
  Resources/Textures/_Nuclear14/Mobs/Plants/sporeplant.rsi/dead.png
  Resources/Textures/_Nuclear14/Mobs/Plants/sporeplant.rsi/meta.json
  Resources/Textures/_Nuclear14/Mobs/Plants/sporeplant.rsi/sporeplant.png
Labels: Changes: Sprite, Changes: YML

#696 Ghoul Races Nerf
  Resources/Prototypes/_Nuclear14/Damage/modifier_sets.yml
Labels: Changes: YML

#697 Update nuka.yml
  Resources/Prototypes/_Nuclear14/Catalog/VendingMachines/Inventories/nuka.yml
Labels: Changes: YML

#700 Mob rad fix
  Resources/Prototypes/_Nuclear14/Damage/modifier_sets.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/basemob.yml
Labels: Changes: YML

#698 Update spear.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/spear.yml
Labels: Changes: YML

#570 training sword
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/baton-club.yml
  Resources/Prototypes/_Nuclear14/Recipes/Lathes/weapons.yml
  Resources/Textures/_Nuclear14/Objects/Weapons/Melee/training_sword.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Melee/training_sword.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Melee/training_sword.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Melee/training_sword.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#703 Lighters In Smokes
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
Labels: Changes: YML

#702 Update drinks_bottles.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
Labels: Changes: YML

#715 healing powder change
  Resources/Prototypes/_Nuclear14/Reagents/medicine.yml
Labels: Changes: YML

#711 loadout, kit and names fixes as requested by the ever-watchful Z
  Resources/Locale/en-US/_Nuclear14/job-names.ftl
  Resources/Locale/en-US/_Nuclear14/undecidedloadout.ftl
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Uniform/falloutjumpsuits.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/kits.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/scribe.yml
Labels: Changes: YML, Changes: Localization

#720 NCR Loadout Changes
  Resources/Locale/en-US/_Nuclear14/undecidedloadout.ftl
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/UndecidedLoadout.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/kits.yml
Labels: Changes: YML, Changes: Localization

#706 Training sword fix
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/baton-club.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/craftingbenches.yml
Labels: Changes: YML

#709 FotA loadout additions
  Resources/Prototypes/_Nuclear14/Loadouts/outerClothing.yml
Labels: Changes: YML

#716 Zeta Extra Hair
  Resources/Locale/en-US/deltav/accessories/hair.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/hair.yml
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/long_spikehair.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/meta.json
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/nerfish.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/plantish_poofs.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/quadspike.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/ratty_royalty.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/short_and_messy.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/short_spikehair.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/spikehawk.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/the_political.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/zeta_basic_braids.png
Labels: Changes: Sprite, Changes: YML, Changes: Localization

#713 Rodent Raiding
  Resources/Prototypes/_Nuclear14/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/mobs_despawning.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/raiders_ranged.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NPC/raider_pistol.yml
  Resources/Textures/_Nuclear14/Mobs/RaidersSimpleMob/RaiderPsycho.rsi/raider_dead.png
  Resources/Textures/_Nuclear14/Mobs/RaidersSimpleMob/RaiderPsycho.rsi/raider_melee.png
Labels: Changes: Sprite, Changes: YML

#721 Additional prewar clothing options.
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/falloutarmor.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Uniform/falloutjumpsuits.yml
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/prewarmilitaryhelmet.rsi/equipped-HELMET.png
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/prewarmilitaryhelmet.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/prewarmilitaryhelmet.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/reporterhelmet.rsi/equipped-HELMET.png
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/reporterhelmet.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/reporterhelmet.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/reportersvest.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/reportersvest.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/reportersvest.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/Uniforms/FalloutSuits/fudd.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Nuclear14/Clothing/Uniforms/FalloutSuits/fudd.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/Uniforms/FalloutSuits/fudd.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/Uniforms/FalloutSuits/prewaruniform.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Nuclear14/Clothing/Uniforms/FalloutSuits/prewaruniform.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/Uniforms/FalloutSuits/prewaruniform.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#726 Fix some mistakes with some of my first hairstyles I did. Whoops.
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/long_spikehair.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/ratty_royalty.png
Labels: Changes: Sprite

#728 Car/Van Collisions
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/wrecks.yml
Labels: Changes: YML

#729 Make Restart Great Again
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#

#732 Swamp fix
  Resources/Prototypes/_Nuclear14/Entities/Structures/Wallmount/posters.yml
  Resources/Textures/_Nuclear14/Structures/Wallmounts/walldecor.rsi/meta.json
  Resources/Textures/_Nuclear14/Structures/Wallmounts/walldecor.rsi/wanted_poster_goose.png
  Resources/Textures/_Nuclear14/Tiles/swampland.png
  Resources/Textures/_Nuclear14/Tiles/wasteswambottomrightcorner.png
  Resources/Textures/_Nuclear14/Tiles/wasteswampbottomleft.png
  Resources/Textures/_Nuclear14/Tiles/wasteswampbottomleftcorner.png
  Resources/Textures/_Nuclear14/Tiles/wasteswampbottomright.png
  Resources/Textures/_Nuclear14/Tiles/wasteswampbottomrightcorner.png
  Resources/Textures/_Nuclear14/Tiles/wasteswamptopleft.png
  Resources/Textures/_Nuclear14/Tiles/wasteswamptopleftcorner.png
  Resources/Textures/_Nuclear14/Tiles/wasteswamptopright.png
  Resources/Textures/_Nuclear14/Tiles/wasteswamptoprightcorner.png
Labels: Changes: Sprite, Changes: YML

#707 sprite fixes requested by George W Bush aka squadleadextraordinaire
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/coats_and_outer.yml
  Resources/Prototypes/_Nuclear14/Loadouts/hands.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_medic.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/Towndoctor.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/VaultDwellers/vaultdoctor.yml
  Resources/Textures/_Nuclear14/Clothing/Hands/Gloves/nitrilegloves.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Clothing/Hands/Gloves/nitrilegloves.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Clothing/Hands/Gloves/purplenitrilegloves.rsi/equipped-HAND.png
  Resources/Textures/_Nuclear14/Clothing/Hands/Gloves/purplenitrilegloves.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/Hands/Gloves/purplenitrilegloves.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Clothing/Hands/Gloves/purplenitrilegloves.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Clothing/Hands/Gloves/purplenitrilegloves.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Coats/labcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Coats/labcoat.rsi/icon-open.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Coats/labcoat.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Coats/labcoat.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Coats/labcoat.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Coats/labcoat.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Coats/labcoat.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Coats/labcoat.rsi/open-inhand-left.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Coats/labcoat.rsi/open-inhand-right.png
Labels: Changes: Sprite, Changes: YML

#735 fix cooked meats turning into upstream steak
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/meat.yml
Labels: Changes: YML

#730 Raiders Spawner & Sprite Fixes
  Resources/Prototypes/_Nuclear14/Entities/Markers/Spawners/mobs.yml
  Resources/Textures/_Nuclear14/Mobs/RaidersSimpleMob/RaiderPsycho.rsi/raider_dead.png
Labels: Changes: Sprite, Changes: YML

#723 Rodent's Elite Ranger Fix
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_ranger.yml
Labels: Changes: YML

#738 Even More Hair
  Resources/Locale/en-US/deltav/accessories/hair.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/hair.yml
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/faded.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/front_spikes.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/half_shaved_braids.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/halfsies.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/lone_tail.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/manageable_mess.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/matted_spikes.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/messy_ponytail.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/meta.json
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/mini_matted_spikes.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/monk.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/natural_mess_long.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/natural_mess_short.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/over_shoulder_braids.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/over_the_shoulder.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/poofed.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/porcupine.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/radical.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/standard_asymmetry.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/the_johnny.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/tunnel_snake.png
Labels: Changes: Sprite, Changes: YML, Changes: Localization
