Repository Vault-Overseers/nuclear-14, pull requests merged in 2024-08, with the labels that each got.

#444 More turret options
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/_Nuclear14/Roles/ai_factions.yml
Labels: Changes: YML

#443 Gunparts Rarity
  Resources/Prototypes/_Nuclear14/Catalog/Fills/storage_fills_rp.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/storage_fills_timed.yml
Labels: Changes: YML

#440 Fixes speedLoaders
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Speedloaders/10mm.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Speedloaders/44.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Speedloaders/45-70.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Speedloaders/9mm.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_Nuclear14/tags.yml
Labels: Changes: YML

#455 replaces HashSet with List for WelderRefinable
  Content.Server/Construction/Components/WelderRefinableComponent.cs
  Content.Server/Construction/RefiningSystem.cs
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Misc/broken_bottle.yml
  Resources/Prototypes/Entities/Objects/Power/lights.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/pre-warfood.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/junk.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Medical/chemicals.yml
Labels: Changes: YML, Changes: C#

#454 Wattz 2000/3000 fireRate nerf
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Changes: YML

#452 Let there be light
  Resources/Prototypes/_Nuclear14/Catalog/VendingMachines/Inventories/nuka.yml
  Resources/Prototypes/_Nuclear14/Entities/Markers/Spawners/Random/vending.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Wallmount/signs.yml
  Resources/Textures/_Nuclear14/Structures/Machines/VendingMachines/nukacola.rsi/meta.json
  Resources/Textures/_Nuclear14/Structures/Machines/VendingMachines/nukacola.rsi/normal-unshaded.png
  Resources/Textures/_Nuclear14/Structures/Machines/VendingMachines/nukacola.rsi/normal.png
Labels: Changes: Sprite, Changes: YML

#451 Town and vault Spawn item fixed. Character creation Loadout updates. Various mechanical fixes.
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Belts/belt.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/coats_and_outer.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/baton-club.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_ranger.yml
  Resources/Prototypes/_Nuclear14/Loadouts/eyes.yml
  Resources/Prototypes/_Nuclear14/Loadouts/head.yml
  Resources/Prototypes/_Nuclear14/Loadouts/items.yml
  Resources/Prototypes/_Nuclear14/Loadouts/outerClothing.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Rangers/ranger_recruit.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/Townmechanic.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/Townshopkeeper.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/towndeputy.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/townmayor.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/townsheriff.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/VaultDwellers/vaultsecurity.yml
Labels: Changes: YML

#450 Minor Fix
  Resources/Prototypes/_Nuclear14/Recipes/Construction/hydroponics.yml
Labels: Changes: YML

#448 Adds clotting to stimpaks and medicine
  Resources/Prototypes/_Nuclear14/Reagents/chems.yml
  Resources/Prototypes/_Nuclear14/Reagents/medicine.yml
Labels: Changes: YML

#447 Water generation and Mob Fixes
  Resources/Locale/en-US/_Nuclear14/reagents.ftl
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/basemob.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/insects.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Medical/chemicals.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Furniture/other_furniture.yml
  Resources/Prototypes/_Nuclear14/Reagents/medicine.yml
  Resources/Prototypes/_Nuclear14/Reagents/toxins.yml
Labels: Changes: YML, Changes: Localization

#446 Modifies Brotherhood loadouts
  Resources/Locale/en-US/_Nuclear14/undecidedloadout.ftl
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/coats_and_outer.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/UndecidedLoadout.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/kits.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Projectiles/energy.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/paladin-commander.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/paladin.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/scribe.yml
Labels: Changes: YML, Changes: Localization

#445 Ranger mask modifications / Removal of experimental loadouts
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Mask/gasmasks.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/falloutarmor.yml
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_ranger.yml
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/rangerhelmetdesert.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/rangerhelmetfox.rsi/equipped-HELMET.png
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/rangerhelmetfox.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/rangerhelmetmodif.rsi/equipped-HELMET.png
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/rangerhelmetmodif.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/rangerhelmetmodif.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/rangerhelmetold.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/rangerhelmetprice.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/Mask/Gasmask/combatgasmask.rsi/equipped-MASK.png
  Resources/Textures/_Nuclear14/Clothing/Mask/Gasmask/rangerbrokengasmask.rsi/equipped-MASK.png
  Resources/Textures/_Nuclear14/Clothing/Mask/Gasmask/rangerdesertgasmask.rsi/equipped-MASK.png
  Resources/Textures/_Nuclear14/Clothing/Mask/Gasmask/rangermodifgasmask.rsi/equipped-MASK.png
  Resources/Textures/_Nuclear14/Clothing/Mask/Gasmask/rangermodifgasmask.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/Mask/Gasmask/rangermodifgasmask.rsi/icon_on.png
  Resources/Textures/_Nuclear14/Clothing/Mask/Gasmask/rangermodifgasmask.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/Mask/Gasmask/rangeroldgasmask.rsi/equipped-MASK.png
  Resources/Textures/_Nuclear14/Clothing/Mask/Gasmask/rangerpricegasmask.rsi/equipped-MASK.png
  Resources/Textures/_Nuclear14/Clothing/Mask/Gasmask/rangerweatheredgasmask.rsi/equipped-MASK.png
  Resources/Textures/_Nuclear14/Clothing/Mask/Gasmask/riotgasmask.rsi/icon_on.png
  Resources/Textures/_Nuclear14/Clothing/Mask/Gasmask/riotgasmask.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#458 Special character saving validation and setting default values if max overflow
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Nuclear14/Special/EntitySystems/SpecialSystem.cs
Labels: Changes: C#

#456 Fixes an Issue with 556 kit giving 762
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_ranger.yml
Labels: Changes: YML

#462 Make Dwellers and BoS always spawn on Spawners and restore Species job blacklist.
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/knight.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/paladin-commander.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/paladin.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/scribe.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/squire.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/captain.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/commander.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/recruit.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/researcher.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/soldier.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/VaultDwellers/overseer.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/VaultDwellers/vaultdoctor.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/VaultDwellers/vaultdweller.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/VaultDwellers/vaultengineer.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/VaultDwellers/vaultsecurity.yml
Labels: Changes: UI, Changes: YML, Changes: C#

#461 Fixed NCR loadouts and security role loadouts.
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Belts/belt.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/kits.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_cadet.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_doctor.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_mp.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_nco.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_officer.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_quartermaster.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_soldier.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/towndeputy.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/townsheriff.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/VaultDwellers/vaultsecurity.yml
Labels: Changes: YML

#460 adds doafter speed functionality to agility and changes some special values
  Content.Server/Medical/HealingSystem.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.cs
  Content.Shared/Mobs/Systems/MobThresholdSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: Changes: C#

#463 fixes mobdthresholds
  Content.Shared/Mobs/Systems/MobThresholdSystem.cs
Labels: Changes: C#

#464 Port BiomeSpawner
  Content.Server/_CP14/BiomeSpawner/Components/CP14BiomeSpawnerComponent.cs
  Content.Server/_CP14/BiomeSpawner/EntitySystems/CP14BiomeSpawnerSystem.cs
  Content.Shared/Parallax/Biomes/SharedBiomeSystem.cs
  Resources/Prototypes/_Nuclear14/Entities/Markers/Spawners/Random/Biome/biomeSpawner.yml
  Resources/Prototypes/_Nuclear14/Procedural/biomes.yml
  Resources/Textures/_Nuclear14/Markers/biome.rsi/cave.png
  Resources/Textures/_Nuclear14/Markers/biome.rsi/forest.png
  Resources/Textures/_Nuclear14/Markers/biome.rsi/frame.png
  Resources/Textures/_Nuclear14/Markers/biome.rsi/grass.png
  Resources/Textures/_Nuclear14/Markers/biome.rsi/meta.json
  Resources/Textures/_Nuclear14/Markers/biome.rsi/waste.png
Labels: Changes: Sprite, Changes: YML, Changes: C#

#466 Autolinking Stairs
  Content.Server/_N14/PortalAutoLink/PortalAutoLinkComponent.cs
  Content.Server/_N14/PortalAutoLink/PortalAutoLinkSystem.cs
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/stairs.yml
Labels: Changes: YML, Changes: C#

#469 BonfireFix
  Content.Server/Temperature/Components/BonfireHeaterComponent.cs
  Content.Server/Temperature/Systems/BonfireHeaterSystem.cs
  Resources/Prototypes/_Nuclear14/Entities/Structures/Decoration/bonfire.yml
Labels: Changes: YML, Changes: C#

#468 Fixed up ranger loadouts and added Desert ranger options for veteran
  Resources/Prototypes/_Nuclear14/Entities/Objects/Tools/instruments.yml
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_ranger.yml
  Resources/Prototypes/_Nuclear14/Loadouts/items.yml
Labels: Changes: YML

#474 Typo mega fix
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Head/powerarmorhelmet.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Mask/gasmasks.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/coats_and_outer.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/falloutarmor.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Uniform/falloutjumpsuits.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/pre-warfood.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/craftingmaterials.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/identification.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/kits.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Medical/chemicals.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Medical/fallout_pills.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Battery/Battery.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/explosive.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Flamers/Flamers.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Heavy/launcher.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Heavy/minigun.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Heavy/missile.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/LMGs/LMGs.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/axes.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/hammer.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/longblades.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Furniture/store_furniture.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Machines/misc_machines.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Power/apc.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Wallmount/adverts.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Wallmount/posters.yml
Labels: Changes: YML

#467 Psycho NPC mob spawner
  Resources/Prototypes/_Nuclear14/Entities/Markers/Spawners/mobs.yml
Labels: Changes: YML

#478 Remove some SS14 Decals, Add white decal, give Vault Security PDA, Fix Psycho Boss Spawner, Add TImed Psycho Spawners, Gave vault more slots
  Resources/Prototypes/Decals/originsign.yml
  Resources/Prototypes/Decals/ss14sign.yml
  Resources/Prototypes/Decals/syndlogo.yml
  Resources/Prototypes/Maps/N14/sunnyvale.yml
  Resources/Prototypes/_Nuclear14/Decals/fullwhite.yml
  Resources/Prototypes/_Nuclear14/Entities/Markers/Spawners/Conditional/timed.yml
  Resources/Prototypes/_Nuclear14/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/mobs_despawning.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/VaultDwellers/vaultsecurity.yml
  Resources/Textures/Decals/originsign.rsi/meta.json
  Resources/Textures/Decals/originsign.rsi/origin1.png
  Resources/Textures/Decals/originsign.rsi/origin10.png
  Resources/Textures/Decals/originsign.rsi/origin11.png
  Resources/Textures/Decals/originsign.rsi/origin12.png
  Resources/Textures/Decals/originsign.rsi/origin13.png
  Resources/Textures/Decals/originsign.rsi/origin2.png
  Resources/Textures/Decals/originsign.rsi/origin3.png
  Resources/Textures/Decals/originsign.rsi/origin4.png
  Resources/Textures/Decals/originsign.rsi/origin5.png
  Resources/Textures/Decals/originsign.rsi/origin6.png
  Resources/Textures/Decals/originsign.rsi/origin7.png
  Resources/Textures/Decals/originsign.rsi/origin8.png
  Resources/Textures/Decals/originsign.rsi/origin9.png
  Resources/Textures/Decals/ss14sign.rsi/meta.json
  Resources/Textures/Decals/ss14sign.rsi/ss14sign1.png
  Resources/Textures/Decals/ss14sign.rsi/ss14sign2.png
  Resources/Textures/Decals/ss14sign.rsi/ss14sign3.png
  Resources/Textures/Decals/ss14sign.rsi/ss14sign4.png
  Resources/Textures/Decals/ss14sign.rsi/ss14sign5.png
  Resources/Textures/Decals/ss14sign.rsi/ss14sign6.png
  Resources/Textures/Decals/ss14sign.rsi/ss14sign7.png
  Resources/Textures/Decals/syndlogo.rsi/meta.json
  Resources/Textures/Decals/syndlogo.rsi/syndlogo1.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo10.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo11.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo12.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo13.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo14.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo15.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo16.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo17.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo18.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo19.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo2.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo3.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo4.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo5.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo6.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo7.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo8.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo9.png
  Resources/Textures/_Nuclear14/Decals/FullWhite.rsi/full_tile.png
  Resources/Textures/_Nuclear14/Decals/FullWhite.rsi/half_tile.png
  Resources/Textures/_Nuclear14/Decals/FullWhite.rsi/meta.json
Labels: Changes: Map, Status: Needs Review, Changes: Sprite

#491 Fix white list.
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Smokeables/packs.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/currency.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/identification.yml
  Resources/Prototypes/_Nuclear14/tags.yml
Labels: Changes: YML
