Repository Vault-Overseers/nuclear-14, pull requests merged in 2024-10, with the labels that each got.

#556 Fixes time requirements
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/knight.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/paladin-commander.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/paladin.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/scribe.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/commander.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/knight.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/paladin.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/scribe.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/CaravanCompany/caravan_leader.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_doctor.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_mp.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_nco.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_officer.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_quartermaster.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_soldier.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/republic_ranger.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/towndeputy.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/townsheriff.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Tribal/tribalelder.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/VaultDwellers/overseer.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/VaultDwellers/vaultsecurity.yml
Labels: Changes: YML

#557 Vault doors
  Resources/Prototypes/_Nuclear14/Entities/Objects/Devices/door_access.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/identification.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Doors/access.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Doors/access_slanted.yml
Labels: Changes: YML

#560 Update NCR Ranger Badge Desc
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/identification.yml
Labels: Changes: YML

#559 fix fitness
  Resources/Prototypes/_Nuclear14/Entities/Structures/Furniture/fitness.yml
Labels: Changes: YML

#561 Jobs Tab Cleanup
  Resources/Locale/en-US/_Nuclear14/department.ftl
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/factions.yml
Labels: Changes: YML, Changes: Localization

#564 This PR really kills the mood
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#

#566 Fix Mood (Revert PR#564)
  Content.Server/Mood/MoodSystem.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#

#567 the lead brick PR...
  Resources/Prototypes/_Nuclear14/Entities/Objects/Materials/metals.yml
Labels: Changes: YML

#573 Renamed Antidote Reagents
  Resources/Locale/en-US/_Nuclear14/reagents.ftl
Labels: Changes: Localization

#575 Fix for heater bug that causes lag
  Content.Server/Temperature/Systems/EntityHeaterSystem.cs
Labels: Changes: C#

#576 Five Hours Playtime Requirement for Mayor
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/townmayor.yml
Labels: Changes: YML

#580 Changed Radaway Phial Size from Small to Tiny
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Medical/chemicals.yml
Labels: Changes: YML

#578 Minor NCR Door Description Fix
  Resources/Prototypes/_Nuclear14/Entities/Structures/Doors/doors.yml
Labels: Changes: YML

#582 Fix linter error
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Medical/chemicals.yml
Labels: Changes: YML

#587 Farm Equipment Crafting
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/craftingbenches.yml
  Resources/Prototypes/_Nuclear14/Recipes/Lathes/tools.yml
Labels: Changes: YML

#586 Gave Medical Roles CPR Training
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/scribe.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/scribe.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/CaravanCompany/caravan_leader.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_doctor.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/Towndoctor.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Tribal/tribalhealer.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/VaultDwellers/vaultdoctor.yml
Labels: Changes: YML

#583 Mortar & Pestle Offset Change
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Medical/equipment.yml
Labels: Changes: YML

#593 9mm Speedloader Tweaks
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Speedloaders/9mm.yml
  Resources/Prototypes/_Nuclear14/Loadouts/items.yml
Labels: Changes: YML

#584 Let ID's be put in Wallets
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/currency.yml
Labels: Changes: YML

#585 Made Loadout kit contents match description
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/kits.yml
Labels: Changes: YML

#591 Non Job-Specific Item Groups
  Resources/Locale/en-US/_Nuclear14/Loadouts/itemgroups.ftl
  Resources/Prototypes/_Nuclear14/CharacterItemGroups/eyesGroup.yml
  Resources/Prototypes/_Nuclear14/CharacterItemGroups/handsGroup.yml
  Resources/Prototypes/_Nuclear14/CharacterItemGroups/headGroup.yml
  Resources/Prototypes/_Nuclear14/CharacterItemGroups/maskGroup.yml
  Resources/Prototypes/_Nuclear14/CharacterItemGroups/miscGroups.yml
  Resources/Prototypes/_Nuclear14/CharacterItemGroups/neckGroup.yml
  Resources/Prototypes/_Nuclear14/CharacterItemGroups/outerwearGroup.yml
  Resources/Prototypes/_Nuclear14/CharacterItemGroups/shoesGroup.yml
  Resources/Prototypes/_Nuclear14/Loadouts/eyes.yml
  Resources/Prototypes/_Nuclear14/Loadouts/hands.yml
  Resources/Prototypes/_Nuclear14/Loadouts/head.yml
  Resources/Prototypes/_Nuclear14/Loadouts/items.yml
  Resources/Prototypes/_Nuclear14/Loadouts/masks.yml
  Resources/Prototypes/_Nuclear14/Loadouts/neck.yml
  Resources/Prototypes/_Nuclear14/Loadouts/outerClothing.yml
  Resources/Prototypes/_Nuclear14/Loadouts/shoes.yml
  Resources/Prototypes/_Nuclear14/Loadouts/weapons.yml
Labels: Changes: YML, Changes: Localization

#594 Fixer Mimics Ethlyredoxone
  Resources/Prototypes/_Nuclear14/Reagents/medicine.yml
Labels: Changes: YML

#590 ReginaeSpence - English Patch 1
  Resources/Locale/en-US/_Nuclear14/reagents.ftl
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Furniture/filing_cabinets.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/floradesert.yml
Labels: Changes: YML, Changes: Localization

#599 Caravan and Townie Mechanic Locked Doors
  Resources/Prototypes/_Nuclear14/Access/miscfactions.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Doors/access.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/Townmechanic.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/towndeputy.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/townsheriff.yml
Labels: Changes: YML

#600 Fix caravan and mechanic ID
  Resources/ConfigPresets/Build/development.toml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/identification.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/CaravanCompany/caravan_leader.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/CaravanCompany/caravan_trader.yml
Labels: Changes: YML, Changes: Config

#602 Feral Ghoul Changes
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/basemob.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/ghouls.yml
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/agavejam.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/blackberryjam.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/brocjam.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/cactusjam.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/empty.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/mutlifruitjam.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/pickledcabbage.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/pickledcarrots.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/pickledcorn.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/pickledjalapenos.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/pickledonions.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/pricklyjam.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/starlightjam.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/tarberryjam.png
Labels: Changes: Sprite, Changes: YML

#592 Milk and Cream
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Textures/_Nuclear14/Objects/Consumable/Drinks/cream.rsi/fill1.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Drinks/cream.rsi/fill2.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Drinks/cream.rsi/fill3.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Drinks/cream.rsi/fill4.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Drinks/cream.rsi/fill5.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Drinks/cream.rsi/fill6.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Drinks/cream.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Drinks/cream.rsi/icon_open.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Drinks/cream.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Consumable/Drinks/milk.rsi/fill1.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Drinks/milk.rsi/fill2.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Drinks/milk.rsi/fill3.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Drinks/milk.rsi/fill4.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Drinks/milk.rsi/fill5.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Drinks/milk.rsi/fill6.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Drinks/milk.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Drinks/milk.rsi/icon_open.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Drinks/milk.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#604 Deletes organs on body gib to reduce visual and data clutter
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
Labels: Changes: C#

#605 Preserve update
  Resources/Locale/en-US/_Nuclear14/reagents.ftl
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/preserves.yml
  Resources/Prototypes/_Nuclear14/Reagents/Consumable/extracts.yml
  Resources/Prototypes/_Nuclear14/Reagents/Consumable/food.yml
  Resources/Prototypes/_Nuclear14/Recipes/Reactions/food.yml
  Resources/Prototypes/_Nuclear14/tags.yml
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/fill1.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/fill2.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/fill3.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/fill4.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/fill5.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/fill6.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/fill7.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/fill8.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/icon-front.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Decoration/Flags/bos_flagpole.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Decoration/Flags/bos_flagpole.rsi/midwestflagpole.png
Labels: Changes: Sprite, Changes: YML, Changes: Localization

#609 reduces loot spawning quantity and chance
  Resources/Prototypes/_Nuclear14/Catalog/Fills/storage_fills_rp.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/debug.yml
Labels: Changes: YML

#610 Make IDs Small and let vents hold Normal items.
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/identification.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Wallmount/wallmounts.yml
Labels: Changes: YML

#612 update patron list
  Resources/Credits/Patrons.yml
Labels: Changes: YML

#613 fix prison wall smoothing icons
  Resources/Textures/_Nuclear14/Structures/Walls/ms13/slanted/prison.rsi/full.png
  Resources/Textures/_Nuclear14/Structures/Walls/ms13/slanted/prison.rsi/slantedprison0.png
  Resources/Textures/_Nuclear14/Structures/Walls/ms13/slanted/prison.rsi/slantedprison1.png
  Resources/Textures/_Nuclear14/Structures/Walls/ms13/slanted/prison.rsi/slantedprison3.png
  Resources/Textures/_Nuclear14/Structures/Walls/ms13/slanted/prison.rsi/slantedprison4.png
  Resources/Textures/_Nuclear14/Structures/Walls/ms13/slanted/prison.rsi/slantedprison5.png
  Resources/Textures/_Nuclear14/Structures/Walls/ms13/slanted/prison.rsi/slantedprison6.png
  Resources/Textures/_Nuclear14/Structures/Walls/ms13/slanted/prison.rsi/slantedprison7.png
Labels: Changes: Sprite

#616 reduce default water and nutrient levels in planters and soil
  Content.Server/Botany/Components/PlantHolderComponent.cs
Labels: Changes: C#

#621 adds lathe recipe for cookpot and coffeepot
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/craftingbenches.yml
  Resources/Prototypes/_Nuclear14/Recipes/Lathes/cooking.yml
Labels: Changes: YML

#622 Power Armor Movespeed and Stat Bonus Nerf
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/powerarmor.yml
Labels: Changes: YML

#624 makes IDs change your faction
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/identification.yml
Labels: Changes: YML

#627 Tires and BoS Flagpole
  Resources/Prototypes/_Nuclear14/Entities/Objects/Decoration/flags.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Furniture/junk.yml
  Resources/Textures/_Nuclear14/Objects/Decoration/Flags/bos_flagpole.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Decoration/Flags/bos_flagpole.rsi/meta.json
  Resources/Textures/_Nuclear14/Structures/Decoration/tires.rsi/groundtires.png
  Resources/Textures/_Nuclear14/Structures/Decoration/tires.rsi/meta.json
  Resources/Textures/_Nuclear14/Structures/Decoration/tires.rsi/stackedtires.png
Labels: Changes: Sprite, Changes: YML

#625 adds ID printing machines
  Resources/Locale/en-US/_Nuclear14/construction.ftl
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/identification.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/craftingbenches.yml
  Resources/Prototypes/_Nuclear14/Recipes/Lathes/categories.yml
  Resources/Prototypes/_Nuclear14/Recipes/Lathes/identification.yml
  Resources/Textures/_Nuclear14/Structures/Machines/circuit_imprinter.rsi/building.png
  Resources/Textures/_Nuclear14/Structures/Machines/circuit_imprinter.rsi/icon.png
  Resources/Textures/_Nuclear14/Structures/Machines/circuit_imprinter.rsi/meta.json
  Resources/Textures/_Nuclear14/Structures/Machines/circuit_imprinter.rsi/panel.png
  Resources/Textures/_Nuclear14/Structures/Machines/circuit_imprinter.rsi/unlit.png
Labels: Changes: Sprite, Changes: YML, Changes: Localization

#626 NCR Update Parts 1 and 2
  Resources/Locale/en-US/_Nuclear14/job-names.ftl
  Resources/Locale/en-US/_Nuclear14/undecidedloadout.ftl
  Resources/Migrations/N14Migrations.yml
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/Maps/N14/sunnyvale.yml
  Resources/Prototypes/_Nuclear14/Access/ncr.yml
  Resources/Prototypes/_Nuclear14/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/identification.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/UndecidedLoadout.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/kits.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Doors/access.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Doors/access_slanted.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Doors/access_tall.yml
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_ncr.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_engineer.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_entity.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_lt.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_medic.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_mp.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_sgt.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_ws.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/republic_ranger.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Rangers/ranger.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/factions.yml
Labels: Changes: Map, Changes: Localization

#639 Hitbox Fix
  Resources/Textures/_Nuclear14/Mobs/Animals/nightstalker.rsi/nightstalker-1.png
  Resources/Textures/_Nuclear14/Mobs/Animals/nightstalker.rsi/nightstalker-2.png
  Resources/Textures/_Nuclear14/Mobs/Animals/yaoguai.rsi/yaoguai.png
Labels: Changes: Sprite

#635 Brute damage fix
  Resources/Prototypes/_Nuclear14/Entities/Objects/Tools/tools.yml
Labels: Changes: YML

#631 Blue door construction fix
  Resources/Prototypes/_Nuclear14/Entities/Structures/Doors/slanteddoors.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/Graphs/Structures/doors.yml
Labels: Changes: YML

#629 updated language.
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/falloutarmor.yml
Labels: Changes: YML

#636 Wasteland Neutering
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/robots.yml
Labels: Changes: YML
