Repository Vault-Overseers/nuclear-14, pull requests merged in 2024-12, with the labels that each got.

#740 bitterdrink buff
  Resources/Prototypes/_Nuclear14/Reagents/medicine.yml
Labels: Changes: YML

#718 Slowdown tile1
  Resources/Prototypes/_Nuclear14/Entities/Markers/environmental.yml
  Resources/Textures/_Nuclear14/Markers/environment.rsi/meta.json
  Resources/Textures/_Nuclear14/Markers/environment.rsi/slowdown_tile.png
Labels: Changes: Sprite, Changes: YML

#727 Added training sword + Improved training sword
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/baton-club.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/longblades.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/craftingbenches.yml
  Resources/Prototypes/_Nuclear14/Recipes/Lathes/weapons.yml
  Resources/Textures/_Nuclear14/Objects/Weapons/Melee/long_sword.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Melee/long_sword.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Melee/long_sword.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Melee/long_sword.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#741 God Howard Rises
  Resources/Audio/Admin/Smites/you_probably_should_upgrade.ogg
  Resources/Audio/_Nuclear14/attributions2
  Resources/Locale/en-US/_Nuclear14/N14GodHowardAS
  Resources/Prototypes/_Nuclear14/Entities/Mobs/GodHoward
  Resources/Textures/_Nuclear14/Mobs/GodHoward.png
  Resources/Textures/_Nuclear14/Mobs/meta.json
Labels: Changes: Audio

#725 More watelander armor and coats
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Mask/gasmasks.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/coats_and_outer.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/falloutarmor.yml
  Resources/Textures/_Nuclear14/Clothing/Mask/Gasmask/zealotgasmask.rsi/equipped-MASK.png
  Resources/Textures/_Nuclear14/Clothing/Mask/Gasmask/zealotgasmask.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/Mask/Gasmask/zealotgasmask.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Clothing/Mask/Gasmask/zealotgasmask.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Clothing/Mask/Gasmask/zealotgasmask.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/Neck/darkcloak.rsi/equipped-NECK.png
  Resources/Textures/_Nuclear14/Clothing/Neck/darkcloak.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/Neck/darkcloak.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Clothing/Neck/darkcloak.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Clothing/Neck/darkcloak.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutfoaarmoredcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutfoaarmoredcoat.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutfoaarmoredcoat.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutfoaarmoredcoat.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutfoaarmoredcoat.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutscavengerheavyarmor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutscavengerheavyarmor.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutscavengerheavyarmor.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutscavengerheavyarmor.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutscavengerheavyarmor.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutzealotduster.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutzealotduster.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutzealotduster.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutzealotduster.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutzealotduster.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Coats/falloutghostechoes.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Coats/falloutghostechoes.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Coats/falloutghostechoes.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Coats/falloutghostechoes.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Coats/falloutghostechoes.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Coats/falloutharpercoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Coats/falloutharpercoat.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Coats/falloutharpercoat.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Coats/falloutharpercoat.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Coats/falloutharpercoat.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#746 Rename all tiles floors
  Resources/Locale/en-US/_Nuclear14/Tiles/floors.ftl
  Resources/Prototypes/_Nuclear14/Tiles/floors.yml
Labels: Changes: YML, Changes: Localization

#747 Tribe vault fixes
  Resources/Locale/en-US/_Nuclear14/job-names.ftl
  Resources/Prototypes/_Nuclear14/Access/miscfactions.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/raiders_ranged.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/identification.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Battery/Battery.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Heavy/minigun.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Projectiles/energy.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Doors/access.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Walls/halfwalls.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Walls/tall_obstacles.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Tribal/tribal.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Tribal/tribalelder.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Tribal/tribalfarmer.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Tribal/tribalhealer.yml
  Resources/Prototypes/_Nuclear14/gatherable.yml
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/bolted_unlit.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/closed.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/closed_unlit.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/closing.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/closing_unlit.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/construction.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/deny_unlit.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/emergency_unlit.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/lights_bolts.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/lights_closing.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/lights_denied.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/lights_emergency.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/meta.json
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/open.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/opening.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/opening_unlit.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/panel_c1.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/panel_c2.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/panel_c3.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/panel_closed.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/panel_closed_protected.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/panel_closing.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/panel_closing_protected.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/panel_open.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/panel_open_protected.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/panel_opening.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/panel_opening_protected.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/sealed.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/sparks.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/sparks_broken.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/sparks_damaged.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/sparks_open.png
  Resources/Textures/_Nuclear14/Structures/Doors/FalloutDoors/vaultdoor.rsi/welded.png
Labels: Changes: Sprite, Changes: YML, Changes: Localization

#750 Vault Dweller Fix
  Resources/Prototypes/_Nuclear14/Roles/Jobs/VaultDwellers/vaultdweller.yml
Labels: Changes: YML

#712 Wildlife
  Resources/Prototypes/_Nuclear14/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/_Nuclear14/Mobs/Animals/beaver.rsi/beaver.png
  Resources/Textures/_Nuclear14/Mobs/Animals/beaver.rsi/dead.png
  Resources/Textures/_Nuclear14/Mobs/Animals/beaver.rsi/meta.json
  Resources/Textures/_Nuclear14/Mobs/Animals/opossum.rsi/dead.png
  Resources/Textures/_Nuclear14/Mobs/Animals/opossum.rsi/meta.json
  Resources/Textures/_Nuclear14/Mobs/Animals/opossum.rsi/normopossum.png
  Resources/Textures/_Nuclear14/Mobs/Animals/opossum.rsi/opossum.png
  Resources/Textures/_Nuclear14/Mobs/Animals/rabbit.rsi/dead.png
  Resources/Textures/_Nuclear14/Mobs/Animals/rabbit.rsi/meta.json
  Resources/Textures/_Nuclear14/Mobs/Animals/rabbit.rsi/normrabbit.png
  Resources/Textures/_Nuclear14/Mobs/Animals/rabbit.rsi/rabbit.png
  Resources/Textures/_Nuclear14/Objects/Decoration/Flags/bos_flagpole.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Decoration/Flags/bos_flagpole.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#751 God howard 2
  Resources/Prototypes/_Nuclear14/Entities/Mobs/GodHoward
  Resources/Prototypes/_Nuclear14/Entities/Mobs/GodHoward/GodHoward.yml
  Resources/Textures/_Nuclear14/Mobs/GodHoward/GodHoward.rsi/gib.png
  Resources/Textures/_Nuclear14/Mobs/GodHoward/GodHoward.rsi/howard.png
  Resources/Textures/_Nuclear14/Mobs/GodHoward/GodHoward.rsi/howard2.png
  Resources/Textures/_Nuclear14/Mobs/GodHoward/GodHoward.rsi/howard_dead.png
  Resources/Textures/_Nuclear14/Mobs/GodHoward/GodHoward.rsi/meta.json
  Resources/Textures/_Nuclear14/Mobs/meta.json
Labels: Changes: Sprite, Changes: YML

#752 Specalist (English Minipatch)
  Resources/Locale/en-US/_Nuclear14/Special/character-examine.ftl
  Resources/Locale/en-US/_Nuclear14/job-names.ftl
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/ServerInfo/_Nuclear14/Guidebooks/Factions/factions.xml
Labels: Changes: YML, Changes: Localization, Changes: Documentation

#754 Ammo Changes
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/45-70.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/50.yml
Labels: Changes: YML

#756 Caravan price fix 1
  Resources/Prototypes/_Nuclear14/Catalog/Cargo/cargo_consumables.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/crates.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Smokeables/packs.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
Labels: Changes: YML

#753 Minor loadout options
  Resources/Prototypes/_Nuclear14/Loadouts/neck.yml
  Resources/Prototypes/_Nuclear14/Loadouts/outerClothing.yml
Labels: Changes: YML

#755 Z's Big Balance
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Head/powerarmorhelmet.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Mask/gasmasks.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Mask/masks.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/coats_and_outer.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/falloutarmor.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/powerarmor.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Shoes/falloutbootsbasic.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/ghouls.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/44.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/45-70.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/50.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/explosive.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Heavy/minigun.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/longblades.yml
  Resources/Prototypes/_Nuclear14/Reagents/chems.yml
Labels: Changes: YML

#758 Licoxide & Lead Nerf
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/Recipes/Reactions/fun.yml
Labels: Changes: YML

#757 Workbench Category Fix
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/craftingbenches.yml
Labels: Changes: YML

#762 Caravan stock additions
  Resources/Prototypes/_Nuclear14/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/crates.yml
Labels: Changes: YML

#761 Caravan price fix 2
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/_Nuclear14/Catalog/Cargo/cargo_consumables.yml
  Resources/Prototypes/_Nuclear14/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/_Nuclear14/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/50.yml
Labels: Changes: YML

#760 Nightstalker hat crafting
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/craftingmaterials.yml
  Resources/Prototypes/_Nuclear14/Recipes/Crafting/Graphs/clothing.yml
  Resources/Prototypes/_Nuclear14/Recipes/Crafting/clothing.yml
  Resources/Prototypes/_Nuclear14/tags.yml
Labels: Changes: YML

#764 jingle bells
  Resources/Audio/_Nuclear14/Lobby/Frank-Sinatra-Jingle-Bells.ogg
  Resources/Audio/_Nuclear14/Lobby/attributions.yml
  Resources/Prototypes/_Nuclear14/SoundCollections/lobby.yml
Labels: Changes: YML, Changes: Audio

#763 Caravan Micro-Fix
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/crackers.yml
  Resources/Prototypes/_Nuclear14/Recipes/Crafting/materials.yml
Labels: Changes: YML

#759 New Year's update
  Resources/Audio/_Nuclear14/Effects/attributions.yml
  Resources/Audio/_Nuclear14/Effects/open_gift.ogg
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/new_years_gift.yml
  Resources/Textures/_Nuclear14/Objects/Misc/gift.rsi/blue_gift.png
  Resources/Textures/_Nuclear14/Objects/Misc/gift.rsi/gift.png
  Resources/Textures/_Nuclear14/Objects/Misc/gift.rsi/gift_2.png
  Resources/Textures/_Nuclear14/Objects/Misc/gift.rsi/gift_3.png
  Resources/Textures/_Nuclear14/Objects/Misc/gift.rsi/gold_gift.png
  Resources/Textures/_Nuclear14/Objects/Misc/gift.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Misc/gift.rsi/red_gift.png
  Resources/Textures/_Nuclear14/Objects/Misc/gift.rsi/silver_gift.png
  Resources/Textures/_Nuclear14/Objects/Misc/gift.rsi/yellow.png
Labels: Changes: Sprite, Changes: YML, Changes: Audio

#765 fix Pulowski Shelter
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/shelter.yml
  Resources/Textures/_Nuclear14/Structures/Misc/shelternew.rsi/closed.png
  Resources/Textures/_Nuclear14/Structures/Misc/shelternew.rsi/meta.json
  Resources/Textures/_Nuclear14/Structures/Misc/shelternew.rsi/open.png
  Resources/Textures/_Nuclear14/Structures/Misc/shelterworn.rsi/closed.png
  Resources/Textures/_Nuclear14/Structures/Misc/shelterworn.rsi/meta.json
  Resources/Textures/_Nuclear14/Structures/Misc/shelterworn.rsi/open.png
Labels: Changes: Sprite, Changes: YML

#768 Nightstalker hat crafting fix
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Head/hats.yml
Labels: Changes: YML

#766 Jar recipe
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/preserves.yml
  Resources/Prototypes/_Nuclear14/Recipes/Crafting/items.yml
  Resources/Prototypes/_Nuclear14/Recipes/Crafting/storage.yml
Labels: Changes: YML

#770 Steel Sheet Fix
  Resources/Prototypes/_Nuclear14/Recipes/Lathes/materials.yml
Labels: Changes: YML
