Repository Vault-Overseers/nuclear-14, pull requests merged in 2024-07, with the labels that each got.

#256 Add discord button in escape menu
  Content.Client/Options/UI/EscapeMenu.xaml
  Content.Client/UserInterface/Systems/EscapeMenu/EscapeUIController.cs
  Resources/Locale/en-US/escape-menu/ui/escape-menu.ftl
Labels: Changes: UI, Changes: C#, Changes: Localization

#253 NCR Ranger Veteran and loadout changes
  Resources/Prototypes/Nuclear14/Catalog/Fills/Belts/belt.yml
  Resources/Prototypes/Nuclear14/Entities/Clothing/Mask/gasmasks.yml
  Resources/Prototypes/Nuclear14/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Misc/identification.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Specific/Kits/kits.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Specific/Medical/chemicals.yml
  Resources/Prototypes/Nuclear14/Loadouts/Roles/loadouts_ncr.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/republic_ranger.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/republic_ranger_veteran.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Rangers/ranger.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Rangers/ranger_chief.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Rangers/ranger_entity.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Rangers/ranger_recruit.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Rangers/ranger_veteran.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/factions.yml
Labels: Changes: YML

#254 roles
  Resources/Prototypes/Nuclear14/Catalog/Fills/Belts/belt.yml
  Resources/Prototypes/Nuclear14/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Nuclear14/Entities/Clothing/Uniform/falloutjumpsuits.yml
  Resources/Prototypes/Nuclear14/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Specific/Kits/kits.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/ncr_doctor.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/ncr_mp.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/ncr_nco.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/ncr_officer.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/ncr_quartermaster.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/factions.yml
  Resources/Textures/Nuclear14/Clothing/Back/Backpacks/backpackncr.rsi/equipped-BACKPACK.png
  Resources/Textures/Nuclear14/Clothing/Uniforms/FalloutSuits/NCRmp.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Nuclear14/Clothing/Uniforms/FalloutSuits/NCRmp.rsi/icon.png
  Resources/Textures/Nuclear14/Clothing/Uniforms/FalloutSuits/NCRmp.rsi/meta.json
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Revolvers/captainmagnum.rsi/base.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Revolvers/captainmagnum.rsi/bolt-open.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Revolvers/captainmagnum.rsi/equipped-BELT.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Revolvers/captainmagnum.rsi/icon.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Revolvers/captainmagnum.rsi/inhand-left.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Revolvers/captainmagnum.rsi/inhand-right.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Revolvers/captainmagnum.rsi/meta.json
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Revolvers/magnum.rsi/base.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Revolvers/magnum.rsi/bolt-open.png
  Resources/Textures/Nuclear14/Objects/Weapons/Guns/Revolvers/magnum.rsi/icon.png
Labels: Changes: Sprite, Changes: YML

#260 Cvar
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#

#255 Quality of Life PR 1
  Resources/Prototypes/Entities/Structures/Decoration/bonfire.yml
  Resources/Prototypes/Maps/N14/sunnyvale.yml
  Resources/Prototypes/Maps/N14/waves.yml
  Resources/Prototypes/Nuclear14/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Decoration/flora.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Nuclear14/Entities/Structures/Decoration/bonfire.yml
  Resources/Prototypes/Nuclear14/Entities/Structures/Misc/wells.yml
  Resources/Prototypes/Nuclear14/Entities/Structures/Walls/fences.yml
  Resources/Prototypes/Nuclear14/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Nuclear14/Entities/Structures/planter.yml
  Resources/Prototypes/Nuclear14/Entities/stations.yml
  Resources/Prototypes/Nuclear14/Reagents/materials.yml
  Resources/Prototypes/Nuclear14/Recipes/Construction/Graphs/hydroponics.yml
  Resources/Prototypes/Nuclear14/Recipes/Construction/Graphs/utilities.yml
  Resources/Prototypes/Nuclear14/Recipes/Construction/hydroponics.yml
  Resources/Prototypes/Nuclear14/Recipes/Construction/utilities.yml
  Resources/Prototypes/Nuclear14/Stacks/material_stacks.yml
  Resources/Prototypes/Nuclear14/Tiles/floors.yml
  Resources/Prototypes/Nuclear14/gatherable.yml
  Resources/Textures/Nuclear14/Objects/Misc/crafting_material.rsi/compost.png
  Resources/Textures/Nuclear14/Objects/Misc/crafting_material.rsi/dung-flies.png
  Resources/Textures/Nuclear14/Objects/Misc/crafting_material.rsi/dung.png
  Resources/Textures/Nuclear14/Objects/Misc/crafting_material.rsi/meta.json
  Resources/Textures/Nuclear14/Structures/Walls/wooddark.rsi/full.png
  Resources/Textures/Nuclear14/Structures/Walls/wooddark.rsi/wood0.png
  Resources/Textures/Nuclear14/Structures/Walls/wooddark.rsi/wood1.png
  Resources/Textures/Nuclear14/Structures/Walls/wooddark.rsi/wood2.png
  Resources/Textures/Nuclear14/Structures/Walls/wooddark.rsi/wood3.png
  Resources/Textures/Nuclear14/Structures/Walls/wooddark.rsi/wood4.png
  Resources/Textures/Nuclear14/Structures/Walls/wooddark.rsi/wood5.png
  Resources/Textures/Nuclear14/Structures/Walls/wooddark.rsi/wood6.png
  Resources/Textures/Nuclear14/Structures/Walls/wooddark.rsi/wood7.png
  Resources/Textures/Nuclear14/Structures/Walls/woodlognew.rsi/full.png
  Resources/Textures/Nuclear14/Structures/Walls/woodlognew.rsi/girder.png
  Resources/Textures/Nuclear14/Structures/Walls/woodlognew.rsi/log0.png
  Resources/Textures/Nuclear14/Structures/Walls/woodlognew.rsi/log1.png
  Resources/Textures/Nuclear14/Structures/Walls/woodlognew.rsi/log2.png
  Resources/Textures/Nuclear14/Structures/Walls/woodlognew.rsi/log3.png
  Resources/Textures/Nuclear14/Structures/Walls/woodlognew.rsi/log4.png
  Resources/Textures/Nuclear14/Structures/Walls/woodlognew.rsi/log5.png
  Resources/Textures/Nuclear14/Structures/Walls/woodlognew.rsi/log6.png
  Resources/Textures/Nuclear14/Structures/Walls/woodlognew.rsi/log7.png
  Resources/Textures/Nuclear14/Structures/Walls/woodlognew.rsi/meta.json
Labels: Changes: Map, Changes: Sprite

#262 NCR Ranger startingGear fix
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/republic_ranger.yml
Labels: Changes: YML

#266 Adds 45-70 / 50 / welding glasses and speedLoaders to crafting benches
  Resources/Prototypes/Nuclear14/Entities/Structures/Misc/craftingbenches.yml
  Resources/Prototypes/Nuclear14/Recipes/Lathes/ammo.yml
  Resources/Prototypes/Nuclear14/Recipes/Lathes/tools.yml
Labels: Changes: YML

#270 Changes Deathclaw damage slowdown thresholds
  Resources/Prototypes/Nuclear14/Entities/Mobs/NPCs/animals.yml
Labels: Changes: YML

#267 Smooth movement system
  Content.Shared/Movement/Components/MovementSpeedModifierComponent.cs
Labels: Changes: C#

#273 Respawn button
  Content.Client/Ghost/GhostSystem.cs
  Content.Client/UserInterface/Systems/Ghost/Controls/GhostRespawnRulesWindow.xaml
  Content.Client/UserInterface/Systems/Ghost/Controls/GhostRespawnRulesWindow.xaml.cs
  Content.Client/UserInterface/Systems/Ghost/GhostUIController.cs
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml.cs
  Content.Client/_NF/Respawn/RespawnSystem.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/ServerUpdates/ServerUpdateManager.cs
  Content.Server/_NF/Commands/GhostRespawnCommand.cs
  Content.Server/_NF/Respawn/RespawnResetComponent.cs
  Content.Server/_NF/Respawn/RespawnSystem.cs
  Content.Shared/_NF/CCVars/CCVars.cs
  Content.Shared/_NF/Respawn/RespawnResetEvent.cs
  Resources/Locale/en-US/_NF/respawn/respawn-system.ftl
Labels: Changes: UI, Changes: C#, Changes: Localization

#261 New job loadouts for the Townie lawmen
  Resources/Prototypes/Nuclear14/Catalog/Fills/Backpacks/TownGear/backpack.yml
  Resources/Prototypes/Nuclear14/Catalog/Fills/Belts/belt.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Townsfolk/towndeputy.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Townsfolk/townsheriff.yml
Labels: Changes: YML

#268 Medical storage fills and typo
  Resources/Prototypes/Nuclear14/Catalog/Fills/storage_fills_rp.yml
  Resources/Prototypes/Nuclear14/Catalog/Fills/storage_fills_timed.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Specific/Medical/chemicals.yml
  Resources/Prototypes/Nuclear14/Entities/Structures/Storage/closets.yml
Labels: Changes: YML

#276 NPC Lag fix
  Content.Server/NPC/HTN/HTNSystem.cs
Labels: Changes: C#

#283 NCR map spawns for new roles
  Resources/Prototypes/Maps/N14/sunnyvale.yml
Labels: Changes: Map

#278 Entity spawns for admins
  Resources/Prototypes/Nuclear14/Roles/Jobs/BrotherhoodMidwest/brotherhood_midwest_entity.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/BrotherhoodMidwest/knight.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/BrotherhoodMidwest/paladin-commander.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/BrotherhoodMidwest/squire.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/BrotherhoodWashington/brotherhood_washington_entity.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/CaravanCompany/caravan_entity.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Fun/fun_entity.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/ncr_entity.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/republic_ranger_veteran.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Rangers/ranger_entity.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Townsfolk/town_entity.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Tribal/tribal_entity.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/VaultDwellers/vault_entity.yml
Labels: Changes: YML

#288 Tile Smoothing Dirt, Rubble + Weather changes + new trees and procgen changes
  Resources/Prototypes/Nuclear14/Entities/Structures/Misc/floradesert.yml
  Resources/Prototypes/Nuclear14/Procedural/biome_templates.yml
  Resources/Prototypes/Nuclear14/Tiles/floors.yml
  Resources/Textures/Nuclear14/Structures/Misc/trees-dead.rsi/meta.json
  Resources/Textures/Nuclear14/Structures/Misc/trees-dead.rsi/tree_1.png
  Resources/Textures/Nuclear14/Structures/Misc/trees-dead.rsi/tree_2.png
  Resources/Textures/Nuclear14/Structures/Misc/trees-dead.rsi/tree_3.png
  Resources/Textures/Nuclear14/Structures/Misc/trees-dead.rsi/tree_stump.png
  Resources/Textures/Nuclear14/Structures/Misc/trees-ms.rsi/bald.png
  Resources/Textures/Nuclear14/Structures/Misc/trees-ms.rsi/dead_tree1.png
  Resources/Textures/Nuclear14/Structures/Misc/trees-ms.rsi/dead_tree2.png
  Resources/Textures/Nuclear14/Structures/Misc/trees-ms.rsi/dead_tree3.png
  Resources/Textures/Nuclear14/Structures/Misc/trees-ms.rsi/meta.json
  Resources/Textures/Nuclear14/Structures/Misc/trees-ms.rsi/pine_1.png
  Resources/Textures/Nuclear14/Structures/Misc/trees-ms.rsi/pine_1_alt.png
  Resources/Textures/Nuclear14/Structures/Misc/trees-ms.rsi/pine_1_snow.png
  Resources/Textures/Nuclear14/Tiles/Dirt/attributions.yml
  Resources/Textures/Nuclear14/Tiles/Dirt/dirt.png
  Resources/Textures/Nuclear14/Tiles/Dirt/double_edge_E.png
  Resources/Textures/Nuclear14/Tiles/Dirt/double_edge_N.png
  Resources/Textures/Nuclear14/Tiles/Dirt/double_edge_S.png
  Resources/Textures/Nuclear14/Tiles/Dirt/double_edge_W.png
  Resources/Textures/Nuclear14/Tiles/Dirt/single_edge_NE.png
  Resources/Textures/Nuclear14/Tiles/Dirt/single_edge_NW.png
  Resources/Textures/Nuclear14/Tiles/Dirt/single_edge_SE.png
  Resources/Textures/Nuclear14/Tiles/Dirt/single_edge_SW.png
  Resources/Textures/Nuclear14/Tiles/Rubble/attributions.yml
  Resources/Textures/Nuclear14/Tiles/Rubble/double_edge_E.png
  Resources/Textures/Nuclear14/Tiles/Rubble/double_edge_N.png
  Resources/Textures/Nuclear14/Tiles/Rubble/double_edge_S.png
  Resources/Textures/Nuclear14/Tiles/Rubble/double_edge_W.png
  Resources/Textures/Nuclear14/Tiles/Rubble/rubble.png
  Resources/Textures/Nuclear14/Tiles/Rubble/single_edge_NE.png
  Resources/Textures/Nuclear14/Tiles/Rubble/single_edge_NW.png
  Resources/Textures/Nuclear14/Tiles/Rubble/single_edge_SE.png
  Resources/Textures/Nuclear14/Tiles/Rubble/single_edge_SW.png
  Resources/Textures/Nuclear14/Tiles/rubble.png
Labels: Changes: Sprite, Changes: YML

#291 You can throw knifes
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Melee/axes.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Nuclear14/Entities/Objects/Weapons/Melee/longblades.yml
Labels: Changes: YML

#290 Normal blood evaporates too
  Content.Shared/Fluids/SharedPuddleSystem.Evaporation.cs
Labels: Changes: C#

#287 More ranger adjustments
  Resources/Prototypes/Nuclear14/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/Nuclear14/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Nuclear14/Entities/Clothing/OuterClothing/falloutarmor.yml
  Resources/Prototypes/Nuclear14/Entities/Clothing/Uniform/falloutjumpsuits.yml
  Resources/Prototypes/Nuclear14/Entities/Markers/Spawners/Conditional/timed.yml
  Resources/Prototypes/Nuclear14/Loadouts/Roles/loadouts_ranger.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Rangers/ranger_veteran.yml
  Resources/Textures/Nuclear14/Clothing/Head/FalloutHelmets/rangerhelmetfox.rsi/equipped-HELMET.png
  Resources/Textures/Nuclear14/Clothing/Head/FalloutHelmets/rangerhelmetfox.rsi/icon.png
  Resources/Textures/Nuclear14/Clothing/Head/FalloutHelmets/rangerhelmetfox.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#286 Satchels and Duffelbags for the NCR, Rangers, NCR Rangers and Caravan
  Resources/Prototypes/Nuclear14/Roles/Jobs/CaravanCompany/caravan_guard.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/CaravanCompany/caravan_trader.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/ncr_cadet.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/ncr_doctor.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/ncr_mp.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/ncr_nco.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/ncr_officer.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/ncr_quartermaster.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/ncr_soldier.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/republic_ranger.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/NCR/republic_ranger_veteran.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Rangers/ranger.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Rangers/ranger_chief.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Rangers/ranger_recruit.yml
  Resources/Prototypes/Nuclear14/Roles/Jobs/Rangers/ranger_veteran.yml
Labels: Changes: YML

#296 Allows player rotation in stools and officer chairs
  Resources/Prototypes/_Nuclear14/Entities/Structures/Furniture/chairs.yml
Labels: Changes: YML

#297 Combat boots fill and onSpawn plasticbox fill
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Items/misc.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Shoes/falloutbootsbasic.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/knight.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/paladin-commander.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/paladin.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/scribe.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/squire.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/captain.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/commander.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/recruit.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/researcher.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/soldier.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/CaravanCompany/caravan_guard.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/republic_ranger.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/republic_ranger_veteran.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Rangers/ranger.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Rangers/ranger_chief.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Rangers/ranger_veteran.yml
Labels: Changes: YML

#298 Timelocks leadership and high ranking positions
  Resources/Locale/en-US/_Nuclear14/department.ftl
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/knight.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/paladin-commander.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/paladin.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/scribe.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/captain.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/commander.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/researcher.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/soldier.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/CaravanCompany/caravan_leader.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_doctor.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_mp.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_nco.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_officer.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_quartermaster.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_soldier.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/republic_ranger.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/republic_ranger_veteran.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/towndeputy.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/townsheriff.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Tribal/tribalelder.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/VaultDwellers/overseer.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/VaultDwellers/vaultsecurity.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/factions.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/npcFactions.yml
Labels: Changes: YML, Changes: Localization

#299 Adds latejoin slots for certain jobs missing them
  Resources/Prototypes/Maps/N14/sunnyvale.yml
Labels: Changes: Map

#301 Power Armor changes and additions
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Head/powerarmorhelmet.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/falloutarmor.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/powerarmor.yml
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/rangerhelmetmodif.rsi/equipped-HELMET.png
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/rangerhelmetmodif.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/rangerhelmetmodif.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t45ncr.rsi/equipped-HELMET-unshaded.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t45ncr.rsi/icon-flash.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t45ncr.rsi/icon-unshaded.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t45ncr.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t45ncr.rsi/light-overlay.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t45ncr.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t45ncr.rsi/off-equipped-HELMET.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t45ncr.rsi/off-inhand-left-unshaded.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t45ncr.rsi/off-inhand-left.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t45ncr.rsi/off-inhand-right-unshaded.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t45ncr.rsi/off-inhand-right.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t45ncr.rsi/on-equipped-HELMET.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t45ncr.rsi/on-inhand-left-unshaded.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t45ncr.rsi/on-inhand-left.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t45ncr.rsi/on-inhand-right-unshaded.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t45ncr.rsi/on-inhand-right.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t51bc.rsi/equipped-HELMET-unshaded.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t51bc.rsi/icon-flash.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t51bc.rsi/icon-unshaded.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t51bc.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t51bc.rsi/light-overlay.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t51bc.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t51bc.rsi/off-equipped-HELMET.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t51bc.rsi/off-inhand-left-unshaded.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t51bc.rsi/off-inhand-left.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t51bc.rsi/off-inhand-right-unshaded.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t51bc.rsi/off-inhand-right.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t51bc.rsi/on-equipped-HELMET.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t51bc.rsi/on-inhand-left-unshaded.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t51bc.rsi/on-inhand-left.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t51bc.rsi/on-inhand-right-unshaded.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t51bc.rsi/on-inhand-right.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutrangerduster.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutrangerduster.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutrangerduster.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutrangerduster.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutrangerduster.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutrangersuitb.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutrangersuitb.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutrangersuitb.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutrangersuitb.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutrangersuitb.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/PowerArmor/t45ncr.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/PowerArmor/t45ncr.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/PowerArmor/t45ncr.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/PowerArmor/t51bc.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/PowerArmor/t51bc.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/PowerArmor/t51bc.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/PowerArmor/tribal.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/PowerArmor/tribal.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/PowerArmor/tribal.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/PowerArmor/tribal.rsi/inhand-right.png
Labels: Changes: Sprite, Changes: YML

#304 Rebalances laser/plasma weapons and fixes projectile
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Battery/Battery.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Projectiles/energy.yml
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Ammunition/Battery/microfusion.rsi/empty.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Ammunition/Battery/microfusion.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Ammunition/Battery/microfusion.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Ammunition/Battery/microfusion.rsi/o1.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Ammunition/Battery/microfusion.rsi/o2.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Ammunition/Battery/plasma.rsi/empty.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Ammunition/Battery/plasma.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Ammunition/Battery/plasma.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Ammunition/Battery/plasma.rsi/o1.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Ammunition/Battery/plasma.rsi/o2.png
Labels: Changes: Sprite, Changes: YML

#300 Decrease Radroach Health from 30 to 12
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/insects.yml
Labels: Changes: YML

#311 Changes a `false` to `true` and makes whitelists work
  Content.Shared/CCVar/CCVars.cs
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/republic_ranger.yml
Labels: Changes: YML, Changes: C#

#308 Rebalances various weapons.
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Heavy/minigun.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/LMGs/LMGs.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: Changes: YML

#315 Fixes gunpowder and sulfur costs
  Resources/Prototypes/_Nuclear14/Entities/Objects/Materials/materials.yml
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/rangerhelmetmodif.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#317 NCR C/K rations
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Boxes/mre.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/crackers.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/tin.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/kits.yml
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_ranger.yml
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/Tins/c_ration_1.rsi/icon-open.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/Tins/c_ration_1.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/Tins/c_ration_1.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/Tins/c_ration_1.rsi/trash.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/Tins/c_ration_2.rsi/icon-open.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/Tins/c_ration_2.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/Tins/c_ration_2.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/Tins/c_ration_2.rsi/trash.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/Tins/c_ration_3.rsi/icon-open.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/Tins/c_ration_3.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/Tins/c_ration_3.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/Tins/c_ration_3.rsi/trash.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/Tins/crackers.rsi/c_cracker.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/Tins/crackers.rsi/k_cracker.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/Tins/crackers.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/Tins/k_ration.rsi/icon-open.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/Tins/k_ration.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/Tins/k_ration.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/Tins/k_ration.rsi/trash.png
Labels: No C#, Changes: Sprite, Changes: YML

#319 Minor faction description change
  Resources/Locale/en-US/_Nuclear14/department.ftl
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/republic_ranger_veteran.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/factions.yml
Labels: No C#, Changes: YML, Changes: Localization

#328 Copyright fix
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/dinkidi.rsi/meta.json
Labels: Changes: Sprite

#323 Fixes department-insufficient
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
Labels: Status: Needs Review, Changes: C#

#326 Rebalances some kits and Adds scout rifle
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/kits.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_ncr.yml
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Rifles/scoutrifle.rsi/base.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Rifles/scoutrifle.rsi/bolt-open.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Rifles/scoutrifle.rsi/equipped-BACKPACK.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Rifles/scoutrifle.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Rifles/scoutrifle.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Rifles/scoutrifle.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Rifles/scoutrifle.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Rifles/scoutrifle.rsi/mag-0.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Rifles/scoutrifle.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Rifles/scoutrifle.rsi/wielded-inhand-left.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Rifles/scoutrifle.rsi/wielded-inhand-right.png
Labels: Changes: Sprite, Changes: YML

#329 adds Dual wielding for revolvers
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
Labels: No C#, Changes: YML

#330 Makes shotguns require wielding to fire
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: No C#, Changes: YML

#331 Adds ID locked doors
  Resources/Prototypes/_Nuclear14/Access/bosmidwest.yml
  Resources/Prototypes/_Nuclear14/Access/ncr.yml
  Resources/Prototypes/_Nuclear14/Entities/Markers/Spawners/latejoin.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/identification.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Doors/access.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/knight.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/paladin-commander.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/paladin.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/scribe.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/squire.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_cadet.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_doctor.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_mp.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_nco.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_officer.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_quartermaster.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_soldier.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/republic_ranger.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/republic_ranger_veteran.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Rangers/ranger.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Rangers/ranger_recruit.yml
Labels: No C#, Status: Needs Review, Changes: YML

#325 increases projectile speed and fixes projectiles inheriting velocity of the player
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
Labels: Status: Needs Review, Changes: C#

#335 Adds laser gatling
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Battery/Battery.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Nuclear14/tags.yml
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Ammunition/Battery/fusion.rsi/empty.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Ammunition/Battery/fusion.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Ammunition/Battery/fusion.rsi/o1.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Ammunition/Battery/fusion.rsi/o2.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Battery/laser_gatling.rsi/base.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Battery/laser_gatling.rsi/equipped-BACKPACK.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Battery/laser_gatling.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Battery/laser_gatling.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Battery/laser_gatling.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Battery/laser_gatling.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Battery/laser_gatling.rsi/mag-unshaded-0.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Battery/laser_gatling.rsi/mag-unshaded-1.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Battery/laser_gatling.rsi/mag-unshaded-2.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Battery/laser_gatling.rsi/mag-unshaded-3.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Battery/laser_gatling.rsi/mag-unshaded-4.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Battery/laser_gatling.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Battery/laser_gatling.rsi/wielded-inhand-left.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Battery/laser_gatling.rsi/wielded-inhand-right.png
Labels: Changes: Sprite, Changes: YML

#332 Adds bandanas to the crafting menu
  Resources/Prototypes/Entities/Clothing/Masks/bandanas.yml
  Resources/Prototypes/_Nuclear14/Recipes/Crafting/clothing.yml
Labels: No C#, Changes: YML

#336 NPC Taming
  Content.Server/NPC/Components/FactionExceptionComponent.cs
  Content.Server/_NC/NPCTaming/NPCTamingOnTouchBehaviourComponent.cs
  Content.Server/_NC/NPCTaming/NPCTamingOnTouchSystem.cs
  Content.Server/_NC/NPCTaming/TamedNpcFriendComponent.cs
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/basemob.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/compounds.yml
Labels: Changes: YML, Changes: C#

#339 Bullet Projectile damage changes
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/45-70.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/50.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/5mm.yml
Labels: Changes: YML

#337 More locked doors
  Resources/Prototypes/_Nuclear14/Access/miscfactions.yml
  Resources/Prototypes/_Nuclear14/Access/ncr.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/identification.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Doors/access.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_doctor.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_mp.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/townmayor.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/townsheriff.yml
  Resources/Textures/_Nuclear14/Objects/Misc/identification.rsi/brass.png
  Resources/Textures/_Nuclear14/Objects/Misc/identification.rsi/bronze.png
  Resources/Textures/_Nuclear14/Objects/Misc/identification.rsi/gold.png
  Resources/Textures/_Nuclear14/Objects/Misc/identification.rsi/iron.png
  Resources/Textures/_Nuclear14/Objects/Misc/identification.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Misc/identification.rsi/silver.png
Labels: Changes: Sprite, Changes: YML

#341 Collection of Fixes and QOL Features
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/Entities/Structures/Machines/telecomms.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/falloutarmor.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/powerarmor.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_nco.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_officer.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/republic_ranger.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/republic_ranger_veteran.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Rangers/ranger.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Rangers/ranger_chief.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Rangers/ranger_recruit.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Rangers/ranger_veteran.yml
  Resources/Prototypes/_Nuclear14/radio_channels.yml
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Battery/laser_gatling.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Battery/laser_gatling.rsi/wielded-inhand-left.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Battery/laser_gatling.rsi/wielded-inhand-right.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Heavy/minigun.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Heavy/minigun.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#349 Fixes WallFrame, Indestructible BlastDoor
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Walls/walls.yml
Labels: Changes: YML

#345 Chemicals are dangerous and Aluminium exists
  Resources/Locale/en-US/_Nuclear14/reagents.ftl
  Resources/Prototypes/_Nuclear14/Entities/Objects/Materials/metals.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Medical/chemicals.yml
  Resources/Prototypes/_Nuclear14/Reagents/materials.yml
  Resources/Prototypes/_Nuclear14/Reagents/medicine.yml
  Resources/Prototypes/_Nuclear14/Reagents/products.yml
  Resources/Prototypes/_Nuclear14/Reagents/toxins.yml
  Resources/Prototypes/_Nuclear14/Recipes/Crafting/medical.yml
  Resources/Prototypes/_Nuclear14/Stacks/material_stacks.yml
  Resources/Prototypes/_Nuclear14/Stacks/medical_stacks.yml
  Resources/Textures/_Nuclear14/Objects/Specific/Medical/drugs.rsi/bandage.png
  Resources/Textures/_Nuclear14/Objects/Specific/Medical/drugs.rsi/ethanol.png
  Resources/Textures/_Nuclear14/Objects/Specific/Medical/drugs.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Specific/Medical/drugs.rsi/psycho0.png
Labels: Changes: Sprite, Changes: YML, Changes: Localization

#344 Crafting, Loadouts and Kits (AMR, BrushTube) v2
  Resources/Prototypes/_Nuclear14/Catalog/Fills/storage_fills_rp.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/storage_fills_timed.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/kits.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/craftingbenches.yml
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_ranger.yml
  Resources/Prototypes/_Nuclear14/Recipes/Lathes/ammo.yml
Labels: Changes: YML

#351 Adds Lootable fridge
  Resources/Prototypes/_Nuclear14/Catalog/Fills/storage_fills_rp.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Storage/closets.yml
Labels: Changes: YML

#352 Fixes door suffix
  Resources/Prototypes/_Nuclear14/Entities/Structures/Doors/access.yml
Labels: Changes: YML

#350 RadAway Phial and some changes
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/junk.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Medical/chemicals.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/craftingbenches.yml
  Resources/Prototypes/_Nuclear14/Reagents/medicine.yml
  Resources/Prototypes/_Nuclear14/Recipes/Crafting/medical.yml
  Resources/Prototypes/_Nuclear14/Recipes/Lathes/chemistry.yml
  Resources/Prototypes/_Nuclear14/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_Nuclear14/tags.yml
  Resources/Textures/_Nuclear14/Objects/Specific/Medical/radinhaler.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Specific/Medical/radinhaler.rsi/radawayinhaler.png
  Resources/Textures/_Nuclear14/Objects/Specific/Medical/radinhaler.rsi/radawayinhaler1.png
  Resources/Textures/_Nuclear14/Objects/Specific/Medical/radinhaler.rsi/radawayinhaler2.png
  Resources/Textures/_Nuclear14/Objects/Specific/Medical/radinhaler.rsi/radawayinhaler3.png
  Resources/Textures/_Nuclear14/Objects/Specific/Medical/radinhaler.rsi/radawayinhaler_icon.png
  Resources/Textures/_Nuclear14/Objects/Specific/Medical/radinhaler.rsi/radawayinhaler_text.png
  Resources/Textures/_Nuclear14/Objects/Specific/Medical/radinhaler.rsi/radawayphial.png
  Resources/Textures/_Nuclear14/Objects/Specific/Medical/radinhaler.rsi/radawayphial1.png
  Resources/Textures/_Nuclear14/Objects/Specific/Medical/radinhaler.rsi/radawayphial2.png
  Resources/Textures/_Nuclear14/Objects/Specific/Medical/radinhaler.rsi/radawayphial3.png
  Resources/Textures/_Nuclear14/Objects/Specific/Medical/radinhaler.rsi/radawayphial_icon.png
  Resources/Textures/_Nuclear14/Objects/Specific/Medical/radinhaler.rsi/radawayphial_text.png
Labels: Changes: Sprite, Changes: YML

#347 Added maidclaws
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/_Nuclear14/Mobs/Animals/maidclaw.rsi/crit.png
  Resources/Textures/_Nuclear14/Mobs/Animals/maidclaw.rsi/dead.png
  Resources/Textures/_Nuclear14/Mobs/Animals/maidclaw.rsi/maidclaw.png
  Resources/Textures/_Nuclear14/Mobs/Animals/maidclaw.rsi/meta.json
Labels: No C#, Changes: Sprite, Changes: YML

#358 adds a short doafter to hypospray for when you use it on others
  Content.Server/Chemistry/EntitySystems/ChemistrySystemHypospray.cs
  Content.Shared/Chemistry/Components/HyposprayComponent.cs
Labels: Changes: C#

#357 Fixes fox ranger helmet / Updates balancing
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/falloutarmor.yml
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/rangerhelmetfox.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/rangerhelmetmodif.rsi/icon.png
Labels: Changes: Sprite, Changes: YML

#361 Respawn button
  Content.Client/Ghost/GhostSystem.cs
  Content.Client/UserInterface/Systems/Ghost/Controls/GhostRespawnRulesWindow.xaml
  Content.Client/UserInterface/Systems/Ghost/Controls/GhostRespawnRulesWindow.xaml.cs
  Content.Client/UserInterface/Systems/Ghost/GhostUIController.cs
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml.cs
  Content.Client/_NF/Respawn/RespawnSystem.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/ServerUpdates/ServerUpdateManager.cs
  Content.Server/_NF/Commands/GhostRespawnCommand.cs
  Content.Server/_NF/Respawn/RespawnResetComponent.cs
  Content.Server/_NF/Respawn/RespawnSystem.cs
  Content.Shared/_NF/CCVars/CCVars.cs
  Content.Shared/_NF/Respawn/RespawnResetEvent.cs
  Resources/Locale/en-US/_NF/respawn/respawn-system.ftl
Labels: Changes: UI, Changes: C#, Changes: Localization

#363 Fix and Nerfs
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/12.7.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
Labels: Changes: YML

#367 quick fix
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/50.yml
Labels: Changes: YML

#369 Species job blacklist
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Shared/Roles/JobPrototype.cs
  Content.Shared/_NC/Roles/JobBlockForSpecies.cs
  Resources/Locale/en-US/_Nuclear14/role-timers.ftl
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/knight.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/paladin-commander.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/paladin.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/scribe.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/captain.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/commander.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/recruit.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/researcher.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/soldier.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/VaultDwellers/overseer.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/VaultDwellers/vaultdoctor.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/VaultDwellers/vaultdweller.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/VaultDwellers/vaultengineer.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/VaultDwellers/vaultsecurity.yml
Labels: Changes: UI, Changes: YML, Changes: C#, Changes: Localization

#373 Fixes mini/gatling gun inventory size
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Heavy/minigun.yml
Labels: Changes: YML

#371 Adds power cells to belts
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Battery/Battery.yml
  Resources/Prototypes/_Nuclear14/tags.yml
Labels: Changes: YML

#370 Ghoul race modifiers
  Resources/Prototypes/_Nuclear14/Entities/Mobs/Species/ghouls.yml
Labels: Changes: YML

#372 adds a undecided loadout kit to starter gears to replace loadout kits
  Content.Client/UndecidedLoadout/UndecidedLoadoutBackpackMenu.xaml
  Content.Client/UndecidedLoadout/UndecidedLoadoutBackpackMenu.xaml.cs
  Content.Client/UndecidedLoadout/UndecidedLoadoutBackpackSet.xaml
  Content.Client/UndecidedLoadout/UndecidedLoadoutBoundUserInterface.cs
  Content.Client/UndecidedLoadout/UndecidedLoadoutSet.xaml.cs
  Content.Server/_N14/UndecidedLoadout/Components/UndecidedLoadoutBackpackComponent.cs
  Content.Server/_N14/UndecidedLoadout/Systems/UndecidedLoadoutBackpackSystem.cs
  Content.Shared/_N14/UndecidedLoadout/Components/UndecidedLoadoutBackpackUI.cs
  Content.Shared/_N14/UndecidedLoadout/Prototypes/UndecidedLoadoutBackpackSetPrototype.cs
  Resources/Locale/en-US/_Nuclear14/undecidedloadout.ftl
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/UndecidedLoadout.yml
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_ncr.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_cadet.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_doctor.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_nco.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_officer.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_quartermaster.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_soldier.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/republic_ranger.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/republic_ranger_veteran.yml
Labels: Changes: UI, Changes: YML, Changes: C#, Changes: Localization

#379 fix respawn error
  Content.Server/_NF/Respawn/RespawnSystem.cs
Labels: Changes: C#

#375 Fix console errors
  Resources/Prototypes/_Nuclear14/Catalog/Fills/gatherables.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/ladders.yml
  Resources/Prototypes/_Nuclear14/Hydroponics/seeds.yml
Labels: Changes: YML

#376 Taming Fix
  Content.Server/_NC/NPCTaming/NPCTamingOnTouchSystem.cs
Labels: Changes: C#

#381 Makes humans rot after 30 minutes instead of 10
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: YML

#380 Adds more job openings midround
  Resources/Prototypes/Maps/N14/sunnyvale.yml
Labels: Changes: Map

#382 Adjusts ghoul rads to deal OT damage
  Resources/Prototypes/_Nuclear14/Entities/Mobs/Species/ghouls.yml
Labels: Changes: YML

#383 Adds missing IDs
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/identification.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/knight.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/squire.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_doctor.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_mp.yml
Labels: Status: Needs Review, Changes: YML

#374 Loadout edits (+ outfit variations)
  Resources/Locale/en-US/_Nuclear14/undecidedloadout.ftl
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/powerarmor.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Uniform/falloutjumpsuits.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/UndecidedLoadout.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/kits.yml
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_bos_midwest.yml
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_ranger.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/knight.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/paladin-commander.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/paladin.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/scribe.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/squire.yml
  Resources/Textures/_Nuclear14/Clothing/Uniforms/FalloutSuits/desertpants.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Nuclear14/Clothing/Uniforms/FalloutSuits/desertpants.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/Uniforms/FalloutSuits/desertpants.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/Uniforms/FalloutSuits/rangerveteranblack.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Nuclear14/Clothing/Uniforms/FalloutSuits/rangerveteranblack.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/Uniforms/FalloutSuits/rangerveteranblack.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/Uniforms/FalloutSuits/rangerveteranred.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Nuclear14/Clothing/Uniforms/FalloutSuits/rangerveteranred.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/Uniforms/FalloutSuits/rangerveteranred.rsi/meta.json
Labels: Status: Needs Review, Status: Merge Conflict, Changes: Sprite, Changes: YML, Changes: Localization

#387 Minor fixes to PA helmets
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Head/powerarmorhelmet.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/powerarmor.yml
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/x02.rsi/equipped-HELMET-unshaded.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/x02.rsi/off-equipped-HELMET.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/PowerArmor/advanced2.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/PowerArmor/hellfire.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/PowerArmor/t51.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/PowerArmor/t51bc.rsi/equipped-OUTERCLOTHING.png
Labels: Changes: Sprite, Changes: YML

#386 Revamps loot table numbers and adds missing medical
  Resources/Prototypes/_Nuclear14/Catalog/Fills/storage_fills_rp.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/storage_fills_timed.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Decoration/junk_piles.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Storage/closets.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Storage/crates.yml
Labels: No C#, Status: Needs Review, Changes: YML

#364 Fixes sewer water entities, adds water entities.
  Resources/Prototypes/Entities/Tiles/water.yml
  Resources/Prototypes/_Nuclear14/Tiles/water.yml
  Resources/Textures/_Nuclear14/Tiles/ms13/Water.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#390 Handheld radio
  Content.Client/_NC/Radio/UI/HandheldRadioBoundUserInterface.cs
  Content.Client/_NC/Radio/UI/HandheldRadioMenu.xaml
  Content.Client/_NC/Radio/UI/HandheldRadioMenu.xaml.cs
  Content.Server/Radio/Components/RadioMicrophoneComponent.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/_NC/Radio/SharedHandheldRadio.cs
  Resources/Locale/en-US/radio/components/handheld-radio-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/radio.yml
Labels: Changes: UI, Changes: YML, Changes: C#, Changes: Localization

#397 Fixes the junk spam
  Resources/Prototypes/_Nuclear14/Catalog/Fills/storage_fills_rp.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/storage_fills_timed.yml
Labels: Changes: YML

#388 Balances the gatling
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Battery/Battery.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Changes: YML

#395 Fix missing headset channels
  Resources/Locale/en-US/_Nuclear14/headset-component.ftl
Labels: Changes: Localization

#378 Taming improve
  Content.Server/_NC/NPCTaming/NPCTamingOnTouchBehaviourComponent.cs
  Content.Server/_NC/NPCTaming/NPCTamingOnTouchSystem.cs
Labels: Changes: C#

#400 Many changes to laser weapons
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/storage_fills_rp.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/storage_fills_timed.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/kits.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Battery/Battery.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Nuclear14/tags.yml
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Ammunition/Battery/EC.rsi/empty.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Ammunition/Battery/EC.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Ammunition/Battery/EC.rsi/o1.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Ammunition/Battery/EC.rsi/o2.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Ammunition/Battery/EC.rsi/o3.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Ammunition/Battery/EC.rsi/pref-o2.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Ammunition/Battery/ECP.rsi/empty.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Ammunition/Battery/ECP.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Ammunition/Battery/ECP.rsi/o1.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Ammunition/Battery/ECP.rsi/o2.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Ammunition/Battery/microfusionfocused.rsi/empty.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Ammunition/Battery/microfusionfocused.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Ammunition/Battery/microfusionfocused.rsi/o1.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Ammunition/Battery/microfusionfocused.rsi/o2.png
Labels: Changes: Sprite, Changes: YML

#404 Special follow up
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Shared/Nuclear14/CCVar/SpecialCCVars.cs
  Content.Shared/Nuclear14/Special/ClothingSpecialModifierSystem.cs
  Resources/Locale/en-US/_Nuclear14/Special/special-character-screen-description.ftl
  Resources/Locale/en-US/_Nuclear14/Special/special-character-screen.ftl
  Resources/Prototypes/_Nuclear14/Special/specials.yml
Labels: Changes: UI, Changes: YML, Changes: C#, Changes: Localization

#405 Adds basic guns to domestic / Adds loot variety lockers
  Resources/Prototypes/_Nuclear14/Catalog/Fills/storage_fills_rp.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/storage_fills_timed.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Storage/closets.yml
Labels: Changes: YML

#406 some sprite fixes
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Battery/wattz2000.rsi/mag-unshaded-1.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Battery/wattz2000.rsi/mag-unshaded-2.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Battery/wattz2000.rsi/mag-unshaded-3.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Battery/wattz2000.rsi/mag-unshaded-4.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Battery/wattz3000.rsi/mag-unshaded-1.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Battery/wattz3000.rsi/mag-unshaded-2.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Battery/wattz3000.rsi/mag-unshaded-3.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Battery/wattz3000.rsi/mag-unshaded-4.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Pistols/9mm.rsi/base.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Pistols/9mm.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Pistols/9mm.rsi/mag-0.png
Labels: Changes: Sprite

#414 Emergency shitcode fix for mercer island
  Content.Server/_CP14/StationDungeonMap/CP14StationAdditionalMapComponent.cs
  Content.Server/_CP14/StationDungeonMap/CP14StationAdditionalMapSystem.cs
  Content.Server/_NF/NuclearMapFix/NuclearMapFixComponent.cs
  Content.Server/_NF/NuclearMapFix/NuclearMapFixSystem.cs
  Resources/Maps/N14/MercerIslandSewers.yml
  Resources/Maps/N14/MercerIslandSurface.yml
  Resources/Prototypes/Maps/N14/mercerisland.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/VaultDwellers/overseer.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/VaultDwellers/vaultdoctor.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/VaultDwellers/vaultdweller.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/VaultDwellers/vaultengineer.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/VaultDwellers/vaultsecurity.yml
  Resources/Prototypes/_Nuclear14/Tiles/floors.yml
Labels: Changes: Map, Changes: C#

#412 Entity fixes for ghouls
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/Player/ghouls.yml
Labels: Changes: YML

#413 Fixed leather armor special stat modifiers, gave various items special stat buffs
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/falloutarmor.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/powerarmor.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Shoes/falloutshoesbasic.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Uniform/falloutjumpsuits.yml
Labels: Changes: YML

#411 Examine special values
  Content.Client/CharacterInfo/CharacterInfoSystem.cs
  Content.Client/UserInterface/Systems/Character/CharacterUIController.cs
  Content.Client/UserInterface/Systems/Character/Windows/CharacterWindow.xaml
  Content.Server/CharacterInfo/CharacterInfoSystem.cs
  Content.Server/Nuclear14/Special/EntitySystems/SpecialSystem.cs
  Content.Shared/CharacterInfo/SharedCharacterInfoSystem.cs
  Content.Shared/Mind/MindComponent.cs
  Content.Shared/Nuclear14/Special/SpecialModifierSystem.cs
  Resources/Locale/en-US/_Nuclear14/Special/character-examine.ftl
Labels: Changes: UI, Changes: C#, Changes: Localization

#366 Nightvision hard prototype
  Content.Client/_N14/NightVision/GreenVisionOverlay.cs
  Content.Client/_N14/NightVision/GreenVisionSystem.cs
  Content.Client/_N14/NightVision/NightVisionOverlay.cs
  Content.Client/_N14/NightVision/NightVisionSystem.cs
  Content.Server/_N14/NightVision/NightVisionSystem.cs
  Content.Shared/Alert/AlertType.cs
  Content.Shared/_N14/NightVision/GreenVisionComponent.cs
  Content.Shared/_N14/NightVision/NightVisionComponent.cs
  Content.Shared/_N14/NightVision/NightVisionItemComponent.cs
  Content.Shared/_N14/NightVision/NightVisionItemVisuals.cs
  Content.Shared/_N14/NightVision/RMCNightVisionVisibleComponent.cs
  Content.Shared/_N14/NightVision/SharedNightVisionSystem.cs
  Content.Shared/_N14/NightVision/ToggleNightVision.cs
  Resources/Prototypes/_Nuclear14/Actions/action_base.yml
  Resources/Prototypes/_Nuclear14/Actions/action_nightvision.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Mask/gasmasks.yml
  Resources/Prototypes/_Nuclear14/Shaders/greenvision.yml
  Resources/Textures/_Nuclear14/Clothing/Mask/Gasmask/combatgasmask.rsi/icon_on.png
  Resources/Textures/_Nuclear14/Clothing/Mask/Gasmask/combatgasmask.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/Mask/Gasmask/rangerdesertgasmask.rsi/icon_on.png
  Resources/Textures/_Nuclear14/Clothing/Mask/Gasmask/rangerdesertgasmask.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/Mask/Gasmask/rangerelitegasmask.rsi/icon_on.png
  Resources/Textures/_Nuclear14/Clothing/Mask/Gasmask/rangerelitegasmask.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/Mask/Gasmask/rangeroldgasmask.rsi/icon_on.png
  Resources/Textures/_Nuclear14/Clothing/Mask/Gasmask/rangeroldgasmask.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/Mask/Gasmask/rangerpricegasmask.rsi/icon_on.png
  Resources/Textures/_Nuclear14/Clothing/Mask/Gasmask/rangerpricegasmask.rsi/meta.json
  Resources/Textures/_Nuclear14/Shaders/greenvision.swsl
Labels: Changes: Sprites, Changes: Sprite, Changes: YML, Changes: C#

#416 Junk and Scrapping Adjustments
  Resources/Prototypes/_Nuclear14/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/junk.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Medical/chemicals.yml
Labels: Changes: YML

#418 Adds HEIAP and Rebalances western ammo
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/50.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/50.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/50.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/44.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/45-70.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/50.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_Nuclear14/tags.yml
Labels: Changes: YML

#422 Adds Ethanol, Fixes Domestic_Fills
  Resources/Prototypes/_Nuclear14/Catalog/Fills/storage_fills_rp.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/storage_fills_timed.yml
Labels: Changes: YML

#421 Adds recipe for `N14SeedExtractor`
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/junk.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/hydroponics.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/Graphs/Machines/seedextractor.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/hydroponics.yml
  Resources/Prototypes/_Nuclear14/tags.yml
  Resources/Textures/_Nuclear14/Objects/Specific/Hydroponics/equipment.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Specific/Hydroponics/equipment.rsi/seedextractor0.png
  Resources/Textures/_Nuclear14/Objects/Specific/Hydroponics/equipment.rsi/seedextractor1.png
  Resources/Textures/_Nuclear14/Objects/Specific/Hydroponics/equipment.rsi/seedextractor2.png
  Resources/Textures/_Nuclear14/Objects/Specific/Hydroponics/equipment.rsi/seedextractor3.png
Labels: Changes: Sprite, Changes: YML

#425 Adds radiation source to some entities
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Flora/wastelandflora.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/wrecks.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Storage/barrels.yml
Labels: Changes: YML

#423 Adds `HidesBeard` tag for hiding beard
  Content.Shared/Clothing/EntitySystems/ClothingSystem.cs
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Head/powerarmorhelmet.yml
  Resources/Prototypes/tags.yml
Labels: Changes: YML, Changes: C#

#426 Tribal Buffs
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/coats_and_outer.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/falloutarmor.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/hammer.yml
Labels: Changes: YML

#429 RadiationSource slope increase
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Flora/wastelandflora.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/wrecks.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Power/generators.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Storage/barrels.yml
Labels: Changes: YML

#428 Adds Fallout UI
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/hud.yml
  Resources/Prototypes/themes.yml
  Resources/Textures/Interface/Fallout2/SlotBackground.png
  Resources/Textures/Interface/Fallout2/Slots/back.png
  Resources/Textures/Interface/Fallout2/Slots/belt.png
  Resources/Textures/Interface/Fallout2/Slots/ears.png
  Resources/Textures/Interface/Fallout2/Slots/glasses.png
  Resources/Textures/Interface/Fallout2/Slots/gloves.png
  Resources/Textures/Interface/Fallout2/Slots/hand_l.png
  Resources/Textures/Interface/Fallout2/Slots/hand_r.png
  Resources/Textures/Interface/Fallout2/Slots/head.png
  Resources/Textures/Interface/Fallout2/Slots/id.png
  Resources/Textures/Interface/Fallout2/Slots/mask.png
  Resources/Textures/Interface/Fallout2/Slots/neck.png
  Resources/Textures/Interface/Fallout2/Slots/pocket.png
  Resources/Textures/Interface/Fallout2/Slots/shoes.png
  Resources/Textures/Interface/Fallout2/Slots/suit.png
  Resources/Textures/Interface/Fallout2/Slots/suit_storage.png
  Resources/Textures/Interface/Fallout2/Slots/toggle.png
  Resources/Textures/Interface/Fallout2/Slots/uniform.png
  Resources/Textures/Interface/Fallout2/Storage/back.png
  Resources/Textures/Interface/Fallout2/Storage/exit.png
  Resources/Textures/Interface/Fallout2/Storage/piece_bottom.png
  Resources/Textures/Interface/Fallout2/Storage/piece_bottomLeft.png
  Resources/Textures/Interface/Fallout2/Storage/piece_bottomRight.png
  Resources/Textures/Interface/Fallout2/Storage/piece_center.png
  Resources/Textures/Interface/Fallout2/Storage/piece_left.png
  Resources/Textures/Interface/Fallout2/Storage/piece_right.png
  Resources/Textures/Interface/Fallout2/Storage/piece_top.png
  Resources/Textures/Interface/Fallout2/Storage/piece_topLeft.png
  Resources/Textures/Interface/Fallout2/Storage/piece_topRight.png
  Resources/Textures/Interface/Fallout2/Storage/sidebar_bottom.png
  Resources/Textures/Interface/Fallout2/Storage/sidebar_fat.png
  Resources/Textures/Interface/Fallout2/Storage/sidebar_mid.png
  Resources/Textures/Interface/Fallout2/Storage/sidebar_top.png
  Resources/Textures/Interface/Fallout2/Templates/template.png
  Resources/Textures/Interface/Fallout2/Templates/template_small.png
  Resources/Textures/Interface/Fallout2/Templates/template_tiny.png
  Resources/Textures/Interface/Fallout2/slot_highlight.png
Labels: Changes: YML, Changes: Localization

#431 fixes gun accuracy
  Content.Client/Weapons/Ranged/GunSpreadOverlay.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
Labels: Changes: C#

#430 Fixes `N14StorageTankVat` bounds
  Resources/Prototypes/_Nuclear14/Entities/Structures/Storage/tanks.yml
Labels: Changes: YML

#427 Adds crafting for workbenches || Also fixes some previous crafts
  Resources/Locale/en-US/_Nuclear14/reagents.ftl
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/junk.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/craftingbenches.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/Graphs/Machines/workbenchammo.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/Graphs/Machines/workbenchchemistryset.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/Graphs/Machines/workbenchforge.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/Graphs/Machines/workbenchmetal.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/hydroponics.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/machines.yml
  Resources/Prototypes/_Nuclear14/Recipes/Crafting/clothing.yml
  Resources/Prototypes/_Nuclear14/Recipes/Crafting/items.yml
  Resources/Prototypes/_Nuclear14/Recipes/Crafting/materials.yml
  Resources/Prototypes/_Nuclear14/Recipes/Crafting/medical.yml
  Resources/Prototypes/_Nuclear14/Recipes/Reactions/ores.yml
  Resources/Prototypes/_Nuclear14/Stacks/material_stacks.yml
  Resources/Prototypes/_Nuclear14/tags.yml
  Resources/Textures/_Nuclear14/Structures/Misc/forgeworkbench.rsi/forgeframe0.png
  Resources/Textures/_Nuclear14/Structures/Misc/forgeworkbench.rsi/forgeframe1.png
  Resources/Textures/_Nuclear14/Structures/Misc/forgeworkbench.rsi/forgeframe2.png
  Resources/Textures/_Nuclear14/Structures/Misc/forgeworkbench.rsi/forgeframe3.png
  Resources/Textures/_Nuclear14/Structures/Misc/forgeworkbench.rsi/forgeframe4.png
  Resources/Textures/_Nuclear14/Structures/Misc/forgeworkbench.rsi/forgeframe5.png
  Resources/Textures/_Nuclear14/Structures/Misc/forgeworkbench.rsi/forgeicon.png
  Resources/Textures/_Nuclear14/Structures/Misc/forgeworkbench.rsi/meta.json
  Resources/Textures/_Nuclear14/Structures/Misc/workbenches.rsi/ammobenchframe0.png
  Resources/Textures/_Nuclear14/Structures/Misc/workbenches.rsi/ammobenchframe1.png
  Resources/Textures/_Nuclear14/Structures/Misc/workbenches.rsi/ammobenchframe2.png
  Resources/Textures/_Nuclear14/Structures/Misc/workbenches.rsi/ammobenchframe3.png
  Resources/Textures/_Nuclear14/Structures/Misc/workbenches.rsi/ammobenchframe4.png
  Resources/Textures/_Nuclear14/Structures/Misc/workbenches.rsi/ammobenchframe5.png
  Resources/Textures/_Nuclear14/Structures/Misc/workbenches.rsi/chemicalsetframe0.png
  Resources/Textures/_Nuclear14/Structures/Misc/workbenches.rsi/chemicalsetframe1.png
  Resources/Textures/_Nuclear14/Structures/Misc/workbenches.rsi/chemicalsetframe2.png
  Resources/Textures/_Nuclear14/Structures/Misc/workbenches.rsi/chemicalsetframe3.png
  Resources/Textures/_Nuclear14/Structures/Misc/workbenches.rsi/chemicalsetframe4.png
  Resources/Textures/_Nuclear14/Structures/Misc/workbenches.rsi/chemicalsetframe5.png
  Resources/Textures/_Nuclear14/Structures/Misc/workbenches.rsi/meta.json
  Resources/Textures/_Nuclear14/Structures/Misc/workbenches.rsi/workbenchframe0.png
  Resources/Textures/_Nuclear14/Structures/Misc/workbenches.rsi/workbenchframe1.png
  Resources/Textures/_Nuclear14/Structures/Misc/workbenches.rsi/workbenchframe2.png
  Resources/Textures/_Nuclear14/Structures/Misc/workbenches.rsi/workbenchframe3.png
  Resources/Textures/_Nuclear14/Structures/Misc/workbenches.rsi/workbenchframe4.png
Labels: Changes: Sprite, Changes: YML, Changes: Localization

#437 More Autolinks
  Resources/Prototypes/_Nuclear14/Entities/Structures/Doors/door_autolink.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Wallmount/switch_autolink.yml
Labels: Changes: YML

#436 Medicine and Chem update
  Resources/Locale/en-US/_Nuclear14/reagents.ftl
  Resources/Prototypes/Recipes/Reactions/pyrotechnic.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Items/pillcanisters.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Flora/wastelandflora.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/craftingmaterials.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Medical/chemicals.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Medical/fallout_pills.yml
  Resources/Prototypes/_Nuclear14/Reagents/Consumable/extracts.yml
  Resources/Prototypes/_Nuclear14/Reagents/Consumable/food.yml
  Resources/Prototypes/_Nuclear14/Reagents/biological.yml
  Resources/Prototypes/_Nuclear14/Reagents/chems.yml
  Resources/Prototypes/_Nuclear14/Reagents/medicine.yml
  Resources/Prototypes/_Nuclear14/Recipes/Reactions/chems.yml
  Resources/Prototypes/_Nuclear14/Recipes/Reactions/medicine.yml
Labels: Changes: YML, Changes: Localization

#438 Armor stacking resolution
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Head/powerarmorhelmet.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Mask/bandanas.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Mask/gasmasks.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Mask/masks.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/powerarmor.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/knight.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/paladin-commander.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/paladin.yml
Labels: Changes: YML
