Repository Vault-Overseers/nuclear-14, pull requests merged in 2025-07, with the labels that each got.

#914 Analyzer fix
  Resources/Textures/_Nuclear14/Objects/Specific/Medical/healthanalyzer.rsi/analyzer.png
Labels: Changes: Sprite, Changes: YML

#918 Update dotnet from 9.0.100 to 9.0.101
  global.json
Labels: Changes: YML, Changes: Config

#913 Pip-boy geiger counter
  Resources/Prototypes/_Nuclear14/Entities/Objects/Devices/pda.yml
Labels: Changes: YML

#907 Add ghoulification system
  Content.Server/Ghoul/FeralGhoulifyComponent.cs
  Content.Server/Ghoul/GhoulifyComponent.cs
  Content.Server/Ghoul/GhoulifySystem.cs
  Content.Shared/_N14/Radiation/Components/RadiationHealingComponent.cs
  Resources/Locale/en-US/ghouls/ghouls.ftl
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Polymorphs/ghoul.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/Species/ghouls.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, codex, ready to test

#919 Enable reagent evaporation with new flag
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Content.Shared/Fluids/SharedPuddleSystem.Evaporation.cs
  Content.Shared/Fluids/SharedPuddleSystem.cs
Labels: Changes: YML, Changes: C#, codex, ready to test

#926 Shield crafting
  Resources/Prototypes/_Nuclear14/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/shields.yml
  Resources/Prototypes/_Nuclear14/Recipes/Crafting/Graphs/shields.yml
  Resources/Prototypes/_Nuclear14/Recipes/Crafting/shields.yml
Labels: Changes: YML

#928 Add Nuclear14 changelog
  .github/workflows/changelog.yml
  .github/workflows/discord-changelog.yml
  Resources/Changelog/Nuclear14.yml
  Tools/actions_changelog_rss.py
  Tools/actions_changelogs_since_last_run.py
  Tools/changelogs/changelog.js
Labels: Changes: YML, Changes: Workflow, codex

#938 Fix roulette table broadcast
  Content.Server/_N14/Casino/RouletteTableSystem.cs
Labels: Changes: YML, Changes: C#, codex

#934 Add terminal cartridge system
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/Terminal/TerminalBoundUserInterface.cs
  Content.Client/Terminal/TerminalMenu.xaml
  Content.Client/Terminal/TerminalMenu.xaml.cs
  Content.Client/Terminal/TerminalWindow.xaml
  Content.Client/Terminal/TerminalWindow.xaml.cs
  Content.Server/Terminal/TerminalSystem.cs
  Content.Shared/Terminal/TerminalComponent.cs
  Content.Shared/Terminal/TerminalUiKey.cs
  Content.Shared/Terminal/TerminalUpdateState.cs
  Resources/Locale/en-US/pda/pda-component.ftl
  Resources/Prototypes/_Nuclear14/Entities/Structures/Machines/terminals.yml
Labels: Changes: UI, Changes: YML, Changes: C#, Changes: Localization, codex

#943 Add N14 mob docs and feral polymorph fix
  Content.Server/Inventory/ServerInventorySystem.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Shared/Polymorph/PolymorphPrototype.cs
  Resources/Prototypes/Polymorphs/ghoul.yml
  Resources/Prototypes/_Nuclear14/Guidebooks/mobs.yml
  Resources/Prototypes/_Nuclear14/Guidebooks/nuclear14.yml
  Resources/ServerInfo/_Nuclear14/Guidebooks/Crafting/Materials.xml
  Resources/ServerInfo/_Nuclear14/Guidebooks/Mobs/Animals.xml
  Resources/ServerInfo/_Nuclear14/Guidebooks/Mobs/Insects.xml
  Resources/ServerInfo/_Nuclear14/Guidebooks/Mobs/Mutants.xml
  Resources/ServerInfo/_Nuclear14/Guidebooks/Mobs/Robots.xml
  Resources/ServerInfo/_Nuclear14/Guidebooks/Mobs/Species.xml
  Resources/ServerInfo/_Nuclear14/Guidebooks/Mobs/index.xml
Labels: Changes: YML, Changes: C#, Changes: Documentation, codex

#959 Fix Playing Cards (#1872)
  Content.Client/_EstacaoPirata/Cards/Card/CardSystem.cs
  Content.Client/_EstacaoPirata/Cards/CardSpriteSystem.cs
  Content.Client/_EstacaoPirata/Cards/Deck/CardDeckSystem.cs
  Content.Client/_EstacaoPirata/Cards/Hand/CardHandSystem.cs
  Content.Client/_EstacaoPirata/Cards/Hand/UI/CardHandMenu.xaml.cs
  Content.Client/_EstacaoPirata/Cards/Hand/UI/CardHandMenuBoundUserInterface.cs
  Content.Server/_EstacaoPirata/OpenTriggeredStorageFill/OpenTriggeredStorageFillComponent.cs
  Content.Server/_EstacaoPirata/OpenTriggeredStorageFill/OpenTriggeredStorageFillSystem.cs
  Content.Shared/_EstacaoPirata/Cards/Card/CardComponent.cs
  Content.Shared/_EstacaoPirata/Cards/Card/CardSystem.cs
  Content.Shared/_EstacaoPirata/Cards/Deck/CardDeckComponent.cs
  Content.Shared/_EstacaoPirata/Cards/Deck/CardDeckSystem.cs
  Content.Shared/_EstacaoPirata/Cards/Hand/CardHandComponent.cs
  Content.Shared/_EstacaoPirata/Cards/Hand/CardHandSystem.cs
  Content.Shared/_EstacaoPirata/Cards/Stack/CardStackComponent.cs
  Content.Shared/_EstacaoPirata/Cards/Stack/CardStackSystem.cs
  Resources/Locale/en-US/estacao-pirata/cards/cards.ftl
  Resources/Locale/pt-BR/estacao-pirata/cards/cards.ftl
  Resources/Prototypes/EstacaoPirata/Entities/Objects/Misc/black_cards.yml
  Resources/Prototypes/EstacaoPirata/Entities/Objects/Misc/nt_cards.yml
  Resources/Prototypes/EstacaoPirata/Entities/Objects/Misc/syndicate_cards.yml
Labels: Changes: UI, Changes: YML, Changes: C#, Changes: Localization

#923 Enable piping under natural tiles
  Resources/Prototypes/Tiles/planet.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Materials/dirt.yml
  Resources/Prototypes/_Nuclear14/Stacks/material_stacks.yml
  Resources/Prototypes/_Nuclear14/Tiles/floors.yml
  Resources/Textures/_Nuclear14/Objects/Misc/crafting_material.rsi/dirt-wasteland.png
  Resources/Textures/_Nuclear14/Objects/Misc/crafting_material.rsi/dirt.png
  Resources/Textures/_Nuclear14/Objects/Misc/crafting_material.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, codex

#967 Fix ghoulification rad tracking
  Content.Server/Ghoul/GhoulifySystem.cs
Labels: Changes: YML, Changes: C#, codex
