Repository Vault-Overseers/nuclear-14, pull requests merged in 2025-03, with the labels that each got.

#802 Minor Fixes
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/Chemistry/Components/SolutionHeaterComponent.cs
  Resources/Prototypes/Entities/Structures/Machines/hotplate.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/basemob.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Decoration/bonfire.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Machines/grill.yml
  Resources/Prototypes/_Nuclear14/Recipes/Cooking/cutlets.yml
  Resources/Prototypes/_Nuclear14/Recipes/Cooking/steak.yml
  Resources/Textures/_Nuclear14/Structures/Decoration/crafting_junk.rsi/meta.json
  Resources/Textures/_Nuclear14/Structures/Decoration/crafting_junk.rsi/stove_wide_on.png
Labels: Status: Needs Review, Changes: Sprite, Changes: YML, Changes: C#

#801 Minifix for the minigun
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Heavy/minigun.yml
Labels: Changes: YML

#799 attackRate adjustments
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/basemob.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/robots.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/axes.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/baton-club.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/hammer.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/longblades.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/sports.yml
Labels: Changes: YML

#803 fix tiles
  Resources/Prototypes/_Nuclear14/Tiles/floors.yml
  Resources/Textures/_Nuclear14/Tiles/swampland.png
Labels: Changes: YML, Changes: Workflow

#804 mini fix
  Content.Server/_NC/Crafting/STSkinsKitSystem.cs
  Content.Shared/_NC/Crafting/SharedCraftingSystem.cs
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
Labels: Changes: YML, Changes: C#

#806 IntegrationTests fix
  Resources/Prototypes/Catalog/Bounties/bounties.yml
  Resources/Prototypes/Entities/Mobs/NPCs/Rslimes.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xenopet.yml
  Resources/Prototypes/Entities/Structures/Decoration/floordecor.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Entities/Structures/Wallmount/signs.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Decoration/floordecor.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Furniture/beds.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Furniture/junk.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Furniture/other_furniture.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Furniture/street_furniture.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Machines/grill.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/hydroponics.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Power/substation.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Wallmount/signs.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Wallmount/walldecor.yml
  Resources/Textures/_Nuclear14/Structures/Power/power.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#805 Patch 28 02 25
  .github/workflows/build-test-debug.yml
  Content.IntegrationTests/Tests/Chemistry/TryAllReactionsTest.cs
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.Shared/CCVar/CCVars.Game.cs
  Content.Shared/CCVar/CCVars.Vote.cs
  Content.Shared/Chemistry/Reaction/ReactionPrototype.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Locale/en-US/game-ticking/game-ticker.ftl
  Resources/Prototypes/Catalog/Bounties/bounties.yml
  Resources/Prototypes/Entities/Clothing/Masks/bandanas.yml
  Resources/Prototypes/Entities/Markers/environmental.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Guidebook/chemicals.yml
  Resources/Prototypes/Guidebook/medical.yml
  Resources/Prototypes/Guidebook/rules.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_Nuclear14/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/_Nuclear14/Catalog/Cargo/cargo_misc.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/crates.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Flora/wastelandflora.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Medical/chemicals.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Machines/machinepanels.yml
  Resources/Prototypes/_Nuclear14/Guidebooks/rules.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/Graphs/Structures/windows.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/machines.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/structures.yml
  Resources/Prototypes/_Nuclear14/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_Nuclear14/Recipes/Reactions/drinks.yml
  Resources/Prototypes/_Nuclear14/Stacks/medical_stacks.yml
  Resources/Prototypes/_Nuclear14/Tiles/water.yml
  Resources/ServerInfo/Rules.txt
  Resources/ServerInfo/_Nuclear14/ServerRules/BanDurations.xml
  Resources/ServerInfo/_Nuclear14/ServerRules/BanTypes.xml
  Resources/ServerInfo/_Nuclear14/ServerRules/DefaultRuleset.xml
  Resources/Textures/_Nuclear14/Markers/environment.rsi/meta.json
  Resources/Textures/_Nuclear14/Markers/environment.rsi/roof.png
Labels: Changes: Sprite, Changes: YML, Changes: C#, Changes: Localization, Changes: Documentation, Changes: Workflow

#809 GudeBook + minor fixes
  Resources/IgnoredPrototypes/ignoredPrototypes.yml
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/_Nuclear14/Entities/Structures/Machines/machinepanels.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_Nuclear14/Guidebooks/crafting.yml
  Resources/ServerInfo/_Nuclear14/Guidebooks/Crafting/CraftingSys.xml
  Resources/Textures/Corvax/Clothing/OuterClothing/PowerArmor/t51NCR.rsi/equipped-OUTERCLOTHING.png
Labels: Status: Needs Review, Changes: Sprite, Changes: YML, Changes: Localization, Changes: Documentation

#812 Clothing and Shotguns fix for upstream merge
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/coats_and_outer.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/falloutarmor.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/12gauge.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/20gauge.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/12gauge.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/20gauge.yml
Labels: Changes: YML

#815 Fix hairs and use a less idiotic implementation this time so they shouldn't break again
  Resources/Locale/en-US/_Nuclear14/accessories/hair.ftl
  Resources/Prototypes/_Nuclear14/Entities/Mobs/Customization/Markings/hair.yml
Labels: Changes: YML, Changes: Localization

#816 Uniform butchering fix
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Uniform/falloutjumpskirts.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Uniform/falloutjumpsuits.yml
Labels: Changes: YML

#818 General fixes: clothings, resources, buildings. Adds buildable scrap walls
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/coats_and_outer.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/falloutarmor.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/junk.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Medical/healthanalyzer.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Walls/slantedwalls.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/Graphs/Structures/doors.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/Graphs/Structures/walls.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/Graphs/furniture.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/furniture.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/structures.yml
  Resources/Prototypes/_Nuclear14/Recipes/Lathes/tools.yml
Labels: Changes: YML

#817 Cards decks in the pocket
  Resources/Prototypes/EstacaoPirata/Entities/Objects/Misc/black_cards.yml
Labels: Changes: YML

#775 Zealot Duster and Followers Armored Coat crafting + fix for the loadout stuff
  Resources/Prototypes/_Nuclear14/Catalog/Fills/storage_fills_rp.yml
  Resources/Prototypes/_Nuclear14/CharacterItemGroups/neckGroup.yml
  Resources/Prototypes/_Nuclear14/CharacterItemGroups/outerwearGroup.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/coats_and_outer.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/falloutarmor.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/craftingbenches.yml
  Resources/Prototypes/_Nuclear14/Loadouts/outerClothing.yml
  Resources/Prototypes/_Nuclear14/Recipes/Crafting/Graphs/clothing.yml
  Resources/Prototypes/_Nuclear14/Recipes/Crafting/clothing.yml
  Resources/Prototypes/_Nuclear14/Recipes/Lathes/armor.yml
  Resources/Prototypes/_Nuclear14/tags.yml
Labels: Changes: YML

#814 Guidelines Begone & Welcome Rules!
  Resources/Prototypes/DeltaV/Guidebook/species.yml
  Resources/Prototypes/Guidebook/Loadouts/loadoutInfo.yml
  Resources/Prototypes/Guidebook/Lore/settinglore.yml
  Resources/Prototypes/Guidebook/antagonist.yml
  Resources/Prototypes/Guidebook/botany.yml
  Resources/Prototypes/Guidebook/cargo.yml
  Resources/Prototypes/Guidebook/chemicals.yml
  Resources/Prototypes/Guidebook/engineering.yml
  Resources/Prototypes/Guidebook/medical.yml
  Resources/Prototypes/Guidebook/meta.yml
  Resources/Prototypes/Guidebook/psionics.yml
  Resources/Prototypes/Guidebook/radio.yml
  Resources/Prototypes/Guidebook/rules.yml
  Resources/Prototypes/Guidebook/salvage.yml
  Resources/Prototypes/Guidebook/science.yml
  Resources/Prototypes/Guidebook/security.yml
  Resources/Prototypes/Guidebook/shiftandcrew.yml
  Resources/Prototypes/Guidebook/species.yml
  Resources/Prototypes/Guidebook/ss14.yml
  Resources/Prototypes/Nyanotrasen/Guidebook/epistemics.yml
  Resources/Prototypes/_Shitmed/Guidebook/medical.yml
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRuleset.xml
Labels: Changes: YML, Changes: Documentation

#811 Patch 09 mar25
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml.cs
  Content.Client/Flight/FlyingVisualizerSystem.cs
  Content.Client/Weather/WeatherSystem.cs
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/Cargo/Systems/CargoSystem.Bounty.cs
  Content.Server/Ghost/GhostReturnToRoundSystem.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/_Shitmed/Medical/Surgery/SurgerySystem.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Resources/Locale/en-US/_Shitmed/surgery/surgery-ui.ftl
  Resources/Locale/en-US/ghost/ghost-respawn.ftl
  Resources/Locale/ru-RU/ghost/ghost-respawn.ftl
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_EE/Traits/languages.yml
  Resources/Prototypes/_Goobstation/Catalog/Bounties/bounties.yml
  Resources/Prototypes/_Goobstation/Catalog/Cargo/cargo_science.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/coats_and_outer.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/baseRaidersMobs.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/raiders_melee.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/raiders_ranged.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/condiments.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/craftingbenches.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NPC/raider_loadout.yml
  Resources/Prototypes/_Nuclear14/Tiles/water.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgery_steps.yml
  Resources/Textures/_Nuclear14/Clothing/Mask/fallouthazmatsuit.rsi/equipped-MASK.png
  Resources/Textures/_Nuclear14/Clothing/Mask/fallouthazmatsuit.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Clothing/Mask/fallouthazmatsuit.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Clothing/Mask/fallouthazmatsuit.rsi/meta.json
Labels: Changes: UI, Changes: Sprite, Changes: YML, Changes: C#, Changes: Localization

#823 Revert "More hunger update (#663)"
  Content.Server/EntityEffects/Effects/SatiateHunger.cs
  Content.Shared/Nutrition/Components/HungerComponent.cs
Labels: Changes: YML, Changes: C#

#824 Uniforms in loadout selection
  Resources/Prototypes/_Nuclear14/CharacterItemGroups/uniformGroup.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Uniform/falloutjumpsuits.yml
  Resources/Prototypes/_Nuclear14/Loadouts/uniform.yml
Labels: Changes: YML

#830 Patches for #828
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Resources/Locale/en-US/_Nuclear14/traits.ftl
  Resources/Prototypes/Datasets/Names/N14pet_insect.yml
  Resources/Prototypes/Datasets/Names/N14pet_robot.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/pets_machine.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/pets_organic.yml
  Resources/Textures/_Nuclear14/Mobs/Pets/eyebot_mbos.rsi/meta.json
  Resources/Textures/_Nuclear14/Mobs/Pets/eyebot_smile.rsi/meta.json
  Resources/Textures/_Nuclear14/Mobs/Pets/eyebot_wbos.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Changes: C#, Changes: Localization

#821 Guns parts crafting
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/junk.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/craftingbenches.yml
  Resources/Prototypes/_Nuclear14/Recipes/Lathes/misc.yml
  Resources/Prototypes/_Nuclear14/Recipes/Lathes/weapons.yml
Labels: Changes: YML

#835 Fix Scoped Service Rifle Sprites Take Two
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Rifles/scopedservicerifle.rsi/base.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Rifles/scopedservicerifle.rsi/bolt-open.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Rifles/scopedservicerifle.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Rifles/scopedservicerifle.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Rifles/scopedservicerifle.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Rifles/scopedservicerifle.rsi/mag-0.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Rifles/scopedservicerifle.rsi/wielded-inhand-left.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Rifles/scopedservicerifle.rsi/wielded-inhand-right.png
Labels: Changes: Sprite, Changes: YML
