Repository Vault-Overseers/nuclear-14, pull requests merged in 2025-02, with the labels that each got.

#798 Upstream patch 2402 pt.2
  Content.Shared/CCVar/CCVars.AutoVote.cs
  Content.Shared/CCVar/CCVars.Chat.Ooc.cs
  Resources/IgnoredPrototypes/ignoredPrototypes.yml
  Resources/Prototypes/_Nuclear14/Tiles/floors.yml
  Resources/Textures/_Nuclear14/Tiles/swampland.png
Labels: Changes: Map, Changes: UI, Changes: YML, Changes: C#

#796 Thin howard
  Resources/Prototypes/_Nuclear14/Entities/Mobs/GodHoward/GodHoward.yml
Labels: Changes: YML

#774 Update Jar Recipe
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/preserves.yml
  Resources/Prototypes/_Nuclear14/Recipes/Crafting/Graphs/items.yml
  Resources/Prototypes/_Nuclear14/Recipes/Crafting/items.yml
Labels: Changes: YML

#719 Scoped Service Rifle
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Rifles/scopedservicerifle.rsi/base.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Rifles/scopedservicerifle.rsi/bolt-open.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Rifles/scopedservicerifle.rsi/equipped-BACKPACK.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Rifles/scopedservicerifle.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Rifles/scopedservicerifle.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Rifles/scopedservicerifle.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Rifles/scopedservicerifle.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Rifles/scopedservicerifle.rsi/mag-0.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Rifles/scopedservicerifle.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Rifles/scopedservicerifle.rsi/wielded-inhand-left.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Rifles/scopedservicerifle.rsi/wielded-inhand-right.png
Labels: Changes: Sprite, Changes: YML
