Repository Vault-Overseers/nuclear-14, pull requests merged in 2025-08, with the labels that each got.

#952 Guidebook Weapons & Ammo update
  Resources/Locale/en-US/_Nuclear14/guidebooks.ftl
  Resources/Prototypes/_Nuclear14/Guidebooks/weaponsammo.yml
  Resources/ServerInfo/_Nuclear14/Guidebooks/Weapons/Ammunition/index.xml
  Resources/ServerInfo/_Nuclear14/Guidebooks/Weapons/Explosives/index.xml
  Resources/ServerInfo/_Nuclear14/Guidebooks/Weapons/MeleeWeapons/OneHanded/index.xml
  Resources/ServerInfo/_Nuclear14/Guidebooks/Weapons/MeleeWeapons/TwoHanded/index.xml
  Resources/ServerInfo/_Nuclear14/Guidebooks/Weapons/MeleeWeapons/index.xml
  Resources/ServerInfo/_Nuclear14/Guidebooks/Weapons/RangedWeapons/BigGuns/index.xml
  Resources/ServerInfo/_Nuclear14/Guidebooks/Weapons/RangedWeapons/Laser/index.xml
  Resources/ServerInfo/_Nuclear14/Guidebooks/Weapons/RangedWeapons/Plasma/index.xml
  Resources/ServerInfo/_Nuclear14/Guidebooks/Weapons/RangedWeapons/SmallGuns/index.xml
  Resources/ServerInfo/_Nuclear14/Guidebooks/Weapons/RangedWeapons/index.xml
  Resources/ServerInfo/_Nuclear14/Guidebooks/Weapons/WeaponsOther/index.xml
  Resources/ServerInfo/_Nuclear14/Guidebooks/Weapons/index.xml
Labels: Changes: YML, Changes: Localization, Changes: Documentation

#973 3RaRG's Requested Fix
  Resources/ServerInfo/_Nuclear14/Guidebooks/Crafting/Materials.xml
Labels: Changes: YML, Changes: Documentation

#976 Z's Badly Bored - Part 4
  Content.Server/_N14/Support/ArtilleryStrikeSystem.cs
  Content.Server/_N14/Support/VertibirdSupportSystem.cs
  Content.Shared/_N14/Support/ArtilleryStrikeComponent.cs
  Content.Shared/_N14/Support/VertibirdSupportComponent.cs
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/Species/ghouls.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Throwable/support.yml
Labels: Changes: YML, Changes: C#

#977 Biased Town Buff
  Content.Shared/Blocking/Components/BlockingComponent.cs
  Resources/Prototypes/Maps/N14/sunnyvale.yml
Labels: Changes: Map, Changes: YML, Changes: C#

#980 No Surgery Kit
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/UndecidedLoadout.yml
Labels: Changes: YML
