Repository Vault-Overseers/nuclear-14, pull requests merged in 2025-04, with the labels that each got.

#839 Guidebook name changes
  Resources/Locale/en-US/_Nuclear14/guidebooks.ftl
Labels: Changes: YML, Changes: Localization

#838 Fixed Messy Uncatagorised Loadout
  Resources/Prototypes/Loadouts/Generic/backpacks.yml
  Resources/Prototypes/Loadouts/Generic/duffelbags.yml
  Resources/Prototypes/Loadouts/Generic/plasmaman.yml
  Resources/Prototypes/Loadouts/Generic/satchels.yml
  Resources/Prototypes/Loadouts/Jobs/Command/admin_assistant.yml
  Resources/Prototypes/Loadouts/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/Jobs/Command/headOfPersonnel.yml
  Resources/Prototypes/Loadouts/Jobs/Command/magistrate.yml
  Resources/Prototypes/Loadouts/Jobs/Command/nanorep.yml
  Resources/Prototypes/Loadouts/Jobs/Command/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/atmosphericTechnician.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/chiefEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/seniorEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/stationEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/technicalAssistant.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/acolyte.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/cataloger.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/chaplain.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/golemancer.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/mystagogue.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/mystic.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/noviciate.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/psionicMantis.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/command.yml
  Resources/Prototypes/Loadouts/Jobs/Logistics/cargoTechnician.yml
  Resources/Prototypes/Loadouts/Jobs/Logistics/courier.yml
  Resources/Prototypes/Loadouts/Jobs/Logistics/logisticsOfficer.yml
  Resources/Prototypes/Loadouts/Jobs/Logistics/salvageSpecialist.yml
  Resources/Prototypes/Loadouts/Jobs/Logistics/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/chemist.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/chiefMedicalOfficer.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/medicalDoctor.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/medicalIntern.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/psychologist.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/seniorPhysician.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Security/corpsman.yml
  Resources/Prototypes/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/Loadouts/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/Loadouts/Jobs/Security/seniorOfficer.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Security/warden.yml
  Resources/Prototypes/Loadouts/Jobs/Service/bartender.yml
  Resources/Prototypes/Loadouts/Jobs/Service/botanist.yml
  Resources/Prototypes/Loadouts/Jobs/Service/chef.yml
  Resources/Prototypes/Loadouts/Jobs/Service/clown.yml
  Resources/Prototypes/Loadouts/Jobs/Service/janitor.yml
  Resources/Prototypes/Loadouts/Jobs/Service/lawyer.yml
  Resources/Prototypes/Loadouts/Jobs/Service/mime.yml
  Resources/Prototypes/Loadouts/Jobs/Service/musician.yml
  Resources/Prototypes/Loadouts/Jobs/Service/reporter.yml
  Resources/Prototypes/Loadouts/Jobs/Service/uncategorized.yml
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_blue_line_caravan.yml
Labels: Changes: YML

#836 Minor NCR Uniform Additions
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/falloutarmor.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Uniform/falloutjumpsuits.yml
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/ncrcorrectionskevlarvest.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/ncrcorrectionskevlarvest.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/ncrcorrectionskevlarvest.rsi/meta.json
  Resources/Textures/_Nuclear14/Clothing/Uniforms/FalloutSuits/ncrcorrectionsuniform.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Nuclear14/Clothing/Uniforms/FalloutSuits/ncrcorrectionsuniform.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/Uniforms/FalloutSuits/ncrcorrectionsuniform.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#840 Loadout menu small overhaul
  Resources/Locale/en-US/loadouts/categories.ftl
  Resources/Prototypes/Loadouts/Categories/categories.yml
  Resources/Prototypes/Loadouts/Generic/backpacks.yml
  Resources/Prototypes/Loadouts/Generic/belt.yml
  Resources/Prototypes/Loadouts/Generic/duffelbags.yml
  Resources/Prototypes/Loadouts/Generic/mask.yml
  Resources/Prototypes/Loadouts/Generic/satchels.yml
  Resources/Prototypes/_Nuclear14/CharacterItemGroups/maskGroup.yml
  Resources/Prototypes/_Nuclear14/CharacterItemGroups/miscGroups.yml
  Resources/Prototypes/_Nuclear14/CharacterItemGroups/neckGroup.yml
  Resources/Prototypes/_Nuclear14/CharacterItemGroups/outerwearGroup.yml
  Resources/Prototypes/_Nuclear14/CharacterItemGroups/uniformGroup.yml
  Resources/Prototypes/_Nuclear14/CharacterItemGroups/weaponsGroup.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Mask/gasmasks.yml
  Resources/Prototypes/_Nuclear14/Loadouts/categories.yml
  Resources/Prototypes/_Nuclear14/Loadouts/eyes.yml
  Resources/Prototypes/_Nuclear14/Loadouts/hands.yml
  Resources/Prototypes/_Nuclear14/Loadouts/head.yml
  Resources/Prototypes/_Nuclear14/Loadouts/items.yml
  Resources/Prototypes/_Nuclear14/Loadouts/masks.yml
  Resources/Prototypes/_Nuclear14/Loadouts/neck.yml
  Resources/Prototypes/_Nuclear14/Loadouts/outerClothing.yml
  Resources/Prototypes/_Nuclear14/Loadouts/shoes.yml
  Resources/Prototypes/_Nuclear14/Loadouts/uniform.yml
  Resources/Prototypes/_Nuclear14/Loadouts/weapons.yml
Labels: Changes: YML, Changes: Localization

#848 Admeme Analyser
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Medical/healthanalyzer.yml
Labels: Changes: YML

#847 De-Jpegify N14 Wood
  Resources/Textures/_Nuclear14/Tiles/attributions.yml
  Resources/Textures/_Nuclear14/Tiles/maple.png
  Resources/Textures/_Nuclear14/Tiles/oak.png
  Resources/Textures/_Nuclear14/Tiles/oakbroken.png
  Resources/Textures/_Nuclear14/Tiles/woodhouse.png
  Resources/Textures/_Nuclear14/Tiles/woodhousebroken.png
Labels: Changes: YML

#846 Tribal stuff, medical crafting and throwing changes
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Medical/chemicals.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/axes.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/longblades.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_tribe.yml
  Resources/Prototypes/_Nuclear14/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/_Nuclear14/Reagents/Consumable/extracts.yml
  Resources/Prototypes/_Nuclear14/Reagents/medicine.yml
  Resources/Prototypes/_Nuclear14/Recipes/Crafting/Graphs/items.yml
  Resources/Prototypes/_Nuclear14/Recipes/Crafting/Graphs/medical.yml
  Resources/Prototypes/_Nuclear14/Recipes/Crafting/medical.yml
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/tribalpowerhelm.rsi/equipped-HELMET.png
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/tribalpowerhelm.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/tribalpowerhelm.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/tribalpowerhelm.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Clothing/Head/FalloutHelmets/tribalpowerhelm.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Weapons/Melee/TribalSword.rsi/equipped-BELT.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Melee/TribalSword.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Melee/TribalSword.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Melee/TribalSword.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Melee/TribalSword.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Melee/TribalSword.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#829 Small armor buff
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/falloutarmor.yml
Labels: Changes: YML

#849 Fixed File Path & Typo
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/longblades.yml
  Resources/Textures/_Nuclear14/Objects/Weapons/Melee/tribal_sword.rsi/equipped-BELT.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Melee/tribal_sword.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Melee/tribal_sword.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Melee/tribal_sword.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Melee/tribal_sword.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Melee/tribal_sword.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#850 Loadout rebalance
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/falloutarmor.yml
  Resources/Prototypes/_Nuclear14/Loadouts/items.yml
  Resources/Prototypes/_Nuclear14/Loadouts/outerClothing.yml
  Resources/Prototypes/_Nuclear14/Loadouts/weapons.yml
Labels: Changes: YML

#851 Removing Starvation Death Spiral
  Resources/Prototypes/Entities/Mobs/base.yml
Labels: Changes: YML

#833 Add NCRA Medical Dog
  Resources/Locale/en-US/_Nuclear14/ghost-role.ftl
  Resources/Locale/en-US/_Nuclear14/traits.ftl
  Resources/Prototypes/Datasets/Names/N14pet_dog.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/pets_organic.yml
  Resources/Prototypes/_Nuclear14/Traits/mental.yml
  Resources/Textures/_Nuclear14/Mobs/Animals/dog_ncra_medic.rsi/k9_medic.png
  Resources/Textures/_Nuclear14/Mobs/Animals/dog_ncra_medic.rsi/k9_medic_dead.png
  Resources/Textures/_Nuclear14/Mobs/Animals/dog_ncra_medic.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Changes: Localization

#855 Minor addition to ammo crafting (.308, 7.62)
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/craftingbenches.yml
  Resources/Prototypes/_Nuclear14/Recipes/Lathes/ammo.yml
Labels: Changes: YML

#856 small fix
  Resources/Prototypes/Entities/Mobs/base.yml
Labels: Changes: YML
