Repository Vault-Overseers/nuclear-14, pull requests merged in 2025-01, with the labels that each got.

#773 Z's Big Bag
  Resources/Prototypes/_Nuclear14/Damage/modifier_sets.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/basemob.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/ghouls.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/robots.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/explosive.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Heavy/launcher.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Heavy/missile.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/craftingbenches.yml
  Resources/Prototypes/_Nuclear14/Reagents/materials.yml
  Resources/Prototypes/_Nuclear14/Reagents/medicine.yml
  Resources/Prototypes/_Nuclear14/Recipes/Lathes/materials.yml
Labels: Changes: YML

#779 New Crate Republic
  Resources/Locale/en-US/_Nuclear14/undecidedloadout.ftl
  Resources/Prototypes/Maps/N14/sunnyvale.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Items/misc.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Items/toolboxes.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/coats_and_outer.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/falloutarmor.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Shoes/falloutbootsbasic.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/UndecidedLoadout.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/kits.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/longblades.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_cadet.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_engineer.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_lt.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_medic.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_sgt.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_soldier.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_ws.yml
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutNCRwebvest3.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutNCRwebvest3.rsi/icon.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutNCRwebvest3.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutNCRwebvest3.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Clothing/OuterClothing/Armor/falloutNCRwebvest3.rsi/meta.json
Labels: Changes: Map, Changes: Sprite, Changes: Localization

#777 Manifest no more
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: Changes: YML

#782 Language Traits and some fixes
  Content.Server/Jobs/AddTraitSpecial.cs
  Resources/IgnoredPrototypes/ignoredPrototypes.yml
  Resources/Locale/en-US/_Nuclear14/traits.ftl
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
  Resources/Prototypes/Traits/inconveniences.yml
  Resources/Prototypes/Traits/languages.yml
  Resources/Prototypes/Traits/mental.yml
  Resources/Prototypes/Traits/skills.yml
  Resources/Prototypes/WhiteDream/Roles/Antags/blood-cultist.yml
  Resources/Prototypes/_Nuclear14/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Tribal/tribal.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Tribal/tribal_entity.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Tribal/tribalelder.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Tribal/tribalfarmer.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Tribal/tribalhealer.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Wastelanders/musician.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Wastelanders/scavenger.yml
  Resources/Prototypes/_Nuclear14/SoundCollections/lobby.yml
  Resources/Prototypes/_Nuclear14/Species/ghoul.yml
  Resources/Prototypes/_Nuclear14/Species/ghoulglowing.yml
  Resources/Prototypes/_Nuclear14/Traits/languages.yml
Labels: Changes: YML, Changes: C#, Changes: Localization

#788 N14 Surgical Tools
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Medical/surgical_tools.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/longblades.yml
Labels: Changes: YML

#771 fix backpack BoS
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/knight.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/paladin-commander.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/paladin.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/scribe.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/squire.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/commander.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/initiate.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/knight.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/paladin.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/scribe.yml
Labels: Changes: YML

#789 removing gifts from starter kits
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Backpacks/StarterGear/satchel.yml
Labels: Changes: YML

#787 Datura changes and bola crafting
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/craftingbenches.yml
  Resources/Prototypes/_Nuclear14/Loadouts/outerClothing.yml
  Resources/Prototypes/_Nuclear14/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/_Nuclear14/Reagents/Consumable/extracts.yml
  Resources/Prototypes/_Nuclear14/Recipes/Lathes/weapons.yml
Labels: Changes: YML

#785 Patch 170125
  Content.Shared/Fluids/SharedPuddleSystem.Evaporation.cs
  Resources/Locale/en-US/_Nuclear14/traits.ftl
  Resources/Locale/en-US/language/languages.ftl
  Resources/Prototypes/_Nuclear14/Languages/english.yml
Labels: Changes: YML, Changes: C#, Changes: Localization

#783 Tiles added
  Resources/Textures/_Nuclear14/Tiles/ms13/Factory Floor corner 3.png
  Resources/Textures/_Nuclear14/Tiles/ms13/Factory floor T 1.png
  Resources/Textures/_Nuclear14/Tiles/ms13/Factory floor T 2.png
  Resources/Textures/_Nuclear14/Tiles/ms13/Factory floor T 3.png
  Resources/Textures/_Nuclear14/Tiles/ms13/Factory floor T 4.png
  Resources/Textures/_Nuclear14/Tiles/ms13/Factory floor corner 2.png
  Resources/Textures/_Nuclear14/Tiles/ms13/Factory floor corner 4.png
  Resources/Textures/_Nuclear14/Tiles/ms13/Factory floor normal 1.png
  Resources/Textures/_Nuclear14/Tiles/ms13/Factory floor normal 2.png
  Resources/Textures/_Nuclear14/Tiles/ms13/Ice sheet.png
  Resources/Textures/_Nuclear14/Tiles/ms13/Sewer tile horizontal.png
  Resources/Textures/_Nuclear14/Tiles/ms13/Sewer tile vertical.png
  Resources/Textures/_Nuclear14/Tiles/ms13/Stairs down 4.png
  Resources/Textures/_Nuclear14/Tiles/ms13/airlock floor 1.png
  Resources/Textures/_Nuclear14/Tiles/ms13/airlock floor 2.png
  Resources/Textures/_Nuclear14/Tiles/ms13/black foundation tile.png
  Resources/Textures/_Nuclear14/Tiles/ms13/black tile grate horizontal.png
  Resources/Textures/_Nuclear14/Tiles/ms13/black tile grate vertical.png
  Resources/Textures/_Nuclear14/Tiles/ms13/factory floor corner 1.png
  Resources/Textures/_Nuclear14/Tiles/ms13/factoryfloor01.png
  Resources/Textures/_Nuclear14/Tiles/ms13/factoryfloor02.png
  Resources/Textures/_Nuclear14/Tiles/ms13/factoryfloor03.png
  Resources/Textures/_Nuclear14/Tiles/ms13/foundation dirt.png
  Resources/Textures/_Nuclear14/Tiles/ms13/grate sewer extra.png
  Resources/Textures/_Nuclear14/Tiles/ms13/grate sewer.png
  Resources/Textures/_Nuclear14/Tiles/ms13/ice sheet cracked.png
  Resources/Textures/_Nuclear14/Tiles/ms13/military corridor 1.png
  Resources/Textures/_Nuclear14/Tiles/ms13/military corridor 2.png
  Resources/Textures/_Nuclear14/Tiles/ms13/sidewalk corner 1.png
  Resources/Textures/_Nuclear14/Tiles/ms13/sidewalk corner 2.png
  Resources/Textures/_Nuclear14/Tiles/ms13/sidewalk corner 3.png
  Resources/Textures/_Nuclear14/Tiles/ms13/sidewalk corner 4.png
  Resources/Textures/_Nuclear14/Tiles/ms13/sidewalk corner 5.png
  Resources/Textures/_Nuclear14/Tiles/ms13/sidewalk corner 6.png
  Resources/Textures/_Nuclear14/Tiles/ms13/sidewalk corner 7.png
  Resources/Textures/_Nuclear14/Tiles/ms13/sidewalk corner 8.png
  Resources/Textures/_Nuclear14/Tiles/ms13/sidewalk tile centre.png
  Resources/Textures/_Nuclear14/Tiles/ms13/stairs down 1.png
  Resources/Textures/_Nuclear14/Tiles/ms13/stairs down 2.png
  Resources/Textures/_Nuclear14/Tiles/ms13/stairs down 3.png
  Resources/Textures/_Nuclear14/Tiles/ms13/steel turret foundation.png
  Resources/Textures/_Nuclear14/Tiles/ms13/turret foundation tile.png
Labels: Changes: YML

#793 Lunchbox Nerf
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/junk.yml
Labels: Changes: YML
