Repository Vault-Overseers/nuclear-14, pull requests merged in 2025-05, with the labels that each got.

#859 Patches for #858
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Ears/headsets_light.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/coats_and_outer.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/falloutarmor.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/powerarmor.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/UndecidedLoadout.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Medical/chemicals.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Projectiles/energy.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Decoration/flags.yml
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_bos_midwest.yml
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_bos_washington.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/initiate.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/scribe.yml
  Resources/Textures/_Nuclear14/Objects/Specific/Medical/ms13_stimpak.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Specific/Medical/ms13_stimpak.rsi/stimpak-empty-inhand-left.png
  Resources/Textures/_Nuclear14/Objects/Specific/Medical/ms13_stimpak.rsi/stimpak-empty-inhand-right.png
  Resources/Textures/_Nuclear14/Objects/Specific/Medical/ms13_stimpak.rsi/stimpak-empty.png
  Resources/Textures/_Nuclear14/Objects/Specific/Medical/ms13_stimpak.rsi/stimpak-inhand-left.png
  Resources/Textures/_Nuclear14/Objects/Specific/Medical/ms13_stimpak.rsi/stimpak-inhand-right.png
  Resources/Textures/_Nuclear14/Objects/Specific/Medical/ms13_superstimpak.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Specific/Medical/ms13_superstimpak.rsi/superstimpak-empty-inhand-left.png
  Resources/Textures/_Nuclear14/Objects/Specific/Medical/ms13_superstimpak.rsi/superstimpak-empty-inhand-right.png
  Resources/Textures/_Nuclear14/Objects/Specific/Medical/ms13_superstimpak.rsi/superstimpak-empty.png
  Resources/Textures/_Nuclear14/Objects/Specific/Medical/ms13_superstimpak.rsi/superstimpak-inhand-left.png
  Resources/Textures/_Nuclear14/Objects/Specific/Medical/ms13_superstimpak.rsi/superstimpak-inhand-right.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Ammunition/Projectiles/plasma.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/Ammunition/Projectiles/plasma.rsi/plasma.png
Labels: Changes: Sprite, Changes: YML

#842 More Fallout grenades
  Resources/Audio/_Nuclear14/Effects/Wpn_dynam_fuse.ogg
  Resources/Audio/_Nuclear14/Weapons/Effects/Wpn_dynam_fuse.ogg
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/junk.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/explosive.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/_Nuclear14/Recipes/Crafting/Graphs/explosives.yml
  Resources/Prototypes/_Nuclear14/Recipes/Crafting/explosives.yml
  Resources/Prototypes/_Nuclear14/tags.yml
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/Baseballnade.rsi/equipped-BELT.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/Baseballnade.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/Baseballnade.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/CryoGrenade.rsi/equipped-BELT.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/CryoGrenade.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/CryoGrenade.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/CryoGrenade.rsi/primed.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/Dynamite.rsi/equipped-BELT.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/Dynamite.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/Dynamite.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/Dynamite.rsi/primed.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/Firecracker.rsi/equipped-BELT.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/Firecracker.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/Firecracker.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/Firecracker.rsi/primed.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/FirecrackerFull.rsi/equipped-BELT.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/FirecrackerFull.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/FirecrackerFull.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/FirecrackerFull.rsi/primed.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/FirecrackerHalf.rsi/equipped-BELT.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/FirecrackerHalf.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/FirecrackerHalf.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/FirecrackerHalf.rsi/primed.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/KettleBomb.rsi/equipped-BELT.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/KettleBomb.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/KettleBomb.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/KettleBomb.rsi/primed.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/NukaCocktail.rsi/equipped-BELT.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/NukaCocktail.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/NukaCocktail.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/NukaCocktail.rsi/primed.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/NukaNade.rsi/equipped-BELT.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/NukaNade.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/NukaNade.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/NukaNade.rsi/primed.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/PlasmaGrenade.rsi/equipped-BELT.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/PlasmaGrenade.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/PlasmaGrenade.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/PlasmaGrenade.rsi/primed.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/TincanNade.rsi/equipped-BELT.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/TincanNade.rsi/icon.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/TincanNade.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Weapons/Grenades/TincanNade.rsi/primed.png
Labels: Changes: Sprite, Changes: YML, Changes: Audio

#860 General Fixes & Balance
  Resources/Prototypes/Tiles/floors.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/UndecidedLoadout.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/kits.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Medical/chemicals.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Melee/longblades.yml
  Resources/Prototypes/_Nuclear14/Reagents/medicine.yml
  Resources/Prototypes/_Nuclear14/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/paladin-commander.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/paladin.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/commander.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/paladin.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/factions.yml
  Resources/Prototypes/_Nuclear14/Tiles/floors.yml
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t51wash.rsi/icon-unshaded.png
  Resources/Textures/_Nuclear14/Clothing/Head/PowerArmorHelmets/t51wash.rsi/icon.png
Labels: Changes: Sprite, Changes: YML

#862 Smol Fix
  Resources/Prototypes/_Nuclear14/Entities/Structures/Walls/rock.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Wastelanders/chaplain.yml
Labels: Changes: YML

#867 Weather War
  Resources/Prototypes/_Nuclear14/weather.yml
  Resources/Prototypes/weather.yml
Labels: Changes: YML

#869 Friday-Saturday Fixes
  Content.Server/Power/EntitySystems/ChargerSystem.cs
  Content.Shared/Morgue/Components/MorgueComponent.cs
  Resources/Migrations/N14Migrations.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/powerarmor.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/junk.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/kits.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Medical/chemicals.yml
  Resources/Prototypes/_Nuclear14/Recipes/Lathes/ammo.yml
Labels: Changes: YML, Changes: C#

#871 Monday or Something
  Resources/Prototypes/Entities/Markers/environmental.yml
  Resources/Prototypes/Entities/Markers/tile.yml
  Resources/Prototypes/Entities/Structures/Wallmount/base_lighting.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/kits.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/floradesert.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Wallmount/base_lighting.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Walls/rock.yml
  Resources/Prototypes/_Nuclear14/Guidebooks/rules.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/Graphs/Structures/lighting.yml
  Resources/Textures/Markers/environment.rsi/base-blue.png
  Resources/Textures/Markers/environment.rsi/base-green.png
  Resources/Textures/Markers/environment.rsi/base-red.png
  Resources/Textures/Markers/environment.rsi/fire.png
  Resources/Textures/Markers/environment.rsi/meta.json
  Resources/Textures/Markers/environment.rsi/rad.png
  Resources/Textures/Markers/environment.rsi/target-blue.png
  Resources/Textures/Markers/environment.rsi/target-red.png
Labels: Changes: Sprite, Changes: YML

#876 Screw Crawling & Bug Fixes
  Content.Shared/CCVar/CCVars.LayingDown.cs
  Content.Shared/Standing/LayingDownComponent.cs
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Back/powersystems.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Hands/powergauntlets.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/powerarmor.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/Shoes/powerboots.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: Changes: YML, Changes: C#

#874 Building Addings
  Resources/Prototypes/_Nuclear14/Entities/Structures/Doors/FalloutDoors/airlocks.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Doors/doors.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/craftingbenches.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/Graphs/Structures/doors.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/structures.yml
  Resources/Prototypes/_Nuclear14/Recipes/Lathes/identification.yml
Labels: Changes: YML

#882 Re-enable Radios
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
Labels: Changes: YML, Changes: C#

#884 Drawdepth Shenanigans
  Content.Shared/Standing/LayingDownComponent.cs
  Resources/Prototypes/_Nuclear14/Entities/Structures/Machines/SpecificTerminals/access_terminal.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Machines/misc_machines.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/ladders.yml
Labels: Changes: YML, Changes: C#

#885 guns inhand/wielded resprites
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/SMGs/10mmSMG.rsi/equipped-BACKPACK.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/SMGs/10mmSMG.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/SMGs/10mmSMG.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/SMGs/10mmSMG.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/SMGs/10mmSMG.rsi/wielded-inhand-left.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/SMGs/10mmSMG.rsi/wielded-inhand-right.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/SMGs/10mmSMGsuppressed.rsi/equipped-BACKPACK.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/SMGs/10mmSMGsuppressed.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/SMGs/10mmSMGsuppressed.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/SMGs/10mmSMGsuppressed.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/SMGs/10mmSMGsuppressed.rsi/wielded-inhand-left.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/SMGs/10mmSMGsuppressed.rsi/wielded-inhand-right.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/SMGs/9mmSMG.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/SMGs/9mmSMG.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/SMGs/9mmSMG.rsi/wielded-inhand-left.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/SMGs/9mmSMG.rsi/wielded-inhand-right.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/SMGs/infiltrator.rsi/equipped-BACKPACK.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/SMGs/infiltrator.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/SMGs/infiltrator.rsi/inhand-left.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/SMGs/infiltrator.rsi/inhand-right.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/SMGs/infiltrator.rsi/wielded-inhand-left.png
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/SMGs/infiltrator.rsi/wielded-inhand-right.png
Labels: Changes: Sprite, Changes: YML

#886 Patches Before Friday
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/identification.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/Graphs/Structures/doors.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/structures.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/knight.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/paladin-commander.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/paladin.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/scribe.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/commander.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/initiate.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/paladin.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodWashington/scribe.yml
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/SMGs/10mmSMG.rsi/meta.json
  Resources/Textures/_Nuclear14/Objects/Weapons/Guns/SMGs/10mmSMGsuppressed.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#893 Late Night Patches
  Content.Shared/CCVar/CCVars.NPC.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/_Nuclear14/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/baseRaidersMobs.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/faction_humanoids.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/landmine.yml
  Resources/Prototypes/_Nuclear14/NPCs/Combat/gun.yml
  Resources/Prototypes/_Nuclear14/NPCs/Combat/melee.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NPC/faction_npc_loadout.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NPC/raider_loadout.yml
Labels: Changes: YML, Changes: C#
